
.flip-clock-wrapper *{
-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;
-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-o-backface-visibility:hidden;backface-visibility:hidden;}
.flip-clock-wrapper ul{list-style: none;}
.flip-clock-wrapper.clearfix:before,
.flip-clock-wrapper.clearfix:after{content:" ";display:table;}
.flip-clock-wrapper.clearfix:after{clear:both;}
.flip-clock-wrapper.clearfix{*zoom:1;}

/* Main */
.flip-clock-wrapper{font:normal .68em 'Open Sans',sans-serif;-webkit-user-select:none;background:transparent url('../img/proximamente.png') center 0 no-repeat;
text-align:center;top:50%;position:absolute;width:100%;left:0;margin:-110px 0 0 0;padding-top:126px;}
.flip-clock-wrapper:after{clear:both;}
.flip-clock-meridium{background:none !important;box-shadow:0 0 0 !important;font-size:36px !important;}
.flip-clock-meridium a{color:#313333;}

/* Skeleton */
.flip-clock-wrapper ul{position:relative;display:inline-block;margin:0;width:60px;height:90px;font-size:7.2em;font-weight:bold;line-height:1;}
.flip-clock-wrapper ul li{z-index:1;position:absolute;left:0;top:0;width:100%;height:100%;line-height:87px;text-decoration:none !important;}
.flip-clock-wrapper ul li:first-child{z-index:2;}
.flip-clock-wrapper ul.flip:nth-child(3) li,
.flip-clock-wrapper ul.flip:nth-child(6) li,
.flip-clock-wrapper ul.flip:nth-child(9) li,
.flip-clock-wrapper ul.flip:nth-child(12) li{margin-left:-8px;}
.flip-clock-wrapper ul li a{display:block;height:100%;margin:0 !important;overflow:visible !important;cursor:default !important;
-webkit-perspective:200px;-moz-perspective:200px;perspective:200px;}
.flip-clock-wrapper ul li a div {
  z-index: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  overflow: hidden; 
  outline: 1px solid transparent; }

.flip-clock-wrapper ul li a div .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2; }

.flip-clock-wrapper ul li a div.up {
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  top: 0; }

.flip-clock-wrapper ul li a div.up:after {
  content: "";
  position: absolute;
  top: 44px;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 3px;}

.flip-clock-wrapper ul li a div.down{
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  bottom: 0;
}
.flip-clock-wrapper ul li a div div.inn {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 200%;
  color: #ccc;
  text-shadow: 0 1px 2px #000;
  text-align: center;}

.flip-clock-wrapper ul li a div.up div.inn {
  top: 0; }
.flip-clock-wrapper ul li a div.down div.inn {
  bottom: 0; }

.flip-clock-wrapper ul .flip-clock-before a div.up div.inn,
.flip-clock-wrapper ul .flip-clock-before a div.down div.inn{opacity:0;filter:alpha(opacity=0);}
.flip-clock-wrapper ul:last-child .flip-clock-before a div.up div.inn,
.flip-clock-wrapper ul:last-child .flip-clock-before a div.down div.inn{opacity:1;filter:alpha(opacity=100);}

/* PLAY */
.flip-clock-wrapper ul.play li.flip-clock-before{z-index:3;}
.flip-clock-wrapper ul.play li.flip-clock-active{z-index:5;}

.flip-clock-divider{
  display:inline-block;
  position:relative;
  width:12px;
  height:100px;margin:0 10px 0 0;}

.flip-clock-divider:first-child {
  width: 0; }

.flip-clock-dot {
  display: block;
  background:#fff;
  width:1px;
  height:60px;
  position:absolute;
  left:5px;}

.flip-clock-divider .flip-clock-label{right:-85px;position:absolute;bottom:-14px;font-size:1.5em;color:#E2B029;text-shadow:none;}
.flip-clock-divider.horas .flip-clock-label{right:-89px;}
.flip-clock-divider.minutos .flip-clock-label{right:-94px;}
.flip-clock-divider.segundos .flip-clock-label{right:-103px;}
.flip-clock-dot.top{top:-10px;}
.flip-clock-dot.bottom{bottom:-10px;}
.flip-clock-wrapper ul li.flip-clock-before{display:none;}
.flip-clock-wrapper ul li.flip-clock-active{z-index:3;}
