//imports
@import 'node_modules/nib/index.styl'
@import "normalize.css";
@import "font-awesome.min.css";

//Vendors
vendor-prefixes = o ms moz webkit khtml official

//El css
#logo
	background transparent url('../img/logos.png') 0 0 no-repeat
html,body
	height 100%
.is-visible
	-webkit-transition all ease-in .3s
	-moz-transition all ease-in .3s
	-ms-transition all ease-in .3s
	-o-transition all ease-in .3s
	transition all ease-in .3s
	
body
	background #000
	background-size cover
	transition background .5s linear
	#simplemodal-overlay
		background rgba(0,0,0,.8)
	#simplemodal-container
		width 100% !important
		height 100% !important
		left 0 !important
		top 0 !important
		a.modalCloseImg.simplemodal-close
			display none
		div.simplemodal-wrap
			position absolute
			overflow auto !important
			#simplemodal-data
				background transparent url('../img/bg_edad.png') 0 0 repeat
				padding 34px 120px
				color #d59e0f
				text-align center
				overflow hidden
				width 630px
				height 492px
				top 50%
				margin -280px auto 0 auto
				p
					text-transform uppercase
					font-size 1.2em
					margin 0 0 15px
				img
					width 210px
				#spth
					margin 20px auto 0
					width 630px
					h2,h4
						margin 0
						text-transform uppercase
					h2
						font-size 2em
					h4
						font-family 'Chivo-Light'
						color #fff
						font-size 1.5em
					form
						overflow hidden
						.inputs
							margin 36px 0 25px
							ul
								list-style none
								margin 0
								padding 0 0 0 14px
								display inline-block
								li
									width 110px
									display inline-block
									padding 0
									margin 0
									input
										font-family 'Chivo-Light'
										width 100%
										background none
										border 0
										margin 0
										color #fff
										font-size 3.2em
										padding 0 10px
									::-webkit-input-placeholder
										color #fff
									:-moz-placeholder
										color #fff
									::-moz-placeholder
										color #fff
									:-ms-input-placeholder
										color #fff
								li:nth-child(2)
									width 132px
									border-left 2px dotted #fff
									border-right 2px dotted #fff
									padding-left 15px
								li:last-child
									padding-left 20px
									width 175px
						.selects
							line-height 1
							span
								border 1px solid #fff
								overflow hidden
								width 280px
								display inline-block
								height 48px
								select
									font-family 'Chivo-Light'
									font-weight normal
									font-size 1.4em
									margin 0
									background none
									color #fff
									border 0
									border-radius 0
									padding 0
									width 100%
									display block
									padding 0 6px
									appearance none
							button
								vertical-align top
								display inline-block
								height 50px
								width 130px
								background none
								appearance none
								border 1px solid #d59e0f
								margin-left 34px
						a
							display block
							float left
							margin 20px 20px 0 0
							img
								display block
								height auto
						a.im:nth-child(3)
							img
								width 42px
						a.im:nth-child(4)
							margin-top 25px
							img
								width 34px
						p
							margin 25px 0 0 0
							overflow hidden
							display block
							font-size .85em
							color #fff
							line-height 1.2
							text-align left
							font-family 'Chivo-Light'
							font-weight normal
							text-transform none
							a
								font-family 'Chivo-Light'
								font-weight normal
								display inline
								float none
								margin 0
								text-decoration underline
							a:hover
								color #fff
	#logo
		width 252px
		height 100px
		background-size cover
	.bloqueo
		display none
		position fixed
		width 100%
		height 100%
		background #222 url('../img/position.png') center center/200px no-repeat
		z-index 99999
	.cargando
		position fixed
		width 100%
		height 100%
		z-index 999999
		background #000 url('../img/pre_4.gif') center center no-repeat
	a.menu
		color #fff
		position fixed
		right 50px
		top 40px
		z-index 9999
		font-size 25px
	a#facebook
		width 22px 
		height 22px 
		display block
		background-image url(../img/facebook.png)
		position fixed
		right 50px
		top 80px
		z-index 9999
		&:hover, &.dark
			background-image url(../img/facebook_hover.png)
			transition all .5s ease-in-out
			
	a#twitter
		width 22px 
		height 22px 
		display block
		background-image url(../img/twitter.png)
		position fixed
		right 50px
		top 111px
		z-index 9999
		&:hover, &.dark
			background-image url(../img/twitter_hover.png)
			transition all .5s ease-in-out
	a#instagram
		width 22px 
		height 22px 
		display block
		background-image url(../img/instagram.png)
		transition all .5s ease-in-out
		position fixed
		right 50px
		top 142px
		z-index 9999
		&:hover, &.dark
			background-image url(../img/instagram_hover.png)
			transition all .5s ease-in-out
	a.menu.negro
		color #0380e2
	a.menu:hover
		color #0380e2
	.menu_grande.cerrado
		top -100%
		transition all .5s ease-in-out
	.menu_grande
		z-index 9998
		position fixed
		top 0
		left 0
		height 100%
		width 100%
		margin 0
		padding 0
		text-align center
		background #000 url("../img/bg_1.jpg") center top no-repeat
		background-size cover
		transition all .5s ease-in-out
		ul
			list-style none
			display block
			margin -171px auto 0
			padding 0
			height 342px
			width 480px
			top 50%
			li
				display block
				margin 0 auto 20px
				padding 0
				a
					text-transform uppercase
					font-family 'Chivo-Light'
					font-size 1.35em
				a:hover
					color #0971ce
				span
					opacity 0
					display inline-block
					height 8px
					width 134px
					background transparent url('../img/mnu_iz.png') 0 0 no-repeat
				span:nth-child(3)
					background transparent url('../img/mnu_de.png') 0 0 no-repeat
			li:last-child
				margin-bottom 0
				a
					font-size .9em
					display inline-block
					padding 0 6px
					border 1px solid #0380e2
					color #fff
					background #0380e2
			li:hover
				span
					opacity 1
				a
					color #0971ce
			li:last-child:hover
				a
					color #d59e0f
body.loaded
	.cargando
		display none
// Solo el home
body
	.cd-header
		position relative
		height 100%
		z-index 1
		h1
			width auto
			height 92px
			padding 0
			margin 0
			font-size 1em
			line-height 1
			position absolute
			right 150px
			bottom 190px
			overflow hidden
			text-align center
			img
				max-width 100%
				max-height 100%
				width auto
				height auto
		a
			position absolute
			display block
			text-align center
			text-transform uppercase
			bottom 50px
			right 188px
			z-index 9
			span
				color #fff
				background #0380e2
				border 1px solid #0380e2
				padding 5px 20px
				display block
			img
				margin 10px 0 0 0
		p
			font-size .9em
			font-family 'Chivo-Light'
			display block
			position absolute
			right 76px
			bottom 140px
			text-align center
			width 340px
			line-height 1.3
	.cd-fixed-background
		position relative
		padding 3em 5% 0
		h2,p
			color #f2e6cd
		h2
			font-size: 2.4rem
			margin-bottom: 1em
		p
			line-height 1.6
		.light-background h2,.light-background p
			color #0f594d
	.cd-header,.cd-fixed-background.img-1
		background transparent url('../img/bg_1.jpg') left top no-repeat
	.cd-fixed-background.img-1
		background-position left bottom
		.cd-content
			width 100%
			height 100%
			margin 0
			padding 0
			left 0
			a
				font-size .8em
				color #fff
				background #0380e2
				border 1px solid #0380e2
				padding 5px 15px
				display block
				position absolute
				left 50%
				bottom 45px
				text-transform uppercase
			svg
				position absolute
				bottom 100px
				left 7%
				width 55%
				height auto
			svg#amstel_front
				z-index 9
				g
					g
						path,text,text tspan,rect
							fill #fff
					text,text tspan
						fill #fff
			svg#amstel_back
				z-index 8
				g
					g
						path,text,text tspan,rect
							fill rgba(20,132,232,0.5)
					text,text tspan
						fill rgba(20,132,232,0.5)
			img.anim.de
				z-index 9
			div.conoce_mas
				opacity 0
				background rgba(26,26,26,0.8)
				font-weight normal
				text-align right
				padding 33px 33% 20px 5%
				position absolute
				right -100%
				bottom 10%
				width 50%
				min-width 612px
				transition all 1s ease-in-out
				h2
					font-family 'Chivo-Light'
					line-height 1.2
					color #3892e2
					font-size 1.33em
					text-transform uppercase
					span
						font-family 'Chivo-Bold'
				p
					font-family 'Chivo-Light'
					color #fff
					line-height 1.3
					font-size 1.1em
					margin 0 0 20px 0
				h3
					margin 0
				a
					padding 0 5px
					font-family 'Chivo-Light'
					left auto
					bottom auto
					display inline-block
					position relative
					margin-top 15px
	.cd-fixed-background.img-1.is-visible:not(.mas)
		.cd-content
			svg#amstel_back
				transition all 10s
				animation neon3 5s ease infinite alternate
				g
					text:nth-child(4)
						tspan:nth-child(2)
							fill rgba(178,158,255,0.48)
							transition all 4s
							animation neon2 2s ease infinite alternate
	.cd-fixed-background.img-1.mas
		.cd-content
			div.conoce_mas
				opacity 1
				right 0
	.cd-fixed-background.img-2
		background #fff
		padding 0
		.cd-content.light-background
			width 100%
			height 100%
			margin 0
			padding 0
			left 0
			iframe
				width 100%
				height 100%
	.cd-fixed-background.img-3
		background transparent url('../img/bg_2.jpg') center center no-repeat
		.cd-content
			height 510px
			overflow hidden
			padding 0
			margin -255px 0 0 0
			top 50%
			h2.hist
				font-family 'Chivo-Bold'
				display block
				color #888888
				font-size 3.6rem
				text-transform uppercase
				text-align center
				margin 0px auto 5px auto
				text-transform uppercase
				line-height 1
				padding 0
				text-shadow 3px 3px 0 #fff,-1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff,4px 4px 0 #888

			div.sliderHistoria
				max-width 80%
				margin 0 auto
				padding 8px 0
				div.slidesContainer
					max-height 100%
					overflow visible
					cursor ew-resize
					div
						div
							overflow hidden
							height 425px
							background rgba(255,255,255,0.6)
							display block
							box-shadow 0 0 6px #666
							border-radius 10px
							cursor ew-resize
							margin 0 12px
							padding 0 7px
							img
								display block
								border 0
								margin 24px auto 4px auto
								padding 0
								max-width 100%
								height auto
								max-height 250px
							p
								color #fff
								font-family 'Chivo-Light'
								font-size 1.4em
								line-height 1
								margin 5px auto
								text-align center
								padding 0
								display block
								max-width 330px
								cursor ew-resize
							h3
								font-size 1.8em
								cursor ew-resize
								text-align center
						div.blu
							background rgba(40,108,169,0.8)
							h4
								font-size 1.3em
								cursor ew-resize
								text-align center
								padding 20px 0 10px
								text-transform uppercase
						div.whi
							box-shadow none
							img
								max-height 130px
								margin 5px auto 0 auto
							h3
								color #7dbaf0
								text-transform uppercase
								font-family 'Chivo-Light'
								font-size 2.6em
								margin 24px auto 30px auto
							p,h4
								color #000
							h4
								font-size 1.9em
								margin 0
								text-align center
							p
								max-width 360px
								text-align center
								
						div.whi.smalltext
							p 
								color #4e4e4e
								font-size 1.1em
								margin 15px auto
								text-align center
							h4 
								color #0971ce
								text-transform uppercase
								font-size 1.3em
								text-align center
	.cd-fixed-background.img-4
		background transparent url('../img/bg_3.jpg') center center no-repeat
		.cd-content
			height 100%
			overflow hidden
			h2
				text-transform uppercase
				text-align center
				margin 130px auto 70px auto
				color #fff
				text-shadow 3px 3px 0 #000,-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000,4px 4px 0 rgba(255,255,255,.4)
			.centrar
				position absolute
				width 100%
				top 50%
				margin-top -111px
			div
				text-align center
				div
					display inline-block
					position relative
					font-size 1.8em
					text-align center
					vertical-align top
					line-height 1
					width 222px
					height 222px
					border-radius 50%
					text-transform uppercase
					background transparent url('../img/i_eurpeo.png') 0 0 no-repeat
					padding 0
					margin 0
					cursor pointer
					transition all 0.4s ease-in-out
					div.fondo
						position absolute
						width 100%
						height 100%
						margin 0
						padding 0
						border 3px solid #0971ce
						box-sizing border-box
						border-radius 50%
						transition all 0.4s ease-in-out
						transform scale(0)
						background #000
						top 0
						left 0
						z-index 8
					h3
						margin 0
						padding 90px 0 50px 0
						line-height 1
						z-index 9
					span.desc
						text-align left
						opacity 0
						width 400px
						height 197px
						position absolute
						left 111px
						top 0
						z-index 7
						padding 25px 10px 0 125px
						background rgba(0,0,0,.7)
						overflow hidden
						font-size .75em
						font-family 'Chivo-Light'
						text-transform none
						h4
							text-transform uppercase
							display inline-block
						a 
							font-size .8em
							color #fff
							border 1px solid 
							padding 5px 10px
							display block
							position absolute
							text-transform uppercase
							background #0380e2
						a.der 
							left 10px
							bottom 10px
						a.izq
							right 10px
							bottom 10px
							
				div:nth-child(3),div:nth-child(4)
					span.desc
						text-align right
						left auto
						right 111px
						padding 25px 125px 0 10px
				div.abierto
					div.fondo
						transform scale(1)
					span.desc
						//width 420px
						opacity 1
				div.cerrados
					opacity 0
				div:first-child
					h3
						padding-top 70px
				div:nth-child(2)
					background-image url('../img/i_cebada.png')
				div:nth-child(3)
					background-image url('../img/i_levadura.png')
				div:nth-child(4)
					background-image url('../img/i_agua.png')
				div:nth-child(1),div:nth-child(2),div:nth-child(3)
					margin-right 30px
				div:hover:not(.abierto)
					h3
						color #0971ce
					div.fondo
						transform scale(1)
	.cd-fixed-background.img-5
		background transparent url('../img/tenis_1.jpg') center center no-repeat
		position relative
		.camisax
			background transparent url('../img/tenis_1.png') center center no-repeat
			margin 0
			padding 0
			height 100%
			width 100%
			background-size cover !important
			display none
			position absolute
		.cd-content
			padding 0 126px
			height 100%
			img
				margin-top 54px
			img:first-child
				float left
			img:nth-child(2)
				float right
			img.abierto
				position absolute
				display block
				width 50%
				height auto
				max-width 660px
				clear both
				bottom 140px
				transition all 1s ease-in-out
			a.mas
				font-size .8em
				color #fff
				background #0380e2
				border 1px solid #0380e2
				padding 5px 15px
				display inline-block
				text-transform uppercase
				position absolute
				bottom 100px
				left 138px
			p
				color #fff
				line-height 1.2
				font-size 1.3em
				font-family 'Chivo-Light'
				display block
				position absolute
				max-width 430px
				bottom 40px
				margin-left 20px
				opacity 0
				transition all 1s ease-in-out
				span
					font-family 'Chivo-Bold'
		.cd-content.leemas
			img.abierto
				bottom 200px
			a.mas
				display none
			p
				transition all 1s ease-in-out
				opacity 1
	.cd-header,.cd-fixed-background
		background-size cover !important
		overflow hidden
		img.anim
			max-width 100%
			max-height 100%
			min-height 90%
			width auto
			height auto
			position absolute
			bottom 0
		img.iz
			left 0
		img.de
			right 0
	.cd-vertical-nav
		position fixed
		z-index 2
		right 3%
		top 50%
		bottom auto
		transform translateY(-50%)
		display none
		list-style none
		a
			display block
			height 40px
			width 40px
			overflow hidden
			text-indent 100%
			white-space nowrap
			background transparent url('../img/cd-icon-arrow.svg') no-repeat center center
			transition opacity 0.2s 0s, visibility 0.2s 0s
		a.cd-prev
			transform rotate(180deg)
			margin-bottom 10px
		a.inactive
			visibility hidden
			opacity 0
			transition opacity 0.2s 0s, visibility 0s 0.2s
	.no-js .cd-vertical-nav
		display: none
	span.controls
		display block
		text-align center
		position absolute
		margin-bottom -30px
		bottom 50%
		left 0
		width 100%
		z-index 9
		a.prevBtn,a.nextBtn
			display block
			height 57px
			width 36px
		a.prevBtn
			background transparent url('../img/h_izquierda.png') 0 0 no-repeat
			float left
			margin-left 5%
		a.nextBtn
			background transparent url('../img/h_derecha.png') 0 0 no-repeat
			float right
			margin-right 5%
		ol
			display none /* inline-block */
			list-style none
			margin 0 auto
			padding 0
			li
				display inline-block
				a
					display block
					width 9px
					height 9px
					circulo(9px)
					background #73aee2
					margin 0 0 0 11px
					span
						display none
			li.current a
				background #d59e0f
	nav#nu
		display none
body.terminos
	background transparent url("../img/bg_1.jpg") center top repeat-y
	background-size cover
	#wraper
		overflow hidden
		.terminos
			background-color rgba(0,0,0,.6)
			margin 20px auto
			max-width 600px
			padding-left 20px
			border 1px solid #fff
			border-top 0
			border-right 0
			border-bottom 0
			font-size 0.8em
			padding-bottom 30px
			text-align justify
			img
				width 167px
				position fixed
				margin-left -212px
				top 20px
			h1
				margin-bottom 20px
			p
				margin 0 0 10px 0
			ol
				margin-left 18px
				li
					margin-bottom 10px
body.home,body.terminos
	footer.proximamente
		height 60px
		overflow hidden
		bottom 0
		left 0
		margin 0
		padding 8px 0
		width 100%
		background #1d1d1d
		z-index 10
		text-align center
		a
			display inline-block
			overflow hidden
			margin 0 15px
		a:hover
			color #fff
			text-decoration underline
		a.none:hover
			text-decoration none
		span.nc
			display inline-block
			a
				padding-bottom 20px
				font-size .85em
			a:first-child
				margin-left 0
		span.nx
			a
				width 40px
				padding 0
			a:last-child
				margin-right 0
//Animaciones

@keyframes neon1
	0%
		stroke-width 0px
	30%
		stroke-width 0px
	31%
		stroke #611AEF
		stroke-width 4px
	98%
		stroke #611AEF
		stroke-width 4px
	100%
		stroke-width 0px
@keyframes neon2
	0%
		text-shadow 0 0 20px #228DFF, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #228DFF//, 0 0 50px #228DFF, 0 0 60px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF
	10%
		text-shadow 0
	20%
		text-shadow 0 0 10px #228DFF ,0 0 10px #fff,0 0 15px #fff,0 0 20px #228DFF//,0 0 35px #228DFF,0 0 40px #228DFF,0 0 50px #228DFF,0 0 75px #228DFF
	30%
		text-shadow 0
	40%
		text-shadow 0 0 20px #228DFF, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #228DFF//, 0 0 50px #228DFF, 0 0 60px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF
	85%
		text-shadow 0 0 10px #228DFF,0 0 10px #fff,0 0 15px #fff,0 0 20px #228DFF//,0 0 35px #228DFF,0 0 40px #228DFF,0 0 50px #228DFF,0 0 75px #228DFF
	90%
		text-shadow 0
@keyframes neon3
	0%
		bottom 105px
		left 6.8%
	25%
		bottom 105px
		left 7.1%
	50%
		bottom 100px
		left 6.9%
	75%
		bottom 100px
		left 7.1%
	100%
		bottom 102px
		left 6.9%
//responsivo
@media only screen and (min-width:1048px)
	body
		overflow-x hidden
@media screen and (max-height:520px) and (orientation:landscape)
	body
		#simplemodal-data
			padding 10px 50px
			font-size .9em
			#spth
				margin-top 10px
				width 570px
@media screen and (max-height:580px)
	body
		font-size 15px
		.cd-fixed-background.img-1
			.cd-content
				div.conoce_mas
					bottom 20px
		.cd-fixed-background.img-5
			.cd-content
				img
					margin-top 10px
				img.abierto
					width 42%
				p
					font-size 1em
					bottom 60px
			.cd-content.leemas
				img.abierto
					bottom 170px
@media screen and (max-height:490px)
	body
		.cd-fixed-background.img-1
			.cd-content
				div.conoce_mas
					bottom 0
		.cd-fixed-background.img-3
			.cd-content
				height auto
				margin 0
				top 0
				p.hist
					margin-top 20px
				div.sliderHistoria
					margin-top 20px
					div.slidesContainer
						div
							div
								height 380px !important
								img
									max-height 200px
							div.whi
								img
									max-height 80px
		.cd-fixed-background.img-4
			.cd-content
				h2
					margin-top 20px
		.cd-fixed-background.img-5
			.cd-content
				p
					bottom 20px
			.cd-content.leemas
				img.abierto
					bottom 118px
@media screen and (max-height:440px)
	body
		.cd-fixed-background.img-1
			.cd-content
				div.conoce_mas
					h2
						font-size 1.2em
						margin-bottom .6em
					p
						font-size 1em
						line-height 1.2
						margin-bottom 10px
					h3
						font-size 1.2em
		.cd-fixed-background.img-5
			.cd-content
				img.abierto
					bottom 60px
				a.mas
					bottom 20px
@media screen and (max-height:410px)
	body
		font-size 14px
		.cd-fixed-background.img-3
			.cd-content
				p.hist,div.sliderHistoria
					margin-top 5px
		.cd-fixed-background.img-4
			.cd-content
				h2
					margin-bottom 40px
		.cd-fixed-background.img-5
			.cd-content
				p
					bottom 10px
			.cd-content.leemas
				img.abierto
					bottom 95px
@media screen and (max-height:400px)
	body
		font-size 13px
		.cd-header
			h1
				bottom 134px
				right 127px
				height 80px
			p
				width 300px
				right 66px
				bottom 100px
			a
				bottom 20px
				right 160px
		.cd-fixed-background.img-3
			.cd-content
				div.sliderHistoria
					div.slidesContainer
						div
							div
								height 350px
@media screen and (max-height:374px)
	body
		.menu_grande ul
			height 210px
			margin-top -105px
			li
				margin-bottom 5px
@media screen and (max-width:1120px)
	body .cd-fixed-background.img-5 .cd-content.leemas p
		padding 5px
		background-color rgba(0,0,0,.5)
@media screen and (max-width:1024px)
	body
		.cd-header,.cd-fixed-background.img-1
			background transparent url("../img/bg_1_1024.jpg") left top no-repeat
		.cd-fixed-background.img-1
			background-position left bottom
		.cd-fixed-background.img-3
			background transparent url("../img/bg_2_1024.jpg") left top no-repeat
		.cd-fixed-background.img-4
			background transparent url("../img/bg_3_1024.jpg") left top no-repeat
		.cd-fixed-background.img-5
			background transparent url("../img/tenis_1_1024.jpg") center center no-repeat
			.camisax
				background transparent url("../img/tenis_1_1024.png") center center no-repeat
@media screen and (max-width:1023px)
	body
		.cd-fixed-background.img-4 .cd-content div
			div
				background-size cover
				width 160px
				height 160px
				font-size 1.2em
				h3
					padding-top 68px
			div:first-child h3
				padding-top 58px
			div.abierto
				span.desc
					width 300px
					left 80px
					height 145px
					padding 15px 10px 0 100px
			div:nth-child(3) span.desc,div:nth-child(4) span.desc
				right 80px
				left auto
				padding 15px 100px 0 10px
		.cd-fixed-background.img-3
			.cd-content
				div.sliderHistoria
					max-width 85%
				p.hist
					font-size 2em
					margin-left 8px
		.cd-fixed-background.img-5 .cd-content a.mas
			left 67px
		.cd-fixed-background.img-5 .cd-content
			padding 0 60px
			p
				margin-left 10px
		span.controls
			a.prevBtn
				margin-left 2%
			a.nextBtn
				margin-right 2%
		a.menu
			top 20px
			right 25px
		a#facebook, a#twitter, a#instagram
			right 25px
@media screen and (max-width:1010px)
	body.terminos
		#wraper
			.terminos
				border 0
				padding 0 15px
				img
					position relative
					display block
					margin 0 auto 50px
@media screen and (max-width:980px)
	body.home,body.terminos
		footer.proximamente
			a
				margin 0 8px
@media screen and (max-width:940px)
	body
		.cd-fixed-background.img-1 .cd-content div.conoce_mas
			min-width 10px
			width 61%
			max-height 95%
			overflow auto
			bottom 0
@media screen and (max-width:890px)
	body
		#simplemodal-container
			div.simplemodal-wrap
				#simplemodal-data
					padding 20px
					margin-top -266px
@media screen and (max-width:880px)
	body.home,body.terminos
		footer.proximamente
			text-align left
			span
				width 48%
			span.nc
				text-align left
				float right
				padding-left 10px
				border-left 1px solid #fff
				line-height 1.2
				a
					padding-bottom 0
					margin 0
					display block
			span.nx
				text-align right
				float left
	body
		#simplemodal-data
			padding-left 20px
			padding-right 20px
			#spth
				width auto
				h2
					font-size 1.8em
		.cd-fixed-background.img-1 .cd-content svg
			width 65%
		.cd-fixed-background.img-4 .cd-content div
				div
					background-size cover
					width 160px
					height 160px
					font-size 1.2em
					h3
						padding-top 68px
				div:first-child h3
					padding-top 58px
				div.abierto
					span.desc
						width 250px
						left 80px
						height 150px
						padding 15px 10px 0 100px
						a.der 
							right 10px
							left auto
							bottom 10px
						a.izq
							right 10px
							left auto
							bottom 10px
@media screen and (max-width:810px)
	body .cd-fixed-background.img-1 .cd-content img.anim.de
		min-height 10px
		min-width 10px
		max-height 90%
		max-width 31%
@media screen and (max-width:780px)
	body
		font-size 15px
		.cd-header,.cd-fixed-background
			img.anim
				min-height auto
		.cd-fixed-background.img-1
			padding 10px
			.cd-content
				svg#amstel_back
					margin 0
					position absolute
					left 7%
					bottom 100px
				img
					min-height 95%
		.cd-fixed-background.img-3 .cd-content div.sliderHistoria div.slidesContainer div div.blu
			background #286CA9
		.cd-fixed-background.img-3 .cd-content div.sliderHistoria div.slidesContainer div div.whi
			background #fff
@media screen and (max-width:760px)
	body
		.cd-fixed-background.img-4
			.cd-content
				div
					div
						width 150px
						height 150px
						font-size 1.15em
						h3
							padding-top 63px
					div:first-child
						h3
							padding-top 52px
					div:nth-child(1),div:nth-child(2),div:nth-child(3)
						margin-right 10px
@media screen and (max-width:720px)
	body #Home.cd-header
		h1
			right 96px
		p
			right 26px
		a
			right 133px
		img.anim
			max-width 80%
@media screen and (max-width:700px)
	body
		#simplemodal-data
			img
				width 160px
			#spth
				form
					.selects
						span
							height 34px
							width 200px
						button
							height 36px
							width 80px
							margin-left 15px
					.inputs
						margin 18px 0 14px
						ul
							li
								input
									font-size 2.5em
@media screen and (max-width:690px)
	body
		#simplemodal-container
			div.simplemodal-wrap
				#simplemodal-data
					padding 10px
					margin-top -160px
					width auto
					height 320px
					p
						font-size 1em
						margin-bottom 10px
					img
						width 150px
					#spth
						margin-top 20px
						width 98%
						h2
							font-size 1.3em
							line-height 1
						h4
							font-size 1em
							line-height 1
						form
							.inputs
								margin 15px 0 5px
								ul
									padding-left 12px
									li
										width 70px
										input
											font-size 1.7em
									li:nth-child(2)
										width 84px
										padding-left 10px
									li:last-child
										width 104px
										padding-left 10px
							.selects
								span
									width 150px
									height 33px
									select
										font-size 1em
								button
									width 98px
									height 34px
									margin-left 12px
//Aqui comienza mobile
@media screen and (max-width:666px)
	body
		font-size 12px
		.cd-header,.cd-fixed-background
			height 100%
			min-height 481px
			overflow hidden
		#Home.cd-header
			overflow hidden
		.cd-fixed-background.img-1 .cd-content
			a.conoce_mas
				left auto
				right 35%
		.cd-fixed-background.img-2
			height 350px
			min-height 350px
		.cd-fixed-background.img-3
			padding 8px 0
			.cd-content
				height auto
				top auto
				margin 0
				p.hist
					position relative
					margin-left 15px
				div.sliderHistoria
					div.slidesContainer
						div
							div
								height 420px
								img
									max-width 80%
			span.controls a.nextBtn,span.controls a.prevBtn
				width 25px
				height 42px
				background-size cover
		.cd-fixed-background.img-4
			height auto
			padding-bottom 20px
			.cd-content
				h2
					margin-top 10px
				div
					div
						display block
						margin 10px 0 10px -100px
						width 200px
						height 200px
						left 50%
						h3
							margin 0
							padding-top 92px
							font-size 1.5em
						.fondo
							margin 0 !important
					div:first-child
						margin-right auto
						h3
							padding-top 92px
					div:nth-child(2),div:nth-child(3)
						margin-right auto
					div.abierto
						left 100px
						span.desc
							left 100px
							width 240px
							height 165px
							padding 35px 10px 0 110px
							font-size .9em
							text-align left !important
		.cd-fixed-background.img-5
			background transparent url("../img/tenis_1_666.jpg") center center no-repeat
			padding 12px
			.camisax
				left 0
				top 0
				background transparent url("../img/tenis_1_666.png") center center no-repeat
			.cd-content
				padding 0
				img:first-child
					width 130px
					float right
					margin-right 34px
				img:nth-child(2)
					width 150px
				a.mas
					left 5px
@media screen and (max-width:660px)
	body
		#logo
			width 190px
			height 75px
@media screen and (max-width:639px) and (min-height:340px)
	body
		#Home.cd-header
			h1,p,a
				position relative
				bottom auto
				left auto
				right auto
				top auto
			img.anim
				width 90%
			h1
				height 70px
				margin 60px auto 0
			p
				margin 10px auto
				width 260px
			a
				span
					display inline-block
					border 0
				img
					display block
					margin 10px auto 35px
@media screen and (max-width:558px) and (max-height:374px)
	body #Home.cd-header
		img.anim
			max-width 90%
		h1
			right 46px
			bottom 110px
		p
			right 15px
			width 240px
			bottom 80px
		a
			right 80px
			bottom 10px
@media screen and (max-width:496px)
	body
		.cd-fixed-background.img-4
			.cd-content
				div
					div
						margin-left -60px
						width 120px
						height 120px
						h3
							padding-top 50px
					div:first-child
						h3
							padding-top 38px
					div.abierto
						left 84px
						span.desc
							left 60px
							height 112px
							padding 8px 10px 0 70px
@media screen and (max-width:480px)
	body
		.menu_grande ul
			width 300px
			li
				span
					display none
@media screen and (max-width:380px)
	body
		.cd-fixed-background.img-5 .cd-content img:first-child
			width 110px
		.cd-fixed-background.img-5 .cd-content img:nth-child(2)
			width 125px
		.cd-fixed-background.img-4
			.cd-content
				div
					div.abierto
						span.desc
							width 187px
							height 112px
							font-size .83em
							padding 10px 8px 0 63px
@media screen and (max-width:350px)
	body
		#simplemodal-container
			div.simplemodal-wrap
				#simplemodal-data
					img
						width 100px
					#spth
						margin-top 10px
						width 100%
						form .inputs ul
							padding-left 0
							li
								padding-left 0 !important
// Altura
@media screen and (max-height:800px)
	body .cd-fixed-background.img-4 .cd-content .centrar
		position relative
		top 0
		margin-top auto
@media screen and (max-width:666px)
	body .cd-fixed-background.img-4 .cd-content .centrar
		position relative
		top 0
		margin-top auto
@media screen and (max-width:360px) and (min-height:479px)
	body .cd-fixed-background.img-3 .cd-content div.sliderHistoria div.slidesContainer div div
		height 355px
@media screen and (max-width:666px) and (min-height:320px)
	body
		a.menu
			right 5px
		a#facebook, a#twitter, a#instagram
			right 5px
		.cd-fixed-background.img-1
			overflow hidden
			.cd-content
				text-align right
				svg,a.conoce_mas
					position relative
				svg
					bottom auto
					top 10px
					width 93%
				a.conoce_mas
					display inline-block
					bottom auto
					left auto
					right 50px
					margin 10px 0 0 0
				img.anim.de
					display block
					margin 20px auto 0
					position relative
					max-height 70%
					max-width 60%
					z-index 1
				div.conoce_mas
					background #222
					z-index 9
					text-align left
					padding 10px 35px 10px 10px
					width 87%
					max-height 100%
					a
						right 0
						margin 5px 0 10px 0
		.cd-fixed-background.img-3
			.cd-content
				p.hist
					font-size 1.4em
				div.sliderHistoria
					margin-top 0
@media screen and (max-width:666px) and (min-height:530px)
	body
		.cd-fixed-background.img-3 .cd-content
			top 50%
			margin -264px 0 0 0
			height 529px
@media screen and (max-width:360px) and (min-height:540px)
	body .cd-fixed-background.img-3 .cd-content div.sliderHistoria div.slidesContainer div div
		height 375px
@media screen and (min-height:568px)
	body #Home.cd-header img.anim
		margin-top 80px
@media screen and (max-width:601px) and (min-height:600px)
	body .cd-fixed-background.img-1.mas .cd-content div.conoce_mas
		bottom 48px
@media screen and (max-width:1200px) and (min-height:641px)
	body
		#conoce-mas img.anim
			min-height 10px
			//max-width 28%
			width 34%
@media screen and (max-width:420px) and (min-height:700px)
	body
		#conoce-mas img.anim
			min-height 10px
			//max-width 60%
			width 70%
@media screen and (min-height:650px)
	body #Home.cd-header img.anim
		margin-top 135px
@media screen and (max-width:1300px) and (min-height:900px)
	body
		#conoce-mas img.anim
			min-height 10px
			width 34%
@media screen and (max-width:601px) and (min-height:900px) and (orientation:portrait)
	body
		#conoce-mas img.anim
			width auto
			min-height 10px
			max-width 60%
//orientacion
@media screen and (max-width:480px) and (orientation:portrait)
	body
		#simplemodal-data
			#spth
				form
					a
						float none
						display inline-block
					p
						display block
						width auto
//minimo ancho
@media screen and (min-width:666px) and (min-height:534px)
	body
		#conoce-mas img.anim
			min-height 10px
			//max-width 28%
@media only screen and (min-width:667px)
	body.home
		.cd-header h1
			font-size 3.6rem
			font-weight 300
		.cd-fixed-background
			height 100%
			padding 0
		.cd-fixed-background h2
			font-size 3.6rem
			font-weight 300
		.cd-fixed-background p
			font-size 1.8rem
			line-height 1.8
@media only screen and (min-width:1048px)
	body.home
		.cd-fixed-background:not(.img-5)
			background-attachment fixed
/*
@media only screen and (min-width:1200px)
	body.home
		.cd-vertical-nav
			display block
*/