@import "font-awesome.min.css";
@import "normalize.css";
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body.loaded .cargando {
  display: none;
}
body {
  overflow: hidden;
  background: #000;
}
body .cargando {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 999999;
  background: #1f1f1f url("../img/cargando2.gif") center center no-repeat;
}
body .cargandoGalerias {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 999999;
  background: #1f1f1f url("../img/cargando2.gif") center center no-repeat;
}
body .contiene-home {
  background: transparent url("../img/fondo_elefantes.jpg") center 74% no-repeat;
  transition: all 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body .contiene-home video {
  display: none;
}
body .contiene-home .home {
  background: rgba(0,0,0,0.8);
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 0;
  width: 396px;
  height: 100%;
  margin-left: -198px;
  text-align: center;
  overflow: auto;
}
body .contiene-home .home .sub {
  height: 466px;
  top: 50%;
  margin-top: -269px;
}
body .contiene-home .home .sub a {
  display: inline-block;
}
body .contiene-home .home .sub a img {
  display: block;
}
body .contiene-home .home .sub .vive_exp {
  height: auto;
  width: 81%;
  margin-bottom: 10px;
}
body .contiene-home .home .sub .vive_exp img {
  width: 100%;
}
body .contiene-home .home .sub .logo-sol {
  margin-bottom: 0px;
}
body .contiene-home .home .sub .share {
  margin-bottom: 20px;
}
body .contiene-home .home .sub .share div.fb-share-button {
  display: inline-block;
  margin-right: 2px;
  vertical-align: top;
}
body .contiene-home .home .sub .sociales {
  margin-bottom: 11px;
}
body .contiene-home .home .sub .sociales a {
  margin-right: 23px;
}
body .contiene-home .home .sub .sociales a:last-child {
  margin-right: 0;
}
body .contiene-home .home .sub .ir-sol {
  margin-bottom: 20px;
}
body .contiene-home .home .sub .ir-sol img {
  width: 84%;
  margin: 0 auto;
}
body footer.mainFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  height: 78px;
  background: #000 url("../img/footer.jpg") repeat-x;
}
body footer.mainFooter .footer {
  background: #000 url("../img/footer.jpg") repeat-x;
}
body .contiene-home.ya {
  overflow: hidden;
  transform: perspective(1500px) translate3d(0, 0, -340px) rotateY(-40deg);
  margin-left: 0;
}
body #wrapper {
  position: absolute;
  left: -100%;
  top: 0;
  background: transparent url("../img/fondo_tablas.jpg") center center no-repeat;
  background-size: cover;
  overflow: auto;
  width: 100%;
  height: 100%;
}
body #wrapper .contiene-panorama {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -335px;
  height: 550px;
}
body #wrapper .contiene-panorama #turnPhone {
  width: 100%;
  position: fixed;
  background: rgba(0,0,0,0.85);
  top: 0;
  bottom: 0;
  z-index: 200;
  display: none;
}
body #wrapper .contiene-panorama #turnPhone .icono {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
body #wrapper .contiene-panorama .centr {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -244px;
}
body #wrapper .contiene-panorama .centr .todo {
  width: 90%;
  height: 63%;
  max-width: 1200px;
  margin: 0 auto;
}
body #wrapper .contiene-panorama .centr .todo img.logo_sol {
  z-index: 2;
  position: absolute;
  margin: -77px 0 0 10px;
  left: 0;
}
body #wrapper .contiene-panorama .centr .todo div.sociales {
  position: absolute;
  right: 0;
  margin-top: -54px;
}
body #wrapper .contiene-panorama .centr .todo div.sociales a {
  margin-right: 20px;
}
body #wrapper .contiene-panorama .centr .todo div.sociales a:last-child {
  margin-right: 0;
}
body #wrapper .contiene-panorama .centr .todo .panorama {
  float: left;
  height: 400px;
  width: 70%;
  position: relative;
  margin: 0;
  overflow: hidden;
}
body #wrapper .contiene-panorama .centr .todo .panorama div.reel {
  width: 100%;
  height: 420px;
  opacity: 0;
  top: 0;
  left: 0;
}
body #wrapper .contiene-panorama .centr .todo .panorama div.reel .reel-annotation {
  display: block !important;
  white-space: nowrap;
  text-align: center;
  padding: 10px 15px;
  background: rgba(0,0,0,0.7);
  color: #fff;
  line-height: 1.1;
  font-size: 0.95em;
  width: auto;
}
body #wrapper .contiene-panorama .centr .todo .panorama div.reel .reel-annotation span {
  display: block;
  margin: 0 auto;
  font-family: 'GlyphaLTStd-Black';
}
body #wrapper .contiene-panorama .centr .todo .panorama div.reel .reel-annotation .iconovideo {
  height: 20px;
  width: 28px;
  background: url("../img/video_icon.png") no-repeat center;
  display: block;
  float: left;
  margin-right: 10px;
}
body #wrapper .contiene-panorama .centr .todo .panorama div.reel .reel-annotation .iconocard {
  height: 20px;
  width: 28px;
  background: url("../img/cardboard_icon.png") no-repeat center;
  display: block;
  float: left;
  margin-right: 10px;
}
body #wrapper .contiene-panorama .centr .todo .panorama div.reel .reel-annotation .iconodrone {
  height: 28px;
  width: 28px;
  background: url("../img/drone_icon.png") no-repeat center;
  display: block;
  float: left;
  margin-right: 10px;
}
body #wrapper .contiene-panorama .centr .todo .panorama div.reel .reel-annotation .iconogallery {
  height: 30px;
  width: 28px;
  background: url("../img/gallery_icon.png") no-repeat center;
  display: block;
  float: left;
  margin-right: 10px;
}
body #wrapper .contiene-panorama .centr .todo .panorama div.reel .reel-annotation .iconocine {
  height: 20px;
  width: 28px;
  background: url("../img/cine_icon.png") no-repeat center;
  display: block;
  float: left;
  margin-right: 10px;
}
body #wrapper .contiene-panorama .centr .todo .panorama div.reel .reel-annotation:before {
  position: absolute;
  content: url("../img/bandera.png");
  display: block;
  width: 30px;
  height: 60px;
  margin: -50px 0 0 10px;
}
body #wrapper .contiene-panorama .centr .todo .panorama div.reel .reel-annotation.pin {
  display: block;
  min-width: 140px;
  white-space: nowrap;
  text-align: center;
  padding: 10px;
  background: rgba(0,0,0,0.7);
  line-height: 1.1;
  font-size: 0.95em;
  width: 110px;
  color: #dd1455;
}
body #wrapper .contiene-panorama .centr .todo .panorama div.reel .reel-annotation.pin span.full {
  color: #fff;
  display: block;
  width: 100%;
  margin: 0 auto 5px;
  font-family: 'GlyphaLTStd-Black';
}
body #wrapper .contiene-panorama .centr .todo .panorama div.reel .reel-annotation.pin span.icon {
  color: #dd1455;
  display: block;
  text-align: left;
  font-family: 'Helvetica';
}
body #wrapper .contiene-panorama .centr .todo .panorama div.reel .reel-annotation.pin:before {
  position: absolute;
  content: url("../img/pin.png");
  display: block;
  left: 0;
  right: 0;
  width: 60px;
  height: 60px;
  margin: -71px auto 0 auto;
}
body #wrapper .contiene-panorama .centr .todo .panorama div.reel .reel-annotation.container {
  display: block !important;
  width: 600px;
  border: 1px solid #f00;
  background: none;
}
body #wrapper .contiene-panorama .centr .todo .panorama div.reel .reel-annotation.container a.reel-inside {
  position: absolute;
  top: 0;
  left: 300px;
  text-align: center;
  padding: 10px 15px;
  background: rgba(0,0,0,0.7);
  color: #fff;
  line-height: 1.1;
  font-size: 0.95em;
  width: auto;
}
body #wrapper .contiene-panorama .centr .todo .panorama div.reel .reel-annotation.container a.reel-inside span {
  display: block;
  margin: 0 auto;
  font-family: 'GlyphaLTStd-Black';
}
body #wrapper .contiene-panorama .centr .todo .panorama div.reel .reel-annotation.container a.reel-inside .iconovideo {
  height: 20px;
  width: 28px;
  background: url("../img/video_icon.png") no-repeat center;
  display: block;
  float: left;
  margin-right: 10px;
}
body #wrapper .contiene-panorama .centr .todo .panorama div.reel .reel-annotation.container a.reel-inside .iconocard {
  height: 20px;
  width: 28px;
  background: url("../img/cardboard_icon.png") no-repeat center;
  display: block;
  float: left;
  margin-right: 10px;
}
body #wrapper .contiene-panorama .centr .todo .panorama div.reel .reel-annotation.container a.reel-inside .iconodrone {
  height: 28px;
  width: 28px;
  background: url("../img/drone_icon.png") no-repeat center;
  display: block;
  float: left;
  margin-right: 10px;
}
body #wrapper .contiene-panorama .centr .todo .panorama div.reel .reel-annotation.container a.reel-inside .iconogallery {
  height: 30px;
  width: 28px;
  background: url("../img/gallery_icon.png") no-repeat center;
  display: block;
  float: left;
  margin-right: 10px;
}
body #wrapper .contiene-panorama .centr .todo .panorama div.reel .reel-annotation.container a.reel-inside .iconocine {
  height: 20px;
  width: 28px;
  background: url("../img/cine_icon.png") no-repeat center;
  display: block;
  float: left;
  margin-right: 10px;
}
body #wrapper .contiene-panorama .centr .todo .panorama div.reel .reel-annotation.container a.reel-inside:before {
  position: absolute;
  content: url("../img/bandera.png");
  display: block;
  width: 30px;
  height: 60px;
  margin: -50px 0 0 10px;
}
body #wrapper .contiene-panorama .centr .todo .panorama div.reel .reel-annotation.container:before {
  display: none;
}
body #wrapper .contiene-panorama .centr .todo .panorama div.reel.actual {
  opacity: 1;
}
body #wrapper .contiene-panorama .centr .todo .panorama div.reel.entrando {
  animation-name: opacidad;
  animation-duration: 1s;
}
body #wrapper .contiene-panorama .centr .todo .panorama div.reel.saliendo {
  animation-name: zoomin;
  animation-duration: 1s;
}
body #wrapper .contiene-panorama .centr .todo .panorama div.reel.entrando,
body #wrapper .contiene-panorama .centr .todo .panorama div.reel.saliendo {
  position: absolute !important;
  top: 0;
  left: 0;
}
body #wrapper .contiene-panorama .centr .todo #viewer {
  width: 29%;
  height: 488px;
  float: right;
  overflow: hidden;
  position: relative;
}
body #wrapper .contiene-panorama .centr .todo #viewer .mapa {
  background: rgba(0,0,0,0.7);
  width: 98%;
  height: 488px;
  padding-right: 6%;
}
body #wrapper .contiene-panorama .centr .todo #viewer .mapa img.titulo {
  display: block;
  clear: both;
  margin: 20px auto;
}
body #wrapper .contiene-panorama .centr .todo #viewer .mapa .lugares {
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 -18px 0 0;
  padding: 0;
  height: 397px;
}
body #wrapper .contiene-panorama .centr .todo #viewer .mapa .lugares ul {
  font-size: 1.2em;
  list-style: none;
  display: block;
  float: right;
  width: 140px;
  margin: 0 10px 0 0;
}
body #wrapper .contiene-panorama .centr .todo #viewer .mapa .lugares ul li {
  list-style: none;
  display: block;
  border-left: 1px solid #f5f3e9;
  padding-bottom: 25px;
  padding-right: 27px;
}
body #wrapper .contiene-panorama .centr .todo #viewer .mapa .lugares ul li i.fa {
  background: #000;
  display: block;
  float: left;
  margin: 0 0 0 -10px;
  font-size: 1.2em;
  color: #dd1455;
}
body #wrapper .contiene-panorama .centr .todo #viewer .mapa .lugares ul li i.fa:before {
  content: "\f111";
}
body #wrapper .contiene-panorama .centr .todo #viewer .mapa .lugares ul li a:hover,
body #wrapper .contiene-panorama .centr .todo #viewer .mapa .lugares ul li a:active,
body #wrapper .contiene-panorama .centr .todo #viewer .mapa .lugares ul li a:focus {
  color: #fff;
}
body #wrapper .contiene-panorama .centr .todo #viewer .mapa .lugares ul li a:not(.gal) {
  border-bottom: 2px solid rgba(0,0,0,0);
  display: block;
  margin-left: 25px;
  font-size: 15px;
}
body #wrapper .contiene-panorama .centr .todo #viewer .mapa .lugares ul li div {
  color: #c41a62;
  line-height: 1;
  overflow: hidden;
  width: 109px;
  float: left;
  margin-left: -125px;
  margin-top: 2px;
  font-size: 0.6em;
}
body #wrapper .contiene-panorama .centr .todo #viewer .mapa .lugares ul li div a {
  color: #dd1455;
  line-height: 30px;
}
body #wrapper .contiene-panorama .centr .todo #viewer .mapa .lugares ul li div a .iconovideo {
  height: 20px;
  width: 28px;
  background: url("../img/video_icon.png") no-repeat center;
  display: block;
  float: left;
  margin-right: 5px;
}
body #wrapper .contiene-panorama .centr .todo #viewer .mapa .lugares ul li div a .iconocard {
  height: 20px;
  width: 24px;
  background: url("../img/cardboard_icon.png") no-repeat center;
  display: block;
  float: left;
  margin-right: 5px;
}
body #wrapper .contiene-panorama .centr .todo #viewer .mapa .lugares ul li div a .iconodrone {
  height: 28px;
  width: 28px;
  background: url("../img/drone_icon.png") no-repeat center;
  display: block;
  float: left;
  margin-right: 5px;
}
body #wrapper .contiene-panorama .centr .todo #viewer .mapa .lugares ul li div a .iconogallery {
  height: 30px;
  width: 28px;
  background: url("../img/gallery_icon.png") no-repeat center;
  display: block;
  float: left;
  margin-right: 5px;
}
body #wrapper .contiene-panorama .centr .todo #viewer .mapa .lugares ul li div a .iconocine {
  height: 20px;
  width: 28px;
  background: url("../img/cine_icon.png") no-repeat center;
  display: block;
  float: left;
  margin-right: 5px;
}
body #wrapper .contiene-panorama .centr .todo #viewer .mapa .lugares ul li div a:hover {
  color: #dd1455;
}
body #wrapper .contiene-panorama .centr .todo #viewer .mapa .lugares ul li:hover i.fa:before,
body #wrapper .contiene-panorama .centr .todo #viewer .mapa .lugares ul li.active i.fa:before {
  content: "\f111";
}
body #wrapper .contiene-panorama .centr .todo #viewer .mapa .lugares ul li:hover a:not(.gal),
body #wrapper .contiene-panorama .centr .todo #viewer .mapa .lugares ul li.active a:not(.gal) {
  color: #fff;
  border-bottom: 2px solid #dd1455;
}
body #wrapper .contiene-panorama .centr .todo #viewer .mapa .lugares ul li:last-child {
  border-left: 0;
}
body #wrapper .contiene-panorama .centr .todo #viewer .mapa .lugares ul li.doble {
  padding-top: 20px;
  height: 44px;
}
body #wrapper .contiene-panorama .centr .todo #viewer .mapa .lugares ul li.doble div {
  margin-top: 15px;
}
body #wrapper .contiene-panorama .centr .todo #viewer .mapa .lugares ul li.doble div:first-child {
  margin-top: -15px;
}
body #wrapper .contiene-panorama .centr .todo div.externos {
  margin-top: 15px;
  float: left;
  width: 70%;
  text-align: center;
}
body #wrapper .contiene-panorama .centr .todo div.externos div.fb-share-button {
  display: inline-block;
  margin-right: 2px;
  vertical-align: middle;
}
body #wrapper .contiene-panorama .centr .todo div.externos a,
body #wrapper .contiene-panorama .centr .todo div.externos #twitter-widget-2 {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
}
body #wrapper .contiene-panorama .centr .todo div.externos a img,
body #wrapper .contiene-panorama .centr .todo div.externos #twitter-widget-2 img {
  display: block;
}
body #wrapper .contiene-panorama .centr .todo div.externos .ir-sol {
  width: 132px;
}
body #wrapper .contiene-panorama .centr .todo div.externos a:first-child,
body #wrapper .contiene-panorama .centr .todo div.externos a:nth-child(2) {
  padding-bottom: 2px;
  margin-right: 8px;
}
body #wrapper.ya {
  animation-fill-mode: forwards;
  animation: entrando 1.3s;
}
body #wrapper.ya.fin {
  left: 0;
}
body .mainFooter .footer {
  position: absolute;
  height: 87px;
  width: 100%;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  left: 0;
  bottom: 0;
  color: #aaa;
  font-size: 0.94em;
  display: table;
}
body .mainFooter .footer .menu {
  display: table;
  text-align: center;
  width: 100%;
}
body .mainFooter .footer .menu ul {
  list-style: outside none none;
  margin: 0px;
  padding: 0px;
}
body .mainFooter .footer .menu ul li {
  list-style: outside none none;
  float: left;
  padding: 20px 4%;
  line-height: 50px;
}
body .mainFooter .footer .menu ul li a {
  color: #9c9b9b;
  font-family: 'GlyphaLTStd';
  font-size: 12px;
  text-decoration: none;
}
body .mainFooter .derechos {
  display: table-cell;
  vertical-align: bottom;
  text-align: right;
  width: 55%;
}
body .mainFooter .derechos a.heineken {
  float: right;
  display: block;
  height: 70px;
  width: 50px;
  background: url("../img/logoheineken.png") no-repeat center;
  margin: 10px 2%;
}
body .mainFooter .derechos a.consumo {
  display: block;
  float: right;
  height: 70px;
  width: 50px;
  background: url("../img/logoconsumo.png") no-repeat center;
  margin: 10px 2%;
}
body .mainFooter .derechos span {
  color: #9c9b9b;
  display: inline-block;
  font-family: "GlyphaLTStd";
  font-size: 13px;
  padding: 8px 10px;
  line-height: 74px;
}
body .mainFooter .derechos span strong {
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
body #galeria {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 105;
  background: rgba(0,0,0,0.8);
}
body #galeria a.cerrar {
  z-index: 10;
  position: fixed;
  top: 10px;
  right: 10px;
  background: url("../img/closePanel.png") no-repeat center;
  width: 36px;
  height: 36px;
  font-size: 3.5em;
  display: block;
}
body #galeria #sudo {
  width: 70%;
  height: auto;
  margin: 45px auto 10px;
  max-height: 500;
}
body #galeria #sudo.video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body #galeria #sudo.video iframe#ytplayer {
  width: 100%;
  height: 100%;
}
body #galeria #sudo.video img {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
}
body #galeria #sudo.videoembed .video-responsive {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  width: 100%;
  height: 100%;
}
body #galeria #sudo.videoembed .video-responsive iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
body #galeria .controls {
  text-align: center;
}
body #galeria .controls .prevBtn {
  position: fixed;
  top: 39%;
  display: block;
  background: url("../img/arrowPrev.png") no-repeat center;
  left: 20px;
  width: 30px;
  height: 35px;
  text-indent: -9999px;
}
body #galeria .controls .nextBtn {
  position: fixed;
  top: 39%;
  display: block;
  background: url("../img/arrowNext.png") no-repeat center;
  right: 20px;
  width: 30px;
  height: 35px;
  text-indent: -9999px;
}
body #galeria .controls ol.numericControls {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
body #galeria .controls ol.numericControls li {
  display: inline-block;
  margin: 0 7px;
}
body #galeria .controls ol.numericControls li a {
  color: #dd1455;
  font-family: 'FontAwesome';
  display: block;
}
body #galeria .controls ol.numericControls li a span {
  display: none;
}
body #galeria .controls ol.numericControls li a:before {
  content: "\f10c";
}
body #galeria .controls ol.numericControls li.current a:before {
  content: "\f111";
}
.logoResponsive {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  z-index: 100;
}
#socialesResponsive {
  width: 100%;
  height: 100%;
  background: #000;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 99;
  display: none;
}
#socialesResponsive .share {
  margin: 130px auto 15px;
  width: 168px;
}
#socialesResponsive .share div.fb-share-button {
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
}
#socialesResponsive .share a {
  display: inline-block;
}
#socialesResponsive .sociales {
  width: 151px;
  margin: 0 auto 15px;
  text-align: center;
}
#socialesResponsive .sociales a {
  margin-right: 20px;
}
#socialesResponsive .ir-sol {
  margin: 0 auto;
  display: block;
  width: 212px;
}
#menuResponsive {
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 98;
  display: none;
}
#menuResponsive a.access {
  display: block;
  color: #dd1455;
  text-decoration: none;
  font-size: 2.8em;
  float: right;
  margin: 14px 15px 14px 3px;
}
#mapaResponsive {
  display: none;
}
.cierraPanel {
  position: absolute;
  top: 9px;
  display: block;
  right: 10px;
  background: url("../img/closePanelSmall.png") no-repeat center;
  width: 35px;
  height: 35px;
  z-index: 10;
}
.scrollThis {
  display: block;
  color: #ff0;
  font-size: 16px;
  position: absolute;
  right: 56px;
  bottom: 9px;
}
.scrollThat {
  display: block;
  color: #ff0;
  font-size: 18px;
  position: absolute;
  right: 5%;
  top: 85%;
  z-index: 2;
}
body .mainFooter.collapsed {
  height: 48px;
  position: fixed;
  bottom: 0;
}
body .mainFooter.collapsed .footer {
  height: 39px;
}
body .mainFooter.collapsed .footer button {
  height: 16px;
  width: 40px;
  cursor: pointer;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 6px;
  background: url("../img/Flecha-desplegar_up.png") no-repeat center;
  display: block;
  z-index: 20;
}
body .mainFooter.collapsed .footer button.on {
  background: url("../img/Flecha-desplegar_down.png") no-repeat center;
}
body .mainFooter.collapsed .menu {
  display: none;
}
body .mainFooter.collapsed .derechos {
  display: block;
  vertical-align: bottom;
  text-align: center;
  width: 100%;
}
body .mainFooter.collapsed .derechos a.heineken {
  display: none;
}
body .mainFooter.collapsed .derechos a.consumo {
  display: none;
}
body .mainFooter.collapsed .derechos span {
  color: #9c9b9b;
  display: inline-block;
  font-family: "GlyphaLTStd";
  font-size: 11px;
  padding: 8px 1%;
  line-height: initial;
  width: 46%;
  text-align: left;
}
body .mainFooter.collapsed .derechos span + span {
  text-align: right;
}
body .mainFooter.collapsed.full {
  height: auto;
  position: fixed;
  bottom: 0;
}
body .mainFooter.collapsed.full .footer {
  height: 100px;
}
body .mainFooter.collapsed.full .footer button {
  -webkit-transition: all ease-in 0.5s;
  -moz-transition: all ease-in 0.5s;
  -ms-transition: all ease-in 0.5s;
  -o-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
  height: 16px;
  width: 40px;
  cursor: pointer;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 19px;
  background: url("../img/Flecha-desplegar_up.png") no-repeat center;
  display: block;
  z-index: 20;
}
body .mainFooter.collapsed.full .footer button.on {
  -webkit-transition: all ease-in 0.5s;
  -moz-transition: all ease-in 0.5s;
  -ms-transition: all ease-in 0.5s;
  -o-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
  background: url("../img/Flecha-desplegar_down.png") no-repeat center;
}
body .mainFooter.collapsed.full .footer .menu {
  display: block;
  position: absolute;
  bottom: 46px;
  height: 40px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 328px;
}
body .mainFooter.collapsed.full .footer .menu ul li {
  line-height: auto;
}
body .mainFooter.collapsed.full .footer .menu ul li a {
  font-size: 11px;
}
body .mainFooter.collapsed.full .derechos {
  display: block;
  vertical-align: bottom;
  text-align: center;
  width: 100%;
}
body .mainFooter.collapsed.full .derechos a.heineken {
  display: block;
  float: left;
}
body .mainFooter.collapsed.full .derechos a.consumo {
  display: block;
}
body .mainFooter.collapsed.full .derechos span {
  color: #9c9b9b;
  display: inline-block;
  font-family: "GlyphaLTStd";
  font-size: 11px;
  padding: 8px 1%;
  line-height: initial;
  width: 43%;
  text-align: left;
  margin-top: 8px;
}
body .mainFooter.collapsed.full .derechos span + span {
  text-align: right;
}
@media screen and (max-width: 1000px) {
  body #galeria a.cerrar {
    font-size: 3em;
    top: 3px;
    right: 5px;
  }
}
@media screen and (max-width: 396px) {
  body #wrapper .home {
    width: 100%;
    left: 0;
    margin-left: 0;
  }
}
@media screen and (min-width: 1024px) {
  body {
    min-height: 700px;
  }
  body .contiene-home video {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
  }
}
@media screen and (max-height: 680px) and (min-width: 768px) {
  body.loaded.exp {
    background-size: initial;
  }
  body #wrapper .contiene-panorama .centr {
    top: 0;
    margin-top: 0;
  }
  body #wrapper .contiene-panorama .centr .todo {
    top: 0;
    margin: 100px auto;
  }
}
/* Para ciclos for.....
		filter blur(0px)
		filter blur(20px)
@keyframes opacidad
	for i in 1..10
		{10%*i}
			opacity (i/10)
*/
@media screen and (max-width: 1000px) and (max-height: 700px) {
  body #wrapper .logoResponsive {
    display: block;
  }
  body #wrapper .contiene-panorama .centr .todo .logo_sol {
    display: none;
  }
  body #wrapper .contiene-panorama .centr .todo #viewer .mapa .lugares ul {
    font-size: 1.2em;
    list-style: outside none none;
    display: block;
    float: none;
    width: 200px;
    margin: 0px 10px 0px 21px;
  }
  body #wrapper .contiene-panorama .centr .todo #viewer .mapa .lugares ul li,
  body #wrapper .contiene-panorama .centr .todo #viewer .mapa .lugares ul li.doble {
    padding-top: 0px;
    padding-bottom: 14px;
    height: 26px;
  }
  body #wrapper .contiene-panorama .centr .todo #viewer .mapa .lugares ul li div,
  body #wrapper .contiene-panorama .centr .todo #viewer .mapa .lugares ul li.doble div {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  body .contiene-home .home {
    background: rgba(0,0,0,0.8);
    left: 0;
    top: 0;
    width: 50%;
    height: auto;
    margin: 0 auto;
    right: 0;
    paddind-top: 38px;
    bottom: 0;
  }
  body .contiene-home .home .sub {
    height: auto;
    margin-top: 0;
    top: 5%;
  }
  body .contiene-home .home .sub .share {
    display: none;
  }
  body .contiene-home .home .sub .sociales {
    display: none;
  }
  body .contiene-home .home .sub .ir-sol {
    display: none;
  }
  body #galeria {
    z-index: 100;
  }
  body #wrapper #menuResponsive {
    display: block;
  }
  body #wrapper #mapaResponsive {
    display: none;
    height: 90px;
    width: 100%;
    background: #000;
    position: absolute;
    top: 0;
    z-index: 99;
  }
  body #wrapper #mapaResponsive .lugares {
    overflow-x: auto;
    overflow-y: hidden;
    width: 88%;
    height: 80px;
  }
  body #wrapper #mapaResponsive .lugares .gal {
    display: none;
  }
  body #wrapper #mapaResponsive .lugares ul {
    font-size: 1.2em;
    list-style: outside none none;
    display: block;
    float: none;
    width: 1320px;
    margin: 28px 0px 33px 36px;
  }
  body #wrapper #mapaResponsive .lugares ul li {
    list-style: none;
    display: inline-block;
    border-top: 1px solid #f5f3e9;
    border-left: none;
    padding-bottom: 20px;
    width: 126px;
    padding-top: 13px;
  }
  body #wrapper #mapaResponsive .lugares ul li a {
    font-size: 10px;
  }
  body #wrapper #mapaResponsive .lugares ul li i.fa {
    background: #000;
    display: block;
    float: left;
    margin: -22px 0 0px -5px;
    font-size: 1.2em;
    color: #dd1455;
  }
  body #wrapper #mapaResponsive .lugares ul li i.fa:before {
    content: "\f10c";
  }
  body #wrapper #mapaResponsive .lugares ul li a:hover,
  body #wrapper #mapaResponsive .lugares ul li a:active,
  body #wrapper #mapaResponsive .lugares ul li a:focus {
    color: #fff;
  }
  body #wrapper #mapaResponsive .lugares ul li a:not(.gal) {
    border-bottom: 2px solid rgba(0,0,0,0);
    display: block;
    margin-left: 20px;
  }
  body #wrapper #mapaResponsive .lugares ul li div {
    color: #c41a62;
    line-height: 1;
    overflow: hidden;
    width: 104px;
    float: left;
    margin-left: -115px;
    margin-top: 2px;
    font-size: 0.6em;
  }
  body #wrapper #mapaResponsive .lugares ul li div a:hover {
    color: #dd1455;
  }
  body #wrapper #mapaResponsive .lugares ul li div img {
    margin-right: 3px;
    float: left;
  }
  body #wrapper #mapaResponsive .lugares ul li:hover i.fa:before,
  body #wrapper #mapaResponsive .lugares ul li.active i.fa:before {
    content: "\f111";
  }
  body #wrapper #mapaResponsive .lugares ul li:hover a:not(.gal),
  body #wrapper #mapaResponsive .lugares ul li.active a:not(.gal) {
    color: #fff;
    border-bottom: 2px solid #dd1455;
  }
  body #wrapper .contiene-panorama {
    top: 0px;
    left: 0px;
    margin-top: -15px;
    height: 100%;
  }
  body #wrapper .contiene-panorama .centr .todo {
    width: 100%;
    height: auto;
  }
  body #wrapper .contiene-panorama .centr .todo .sociales,
  body #wrapper .contiene-panorama .centr .todo .externos {
    display: none;
  }
  body #wrapper .contiene-panorama .centr .todo img.logo_sol {
    display: none;
  }
  body #wrapper .contiene-panorama .centr .todo .panorama {
    width: 100%;
  }
  body #wrapper #viewer {
    display: none;
  }
  img.logoResponsive {
    display: block;
  }
}
@media screen and (max-width: 420px) {
  body #wrapper .footer .menu ul li,
  body .mainFooter .footer .menu ul li {
    padding: 0;
    width: 100%;
    line-height: 27px;
  }
  body #wrapper .derechos span,
  body .mainFooter .derechos span {
    width: 42%;
  }
}
@media screen and (max-height: 360px) {
  body #galeria #sudo {
    margin: 14px auto 10px;
  }
  body .contiene-home .home {
    width: 200px;
  }
  body .contiene-home .home .sub {
    overflow: hidden;
  }
  body .contiene-home .home .sub .logo-sol {
    width: 40%;
    height: auto;
    margin-bottom: 10px;
  }
  body .contiene-home .home .sub .logo-sol img {
    width: 100%;
    height: auto;
  }
  body .contiene-home .home .sub .vive_exp {
    width: 80%;
    height: auto;
  }
  body .contiene-home .home .sub .vive_exp img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  body #wrapper .contiene-panorama .centr .todo {
    margin-top: -22px;
  }
  #socialesResponsive .share {
    margin: 75px auto 10px;
  }
}
@media screen and (max-width: 360px) {
  body .contiene-home .home {
    width: 100%;
  }
  body .contiene-home .home .sub {
    top: 12%;
  }
}
@-moz-keyframes opacidad {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes opacidad {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes opacidad {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opacidad {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes zoomin {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(3);
    opacity: 0;
  }
}
@-webkit-keyframes zoomin {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(3);
    opacity: 0;
  }
}
@-o-keyframes zoomin {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(3);
    opacity: 0;
  }
}
@keyframes zoomin {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(3);
    opacity: 0;
  }
}
@-moz-keyframes entrando {
  0% {
    left: -100%;
  }
  48% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes entrando {
  0% {
    left: -100%;
  }
  48% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@-o-keyframes entrando {
  0% {
    left: -100%;
  }
  48% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@keyframes entrando {
  0% {
    left: -100%;
  }
  48% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
