//imports
//@import 'node_modules/nib'
@import "font-awesome.min.css";
@import "normalize.css";

//Vendors
vendor-prefixes = o ms moz webkit khtml official

//El css
html,body
	margin 0
	padding 0
	height 100%
body.loaded
	.cargando
		display none
body
	overflow hidden
	background #000
	.cargando
		position fixed
		top 0
		bottom 0
		width 100%
		z-index 999999
		background #1f1f1f url('../img/cargando2.gif') center center no-repeat
	.cargandoGalerias
		position fixed
		top 0
		bottom 0
		width 100%
		z-index 999999
		background #1f1f1f url('../img/cargando2.gif') center center no-repeat
	.contiene-home
		background transparent url('../img/fondo_elefantes.jpg') center 74% no-repeat
		transition all .5s ease-in-out
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		margin 0
		padding 0
		video
			display none
		.home
			background rgba(0,0,0,.8)
			position absolute
			z-index 2
			left 50%
			top 0
			width 396px
			height 100%
			margin-left -198px
			text-align center
			overflow auto
			.sub
				height 466px
				top 50%
				margin-top -269px
				a
					display inline-block
					img
						display block
				.vive_exp
					height auto
					width 81%
					margin-bottom 10px
					img
						width 100%
				.logo-sol
					margin-bottom 0px
				.share
					margin-bottom 20px
					div.fb-share-button
						display inline-block
						margin-right 2px
						vertical-align top										
				.sociales
					margin-bottom 11px
					a
						margin-right 23px
					a:last-child
						margin-right 0
				.ir-sol
					margin-bottom 20px
					img
						width 84%
						margin 0 auto
					
	footer.mainFooter
		position fixed
		bottom 0
		width 100%
		z-index 100
		height 78px
		background #000 url(../img/footer.jpg) repeat-x
		.footer 
			background #000 url(../img/footer.jpg) repeat-x
			
	.contiene-home.ya
		overflow hidden
		transform perspective(1500px) translate3d(0,0,-340px) rotateY(-40deg)
		margin-left 0
	#wrapper
		position absolute
		left -100%
		top 0
		background transparent url('../img/fondo_tablas.jpg') center center no-repeat
		background-size cover
		overflow auto
		width 100%
		height 100%
		.contiene-panorama
			width 100%
			// min-height 600px
			position absolute
			top 50%
			left 0
			margin-top -335px
			height: 550px
			#turnPhone
				width 100%
				position fixed
				background rgba(0,0,0,0.85)
				top 0
				bottom 0
				z-index 200
				display none
				.icono
					position absolute
					margin auto
					left 0
					right 0
					top 0
					bottom 0
			.centr
				width 100%
				height 100%
				margin 0
				padding 0
				position absolute
				top 50%
				left 0
				margin-top -244px
				.todo
					width 90%
					height 63%
					max-width 1200px
					margin 0 auto
					img.logo_sol
						z-index 2
						position absolute
						margin -77px 0 0 10px
						left 0
					div.sociales
						position absolute
						right 0
						margin-top -54px
						a
							margin-right 20px
						a:last-child
							margin-right 0
					.panorama
						float left
						height 400px
						width 70%
						position relative
						margin 0
						overflow hidden
						div.reel
							width 100%
							height 420px
							opacity 0
							top 0
							left 0
							.reel-annotation
								display block !important
								white-space nowrap
								text-align center
								padding 10px 15px
								background rgba(0,0,0,.7)
								color #fff
								line-height 1.1
								font-size .95em
								width auto
								span
									display block
									margin 0 auto
									font-family 'GlyphaLTStd-Black'
								.iconovideo
									height 20px
									width 28px
									background url('../img/video_icon.png') no-repeat center
									display block
									float left
									margin-right 10px
								.iconocard
									height 20px
									width 28px
									background url('../img/cardboard_icon.png') no-repeat center
									display block
									float left
									margin-right 10px 
								.iconodrone
									height 28px
									width 28px
									background url('../img/drone_icon.png') no-repeat center
									display block
									float left
									margin-right 10px
								.iconogallery
									height 30px
									width 28px
									background url('../img/gallery_icon.png') no-repeat center
									display block
									float left
									margin-right 10px     
								.iconocine
									height 20px
									width 28px
									background url('../img/cine_icon.png') no-repeat center
									display block
									float left
									margin-right 10px 
							.reel-annotation:before
								position absolute
								content url('../img/bandera.png')
								display block
								width 30px
								height 60px
								margin -50px 0 0 10px
							.reel-annotation.pin
								display block
								min-width 140px
								white-space nowrap
								text-align center
								padding 10px
								background rgba(0,0,0,.7)
								line-height 1.1
								font-size .95em
								width 110px
								color #dd1455
								span.full
									color #fff
									display block
									width 100%
									margin 0 auto 5px
									font-family 'GlyphaLTStd-Black'
								span.icon
									color #dd1455
									display block
									text-align left
									font-family 'Helvetica'
							.reel-annotation.pin:before
								position absolute
								content url('../img/pin.png')
								display block
								left 0
								right 0
								width 60px
								height 60px
								margin -71px auto 0 auto
								
							.reel-annotation.container
								display block !important
								width 600px
								border 1px solid red
								background none
								a.reel-inside
									position absolute
									top 0
									left 300px
									text-align center
									padding 10px 15px
									background rgba(0,0,0,.7)
									color #fff
									line-height 1.1
									font-size .95em
									width auto
									span
										display block
										margin 0 auto
										font-family 'GlyphaLTStd-Black'
									.iconovideo
										height 20px
										width 28px
										background url('../img/video_icon.png') no-repeat center
										display block
										float left
										margin-right 10px
									.iconocard
										height 20px
										width 28px
										background url('../img/cardboard_icon.png') no-repeat center
										display block
										float left
										margin-right 10px 
									.iconodrone
										height 28px
										width 28px
										background url('../img/drone_icon.png') no-repeat center
										display block
										float left
										margin-right 10px
									.iconogallery
										height 30px
										width 28px
										background url('../img/gallery_icon.png') no-repeat center
										display block
										float left
										margin-right 10px     
									.iconocine
										height 20px
										width 28px
										background url('../img/cine_icon.png') no-repeat center
										display block
										float left
										margin-right 10px 
							.reel-annotation.container
								a.reel-inside:before
									position absolute
									content url('../img/bandera.png')
									display block
									width 30px
									height 60px
									margin -50px 0 0 10px
							.reel-annotation.container:before
									display none
							// .reel-annotation.pin
							// 	display block
							// 	min-width 140px
							// 	white-space nowrap
							// 	text-align center
							// 	padding 10px
							// 	background rgba(0,0,0,.7)
							// 	line-height 1.1
							// 	font-size .95em
							// 	width 110px
							// 	color #dd1455
							// 	span.full
							// 		color #fff
							// 		display block
							// 		width 100%
							// 		margin 0 auto 5px
							// 		font-family 'GlyphaLTStd-Black'
							// 	span.icon
							// 		color #dd1455
							// 		display block
							// 		text-align left
							// 		font-family 'Helvetica'
							// .reel-annotation.pin:before
							// 	position absolute
							// 	content url('../img/pin.png')
							// 	display block
							// 	left 0
							// 	right 0
							// 	width 60px
							// 	height 60px
							// 	margin -71px auto 0 auto
								
						div.reel.actual
							opacity:1
						div.reel.entrando
							animation-name opacidad
							animation-duration 1s
						div.reel.saliendo
							animation-name zoomin
							animation-duration 1s
						div.reel.entrando,div.reel.saliendo
							position absolute !important
							top 0
							left 0
					#viewer
						width 29%
						height 488px
						float right
						overflow hidden
						position relative
						.mapa
							background rgba(0,0,0,.7)
							width 98%
							height 488px
							padding-right 6%
							img.titulo
								display block
								clear both
								margin 20px auto
							.lugares
								overflow-x hidden
								overflow-y auto
								margin 0 -18px 0 0
								padding 0
								height 397px
								ul
									font-size 1.2em
									list-style none
									display block
									float right
									width 140px
									margin 0 10px 0 0
									li
										list-style none
										display block
										border-left 1px solid #f5f3e9
										padding-bottom 25px
										padding-right 27px
										i.fa
											background #000
											display block
											float left
											margin 0 0 0 -10px
											font-size 1.2em
											color #dd1455
										i.fa:before
											content "\f111"
										a:hover,a:active,a:focus
											color #fff
										a:not(.gal)
											border-bottom 2px solid rgba(0,0,0,0)
											display block
											margin-left 25px
											font-size 15px;
										div
											color #c41a62
											line-height 1
											overflow hidden
											width 109px
											float left
											margin-left -125px
											margin-top 2px
											font-size .6em
											a
												color #dd1455
												line-height 30px
												.iconovideo
													height 20px
													width 28px
													background url('../img/video_icon.png') no-repeat center
													display block
													float left
													margin-right 5px
												.iconocard
													height 20px
													width 24px
													background url('../img/cardboard_icon.png') no-repeat center
													display block
													float left
													margin-right 5px 
												.iconodrone
													height 28px
													width 28px
													background url('../img/drone_icon.png') no-repeat center
													display block
													float left
													margin-right 5px
												.iconogallery
													height 30px
													width 28px
													background url('../img/gallery_icon.png') no-repeat center
													display block
													float left
													margin-right 5px     
												.iconocine
													height 20px
													width 28px
													background url('../img/cine_icon.png') no-repeat center
													display block
													float left
													margin-right 5px 
											a:hover
												color #dd1455
									li:hover,li.active
										i.fa:before
											content "\f111"
										a:not(.gal)
											color #fff
											border-bottom 2px solid #dd1455
									li:last-child
										border-left 0
									li.doble
										padding-top 20px
										height 44px
										div
											margin-top 15px
										div:first-child
											margin-top -15px
					div.externos
						margin-top 15px
						float left
						width 70%
						text-align center
						div.fb-share-button
							display inline-block
							margin-right 2px
							vertical-align middle
						a, #twitter-widget-2
							display inline-block
							vertical-align middle
							margin-left 8px
							img
								display block
						.ir-sol
							width 132px
						a:first-child,a:nth-child(2)
							padding-bottom 2px
							margin-right 8px
	#wrapper.ya
		animation-fill-mode forwards
		animation entrando 1.3s
	#wrapper.ya.fin
		left 0
			
	.mainFooter 
		.footer
			position absolute
			height 87px
			width 100%
			position fixed
			bottom 0
			width 100%
			height 80px
			left 0
			bottom 0
			color #aaa
			font-size .94em
			display table
			.menu
				display table
				text-align center
				width 100%
				ul
					list-style outside none none
					margin 0px
					padding 0px
					li
						list-style outside none none
						float left
						padding 20px 4%
						line-height 50px
						a
							color #9C9B9B
							font-family 'GlyphaLTStd'
							font-size 12px
							text-decoration none
		.derechos
			display table-cell
			vertical-align bottom
			text-align right
			width 55%
			a.heineken
				float right
				display block
				height 70px
				width 50px
				background url(../img/logoheineken.png) no-repeat center	
				margin 10px 2%
			a.consumo
				display block
				float right
				height 70px
				width 50px
				background url(../img/logoconsumo.png) no-repeat center
				margin 10px 2%
				
			span
				color #9C9B9B
				display inline-block
				font-family "GlyphaLTStd"
				font-size 13px
				padding 8px 10px
				line-height 74px
				strong
					color #FFF
					font-family Helvetica,Arial,sans-serif
					text-transform uppercase
	#galeria
		display none
		position fixed
		top 0
		left 0
		width 100%
		height 100%
		z-index 105
		background rgba(0,0,0,.8)
		a.cerrar
			z-index 10
			position fixed
			top 10px
			right 10px
			background url(../img/closePanel.png) no-repeat center
			width 36px
			height 36px
			font-size 3.5em
			display block

		#sudo
			width 70%
			height auto
			margin 45px auto 10px
			max-height 500
		#sudo.video
			position fixed
			top 0
			left 0
			z-index 1
			width 100%
			height 100%
			margin 0
			padding 0
			iframe#ytplayer
				width 100%
				height 100%
			img
				width 100%
				height 100%
				display block
				border 0
		#sudo.videoembed
			// width 70%
			 //height 80% !important
			// position fixed
			// margin 0 auto 0 auto
			// left 0
			// right 0
			.video-responsive
				position relative
				padding-bottom 56.25% 
				padding-top 35px
				width 100%
				height 100%
				iframe 
					position absolute
					top 0
					bottom 0
					width 100%
					height 100%
		.controls
			text-align center
			.prevBtn
				position fixed
				top 39%
				display block
				background url(../img/arrowPrev.png) no-repeat center
				left 20px
				width 30px
				height 35px
				text-indent -9999px
			.nextBtn
				position fixed
				top 39%
				display block
				background url(../img/arrowNext.png) no-repeat center
				right 20px
				width 30px
				height 35px
				text-indent -9999px
			ol.numericControls
				list-style none
				display block
				margin 0
				padding 0
				li
					display inline-block
					margin 0 7px
					a
						color #dd1455
						font-family 'FontAwesome'
						display block
						span
							display none
					a:before
						content "\f10c"
				li.current
					a:before
						content "\f111"
						
//Elementos Responsive Ocultos en vista normal

.logoResponsive
	display none
	position absolute
	top 0
	left 0
	width 140px
	z-index 100
	
#socialesResponsive
	width 100%
	height 100%
	background #000
	position fixed
	top 0
	bottom 0
	z-index 99
	display none
	.share
		margin 130px auto 15px
		width 168px
		div.fb-share-button
			margin-right 10px
			display inline-block
			vertical-align top
		a
			display inline-block
			
	.sociales
		width 151px
		margin 0 auto 15px
		text-align center
		a
			margin-right 20px
	.ir-sol
		margin 0 auto
		display block
		width 212px
    			
#menuResponsive
	height 50px
	width 100%
	position fixed
	z-index 98
	display none
	a.access
		display block
		color #DD1455
		text-decoration none
		font-size 2.8em
		float right
		margin  14px 15px 14px 3px

#mapaResponsive
	display none
.cierraPanel
	position absolute
	top 9px
	display block
	right 10px
	background url(../img/closePanelSmall.png) no-repeat center
	width 35px
	height 35px
	z-index 10

.scrollThis
	display block
	color yellow
	font-size 16px
	position absolute
	right 56px
	bottom 9px
		
.scrollThat
	display block
	color #FF0
	font-size 18px
	position absolute
	right 5%
	top 85%
	z-index 2
body
	
	.mainFooter.collapsed 
		height 48px
		position fixed
		bottom 0
		.footer
			height 39px
			button
				height 16px
				width 40px
				cursor pointer
				position absolute
				margin 0 auto
				left 0
				right 0
				top 6px
				background url(../img/Flecha-desplegar_up.png) no-repeat center
				display block
				z-index 20
			button.on
				background url(../img/Flecha-desplegar_down.png) no-repeat center
				
		.menu
			display none
		.derechos
			display block
			vertical-align bottom
			text-align center
			width 100%
			a.heineken
				display none
			a.consumo
				display none
			span
				color #9C9B9B
				display inline-block
				font-family "GlyphaLTStd"
				font-size 11px
				padding 8px 1%
				line-height initial
				width 46%
				text-align left
			span + span
				text-align right
	.mainFooter.collapsed.full 
		height auto
		position fixed
		bottom 0
		.footer
			height 100px
			button
				-webkit-transition all ease-in .5s
				-moz-transition all ease-in .5s
				-ms-transition all ease-in .5s
				-o-transition all ease-in .5s
				transition all ease-in .5s
				height 16px
				width 40px
				cursor pointer
				position absolute
				margin 0 auto
				left 0
				right 0
				top 19px
				background url(../img/Flecha-desplegar_up.png) no-repeat center
				display block
				z-index 20
			button.on
				-webkit-transition all ease-in .5s
				-moz-transition all ease-in .5s
				-ms-transition all ease-in .5s
				-o-transition all ease-in .5s
				transition all ease-in .5s
				background url(../img/Flecha-desplegar_down.png) no-repeat center
				
			.menu
				display block
				position absolute
				bottom 46px
				height 40px
				margin 0 auto
				left 0
				right 0
				width 328px
				ul
					li
						line-height auto
						a
							font-size 11px
		.derechos
			display block
			vertical-align bottom
			text-align center
			width 100%
			a.heineken
				display block
				float left
			a.consumo
				display block
			span
				color #9C9B9B
				display inline-block
				font-family "GlyphaLTStd"
				font-size 11px
				padding 8px 1%
				line-height initial
				width 43%
				text-align left
				margin-top 8px
			span + span
				text-align right
	
@media screen and (max-width:1000px)
	body
		#galeria
			a.cerrar
				font-size 3em
				top 3px
				right 5px
			
@media screen and (max-width:396px)
	body
		#wrapper
			.home
				width 100%
				left 0
				margin-left 0
				
@media screen and (min-width:1024px)
	body
		min-height 700px
		.contiene-home
			video
				display block
				position fixed
				top 50%
				left 50%
				min-width 100%
				min-height 100%
				width auto
				height auto
				z-index 0
				transform translateX(-50%) translateY(-50%)
				
@media screen and (max-height:680px) and (min-width:768px)
	body.loaded.exp
		background-size initial
	body
		#wrapper
			.contiene-panorama
				.centr
					top 0
					margin-top 0
					.todo
						top 0
						margin 100px auto
	
@keyframes opacidad
	from
		opacity 0
	to
		opacity 1
@keyframes zoomin
	from
		transform scale(1)
		opacity 1
	to
		transform  scale(3)
		opacity 0
//Animaciones
@keyframes entrando
	0%
		left -100%
	48%
		left -100%
	100%
		left 0
/* Para ciclos for.....
		filter blur(0px)
		filter blur(20px)
@keyframes opacidad
	for i in 1..10
		{10%*i}
			opacity (i/10)
*/

@media screen and (max-width 1000px) and (max-height: 700px)
	body
		#wrapper
			.logoResponsive
				display block
			.contiene-panorama
				.centr
					.todo
						.logo_sol
							display none
						#viewer
							.mapa
								.lugares
									ul
										font-size 1.2em
										list-style outside none none
										display block
										float none
										width 200px
										margin 0px 10px 0px 21px
										li, li.doble
											padding-top 0px
											padding-bottom 14px
											height 26px
											div
												display none
	
	
@media screen and (max-width: 800px)
	body
		.contiene-home
			.home
				background rgba(0,0,0,.8)
				left 0
				top 0
				width 50%
				height auto
				margin 0 auto
				right 0
				paddind-top 38px
				bottom 0
				.sub
					height auto
					margin-top 0
					top 5%
					// .logo-sol
					// 	width 70%
					// 	height auto
					// 	img
					// 		height auto
					// 		width 100%
					// 		margin 0 auto
					.share
						display none
					.sociales
						display none
					.ir-sol
						display none
					// .vive_exp
					// 	width 100%
					// 	height auto
					// 	margin-bottom 0
			
		#galeria
			z-index 100
		#wrapper
			#menuResponsive
				display block
			#mapaResponsive
				display none
				height 90px
				width 100%
				background #000
				position absolute
				top 0
				z-index 99
				.lugares
					overflow-x auto
					overflow-y hidden
					width 88%
					height 80px				
					.gal
						display none
					ul
						font-size 1.2em
						list-style outside none none
						display block
						float none
						width 1320px
						margin 28px 0px 33px 36px
						li
							list-style none
							display inline-block
							border-top 1px solid #f5f3e9
							border-left none
							padding-bottom 20px
							width 126px
							padding-top 13px
							a 
								font-size 10px
							i.fa
								background #000
								display block
								float left
								margin -22px 0 0px -5px
								font-size 1.2em
								color #dd1455
							i.fa:before
								content "\f10c"
							a:hover,a:active,a:focus
								color #fff
							a:not(.gal)
								border-bottom 2px solid rgba(0,0,0,0)
								display block
								margin-left 20px
							div
								color #c41a62
								line-height 1
								overflow hidden
								width 104px
								float left
								margin-left -115px
								margin-top 2px
								font-size .6em
								a:hover
									color: #dd1455
								img
									margin-right 3px
									float left
						li:hover,li.active
							i.fa:before
								content "\f111"
							a:not(.gal)
								color #fff
								border-bottom 2px solid #dd1455
					
			.contiene-panorama
				top 0px
				left 0px
				margin-top -15px
				height 100%
				.centr 
					.todo
						width 100%
						height auto
						.sociales, .externos
							display none
						img.logo_sol
							display none
						.panorama
							width 100%
							
			#viewer
				display none
	img.logoResponsive
		display block
		
@media screen and (max-width: 420px)
	body
		#wrapper
		.mainFooter
			.footer
				.menu
					ul
						li
							padding 0
							width 100%
							line-height 27px
			.derechos
				span
					width 42%
					
@media screen and (max-height: 360px) 
	body
		#galeria
			#sudo
				margin 14px auto 10px
		.contiene-home
			.home
				width 200px
				.sub
					overflow hidden 
					.logo-sol
						width 40%
						height auto
						margin-bottom 10px
						img
							width 100%
							height auto
					.vive_exp
						width 80%
						height auto
						img
							width 100%
							height auto
							margin 0 auto
		#wrapper 
			.contiene-panorama
				.centr
					.todo
						margin-top -22px
	#socialesResponsive
		.share
			margin 75px auto 10px

@media screen and (max-width:360px)
	body
		.contiene-home
			.home
				width 100%
				.sub
					top 12%
			
	
	