/* SLIDER 1 */
  /*Controles*/
  .contSlider {
      float: left;
      height: calc(100%);
      margin-bottom: 0;
      padding-bottom: 0;
      position: relative;
      width: 100%;
  }

  .contSlider #div-ctrl-next #ctrl-next {
      right: 0;
  }

  .contSlider #div-ctrl-next #ctrl-next, 
  .contSlider #div-ctrl-prev #ctrl-prev {
      height: calc(100%);
      position: absolute;
      top: 0;
      width: 50px;
      z-index: 5;
  }

  .contSlider #div-ctrl-prev #ctrl-prev .prev {
      background-image: url("../imgs/fblanca1.png");
      background-position: left center;
      cursor: pointer;
      left: 15px;
      background-size: 25% auto;
  }

  .contSlider #div-ctrl-next #ctrl-next .next {
      background-image: url("../imgs/fblanca2.png");
      background-position: right center;
      cursor: pointer;
      right: 15px;
      background-size: 25% auto;
  }

  .contSlider #div-ctrl-next #ctrl-next .next, .contSlider #div-ctrl-prev #ctrl-prev .prev {
      background-repeat: no-repeat;
      height: calc(100%);
      position: absolute;
      width: 100%;
  }

  /* Envolvente e items*/
  .wrap {
      float: left;
      height: auto;
      overflow: hidden;
      width: 100%;
  }

  #cont-items{
      height: auto;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
      width: 100%;
  }

  .item{
      float: left;
      position: relative;
      width: 7.69231%;
  }
/* FIN SLIDER 1 */

/* SLIDER 2 */
  /*Controles*/
  .contSlider2 {
      float: left;
      height: calc(100%);
      margin-bottom: 0;
      padding-bottom: 0;
      position: relative;
      width: 100%;
  }

  .contSlider2 #div-ctrl-next2 #ctrl-next2 {
      right: 0;
  }

  .contSlider2 #div-ctrl-next2 #ctrl-next2, 
  .contSlider2 #div-ctrl-prev2 #ctrl-prev2 {
      height: calc(100%);
      position: absolute;
      top: 0;
      width: 50px;
      z-index: 5;
  }

  .contSlider2 #div-ctrl-prev2 #ctrl-prev2 .prev2 {
      background-image: url("../imgs/fnegra1.png");
      background-position: left center;
      cursor: pointer;
      left: 15px;
      background-size: 25% auto;
  }

  .contSlider2 #div-ctrl-next2 #ctrl-next2 .next2 {
      background-image: url("../imgs/fnegra2.png");
      background-position: right center;
      cursor: pointer;
      right: 15px;
      background-size: 25% auto;
  }

  .contSlider2 #div-ctrl-next2 #ctrl-next2 .next2, .contSlider2 #div-ctrl-prev2 #ctrl-prev2 .prev2 {
      background-repeat: no-repeat;
      height: calc(100%);
      position: absolute;
      width: 100%;
  }

  /* Envolvente e items*/
  .wrap2 {
      float: left;
      height: auto;
      overflow: hidden;
      width: 100%;
  }

  #cont-items2{
      height: auto;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
      width: 100%;
  }

  .item2{
      float: left;
      position: relative;
      width: 7.69231%;
  }
/* FIN SLIDER 2 */

/*TRANSICIONES*/
/*animation element*/
.mod1, .hash-mod1, .txt_mod1{
  opacity: 0;/*Temporal, estaba a 0 */
}

.animation-element {
  opacity: 0;
  position: relative;
}

/* ANIM OPACITY */
.animation-element.slide-opacity {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
}
.animation-element.slide-opacity.in-view {
  opacity: 1;
}

/*animation element sliding left*/
/* LEFT SLIDE ANIM */
.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 0.95;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

/* RIGHT SLIDE ANIM */
.animation-element.slide-right {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(100px, 0px, 0px);
  -webkit-transform: translate3d(100px, 0px, 0px);
  -o-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  transform: translate3d(100px, 0px, 0px);
}

.animation-element.slide-right.in-view {
  opacity: 0.97;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
/* RIGHT SLIDE ANIM 2 */
.animation-element.slide-right2 {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(1000px, 0px, 0px);
  -webkit-transform: translate3d(1000px, 0px, 0px);
  -o-transform: translate(1000px, 0px);
  -ms-transform: translate(1000px, 0px);
  transform: translate3d(1000px, 0px, 0px);
}

.animation-element.slide-right2.in-view {
  opacity: 0.7;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

/* TOP SLIDE ANIM*/
.animation-element.slide-top {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(0px, 100px, 0px);
  -webkit-transform: translate3d(0px, 100px, 0px);
  -o-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate3d(0px, 100px, 0px);
}

.animation-element.slide-top.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}


/* ROTATE - TRANSITION
.rotate_r {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
          -moz-transform:rotate(90deg);
          -o-transform:rotate(90deg);
          -ms-transform:rotate(90deg);
}*/
/**/
.transition_r{
    transform: translate(51%, 0%) rotate(90deg);
    -webkit-transform: translate(51%, 0%) rotate(90deg);
    -moz-transform: translate(51%, 0%) rotate(90deg);
    -o-transform: translate(51%, 0%) rotate(90deg);
    -ms-transform: translate(51%, 0%) rotate(90deg);
}

.transition_l{
    transform: translate(-51%, 50%) rotate(-90deg);
    -webkit-transform: translate(-51%, 50%) rotate(-90deg);
    -moz-transform: translate(-51%, 50%) rotate(-90deg);
    -o-transform: translate(-51%, 50%) rotate(-90deg);
    -ms-transform: translate(-51%, 50%) rotate(-90deg);
}