/*FUENTES*/

/*MANUSTRIAL REGULAR*/
@font-face {
    font-family: 'manustrialregular';
    src: url('../fonts/manus/mns_trial-webfont.eot');
    src: url('../fonts/manus/mns_trial-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/manus/mns_trial-webfont.woff2') format('woff2'),
         url('../fonts/manus/mns_trial-webfont.woff') format('woff'),
         url('../fonts/manus/mns_trial-webfont.ttf') format('truetype'),
         url('../fonts/manus/mns_trial-webfont.svg#manustrialregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*EFRRA REGULAR*/
@font-face {
    font-family: 'effra';
    src: url('../fonts/effra/effra-regular-webfont.eot');
    src: url('../fonts/effra/effra-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/effra/effra-regular-webfont.woff2') format('woff2'),
         url('../fonts/effra/effra-regular-webfont.woff') format('woff'),
         url('../fonts/effra/effra-regular-webfont.ttf') format('truetype'),
         url('../fonts/effra/effra-regular-webfont.svg#effraregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*EFRRA BOLD*/
@font-face {
    font-family: 'effrabold';
    src: url('../fonts/effra/effra-bold-webfont.eot');
    src: url('../fonts/effra/effra-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/effra/effra-bold-webfont.woff2') format('woff2'),
         url('../fonts/effra/effra-bold-webfont.woff') format('woff'),
         url('../fonts/effra/effra-bold-webfont.ttf') format('truetype'),
         url('../fonts/effra/effra-bold-webfont.svg#effrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*GILL SANS REGULAR*/
@font-face {
    font-family: 'gillsans';
    src: url('../fonts/gillsans/GillSans.eot');
    src: url('../fonts/gillsans/GillSans.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gillsans/GillSans.woff') format('woff'),
         url('../fonts/gillsans/GillSans.ttf') format('truetype'),
         url('../fonts/gillsans/GillSans.svg#effrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*GILL SANS ITALIC*/
@font-face {
    font-family: 'gillsans-italic';
    src: url('../fonts/gillsans/GillSans-Italic.eot');
    src: url('../fonts/gillsans/GillSans-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gillsans/GillSans-Italic.woff') format('woff'),
         url('../fonts/gillsans/GillSans-Italic.ttf') format('truetype'),
         url('../fonts/gillsans/GillSans-Italic.svg#effrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*GILL SANS SEMI-BOLD*/
@font-face {
    font-family: 'gillsans-semibold';
    src: url('../fonts/gillsans/GillSans-SemiBold.eot');
    src: url('../fonts/gillsans/GillSans-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gillsans/GillSans-SemiBold.woff') format('woff'),
         url('../fonts/gillsans/GillSans-SemiBold.ttf') format('truetype'),
         url('../fonts/gillsans/GillSans-SemiBold.svg#effrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*DJB MESSY AMANDA*/
@font-face {
    font-family: 'DJBMessyAmandaGoesBold';
    src: url('../fonts/DJB_Messy_Amanda/original_DJB_Messy_Amanda_Goes_Bold.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/DJB_Messy_Amanda/original_DJB_Messy_Amanda_Goes_Bold.woff') format('woff'),
         url('../fonts/DJB_Messy_Amanda/original_DJB_Messy_Amanda_Goes_Bold.ttf') format('truetype'),
         url('../fonts/DJB_Messy_Amanda/original_DJB_Messy_Amanda_Goes_Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}