/*!
 * Gridpak Beta CSS
 *
 * Generator - http://gridpak.com/
 * Created by @erskinedesign
 */
 
 

/* Reusable column setup */
.col {
    border:0px solid rgba(0,0,0,0);
    float:left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -moz-background-clip:padding-box !important;
    -webkit-background-clip:padding-box !important;
    background-clip:padding-box !important;
}



    /* 1. 2 Column Grid 0px - 319px 
    ----------------------------------------------------------------------------- 
    
    Span 1:    50%
    Span 2:    100%
    
    ----------------------------------------------------------------------------- */



    @media screen and (min-width: 0px) and (max-width: 480px) {
        
        .row {
            margin-left:-5px;
        }
        .col {
            border-left-width:5px;
        	padding:0 5px;
        }

        /*Generales*/
        *{ font-size: 12px; }

         .btn-nav {
            font-size: 2em;
            line-height: 1.4em;
        }

        .contenido_slide.recipe .txt {
            width: 89%;
        }

        /*Header*/
        header img{
            width: 50%;
        }
        .redes-header {
            bottom: -46px;
            text-align: right;
        }
        /*Modulo 1 con redes sociales*/
        .mod1, .mod1 .hash-mod1, .mod1 .txt_mod1, .mod1.hash2-mod1, .mod1-diagonal{ display: none;}
        .mod1-responsive, .mod3-responsive{ 
            display: block;
            border-left-width: 0px !important;
            padding: 0px !important;
        }
        .mod1-back{
            width: 100%;
            position: relative;
            margin-top: 135px;
        }

        .mod1-back>img{
            width: 100%;
            max-width: 1920px;
            min-width: 320px;
        }
        .mod1-responsive .hash-mod1{
            width: 100%;
            height: 15%; 
            position: absolute; 
            top:0; bottom:-30px;
            left: 0; right: 0;
            margin: auto;
            text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.9) !important;
            text-align: right;
            font-family: "manustrialregular";
            font-size: 38px;
            font-weight: 300;
            letter-spacing: 3px;
            color: #fcf13a;
        }
        .mod1-responsive .txt_mod1{
            width: 90%;
            text-align: right;
            padding: 25px 10px;
        }
        .mod1-responsive .txt_mod1 h2{
            font-family: "gillsans";
            color: #9e8c58;
            line-height: 20px;
            padding: 5px 0px;
            font-size: 17px;
        }
        .mod1-responsive .hash2-mod1{
            font-family: "gillsans";
            color: #3b3b3b;
            font-size: 20px;
        }
        .mod1-back ul, .mod1-responsive .txt_mod1 ul{
            list-style: none;
        }
        .mod1-back ul li, .mod1-responsive .txt_mod1 ul li{
            display: inline-block;
        }
        
        /*Modulo 2 Sliders*/
        .slider1, .slider2{
            width: 100%;
            margin: 2px 0px;
            min-height: auto;
        }
        .contenido_slide{
            margin: 10px;
            height: auto;
        }
        .contenido_slide p {
            width: auto;
        }
        .contSlider #div-ctrl-next #ctrl-next .next, .contSlider #div-ctrl-prev #ctrl-prev .prev, .contSlider2 #div-ctrl-next2 #ctrl-next2 .next2, .contSlider2 #div-ctrl-prev2 #ctrl-prev2 .prev2 {
            background-repeat: no-repeat;
            background-size: 25% auto;
            height: calc(100%);
            position: absolute;
            width: 100%;
        }
        .contSlider #div-ctrl-prev #ctrl-prev .prev {
            left: 0px;
        }
        .next, .prev, .next2, .prev2{
            background-size: 10%;
            left: 0px;
        }
        .contenido_slide .txt{
            width: 100%;
        }

        .contenido_slide .left, .contenido_slide .right{
            float: none;
        }
        .contenido_slide .img{
            width: 43%;
            height: 100%;
            margin-top: 20px;
        }
        .contenido_slide .img img{
            width: 85%;
        }
        .contenido_slide .img1 img {
            width: 75% !important;
        }
        .contenido_slide h1{
            font-family: "manustrialregular";
            font-size: 30px;
            padding: 10px 20px 0;
            text-align: center;
        }
        .contenido_slide.recipe h1 {
            margin-top: 0px;
        }
        .contenido_slide .padding40{
            padding: 20px 25px;
        }
        .contenido_slide p{
            font-family: "Effra";
            font-size: 12px;
            text-align: center;
        }
        .contenido_slide .padding40{
            padding: 10px 25px;
        }
        .contenido_slide .padding20{
            padding: 5px 25px;
        }

        /*Modulo 3 formulario*/
        .mod3, .mod3 .input-aling, .mod3 .hash-mod3, .mod3 .txt_mod3, .mod3 .nombre, .mod3 .correo, .mod3 .face{ display: none; }
        .mod3-responsive{
            width: 100%;
            display: block;
        }
        .mod3-back{
            width: 100%;
            position: relative;
        }
        .mod3-responsive .mod3-back>img{
            width: 100%;
            max-width: 1920px;
            min-width: 320px;
        }
        .mod3-responsive .hash-mod3{
            width: 100%;
            height: 20%; 
            position: absolute; 
            top:0; left: 0;
            bottom:0; right: 0;
            margin: auto;
            text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.9) !important;
            text-align: center;
            font-family: "manustrialregular";
            font-size: 35px;
            font-weight: 300;
            letter-spacing: 3px;
            color: #fcf13a;
        }
        .mod3-responsive .txt_mod3{
            width: 95%;
            position: relative;
            padding: 30px 0;
            
            text-align: center;
        }
        .mod3-responsive .txt_mod3 .tit, .mod3-responsive .txt_mod3 .tit span{
            font-size: 17px;
        }
        .mod3-responsive .txt_mod3 .txt, .mod3-responsive .txt_mod3 .txt span{
            font-size: 14px;
        }
        .mod3-responsive .input-aling{ 
            margin: 8px;
        }

        #submit{
            float: none;
        }

        input[type="submit"]{
            margin: auto;
        }

        /*Footer*/
        .footer{ 
            display: block;
        }
        .logoF, .redesF, .terminos{
            width: 100%;
            padding: 5px 0px;
        }
        .terminos ul li{
            padding: 0px 10px;
        }

        .terminos ul li a{
            font-size: 10px;
        }

        .terminos p{
            padding: 10px 0;
        }

        .redesF p {
            font-size: 12px;
        }

        /* Rotate */
        .transition_r, .transition_l{
            transform: translate(0%, 0%) rotate(0deg);
            -webkit-transform: translate(0%, 0%) rotate(0deg);
            -moz-transform: translate(0%, 0%) rotate(0deg);
            -o-transform: translate(0%, 0%) rotate(0deg);
            -ms-transform: translate(0%, 0%) rotate(0deg);
        }

        /*** HERENCIA ***/

        /*Modulo 1*/
        .mod1-herencia{
            margin-top: 0px;
        }
        .mod1-herencia .herencia{ 
            background-image: url("../imgs/herencia_mod1.jpg");
            background-position: 35%;
        }
        .mod1-herencia .herencia img{
           display: none;
        }
        .mod1-herencia .txt_mod1{
            height: 50%;
            width: auto;
            position: relative;
            padding: 5em 4em 4em 4em;
        }
        .mod1-herencia .txt_mod1 h2{
            font-size: 18px;
            line-height: 2em;
        }
        .mod1-herencia .txt_mod1 p, .mod1-herencia .txt_mod1 p span{
            font-size: 14px;
        }
        /*Modulo 2*/
        .mod2-herencia,.mod2-herencia .txt_mod2, .mod2-herencia .img-circ{ display: none; }
        .mod2-herencia-responsive{
            display: block;
            width: 100%;
            padding: 0px !important;
        }
        .mod2-herencia-responsive .herencia{
            width: 100%;
            position: relative;
        }
        .mod2-herencia-responsive .herencia>img{
            width: 100%;
            max-width: 1920px;
            min-width: 320px;
        }
        .mod2-herencia-responsive .img-circ{
            width: 25%;
            height: auto;
            position: absolute;
            top: 15px; bottom: 0;
            right: 15px;
        }
        .mod2-herencia-responsive .img-circ img{
            width: 100%;
        }
        .mod2-herencia-responsive .txt_mod2{
            width: 30%;
            height: 20%;
            position: absolute;
            top:0; bottom:0;
            right:0; left:0;
            margin: auto;
            text-align: center;
        }
        .mod2-herencia-responsive .txt_mod2 p{
            font-family: "effra";
            font-size: 20px;
            color: #fff;
        }
        .mod2-herencia-responsive .txt_mod2 p span{
            font-family: "gillsans-semibold";
            font-size: 24px;
            color: #fff;
        }
        .mod2-herencia-responsive .txt_mod2{
            width: auto;
            background: url("../imgs/herencia_mod2_02.jpg") no-repeat left bottom;
            position: relative;
            text-align: center;
            padding: 3em;
        }
        .mod2-herencia-responsive .txt_mod2 p{
            padding: 10px;
            font-size: 16px;
        }
        .mod2-herencia-responsive .txt_mod2 p span, .font24{
            font-size: 16px !important;
        }
        /*Modulo 3*/
        .mod3-herencia,.mod3-herencia .txt_mod3{ display: none; }
        .mod3-herencia-responsive{
            display: block;
            width: 100%;
            padding: 0px !important;
        }
        .mod3-herencia-responsive .herencia{
            width: 100%;
            position: relative;
        }
        .mod3-herencia-responsive .herencia>img{
            width: 100%;
            max-width: 1920px;
            min-width: 320px;
        }
        .mod3-herencia-responsive .txt_mod3{
            margin: auto;
            padding: 30px;
            position: relative;
            text-align: center;
        }
        .mod3-herencia-responsive .txt_mod3 p{
            font-family: "effra";
            font-size: 16px;
            color: #414042;
        }
        .mod3-herencia-responsive .txt_mod3 p span, .font24{
            font-family: "gillsans-semibold";
            font-size: 18px;
            color: #414042;
        }

        /*Modulo 4*/
        .mod4-herencia .img-bot {
            width: 30%;
        }
        .mod4-herencia .txt_mod4{
            margin: auto;
            width: 80%;
            position: relative;
            text-align: center;
            bottom: 20px;
        }
        .mod4-herencia .txt_mod4 p{
            font-family: "effra";
            font-size: 16px;
            color: #414042;
        }
        .mod4-herencia .txt_mod4 p span{
            font-family: "gillsans-semibold";
            font-size: 16px;
            color: #414042;
        }

        /*
        Add your semantic classnames in alongside their corresponding spans here. e.g.
        
        .span_3,
        .my_semantic_class_name {
            ...
        }
        */
        
        .span_1 {
            width:50%;
        }
        .span_2 {
            margin-left:0;
            width:100%;
        }

        span.txt_manus_cafe {
            line-height: 1.1em;
        }

        /*----------  Responsive verificador de edad  ----------*/

        #ageVerify .modalVerify {
            height: auto;
            width: 80%;
            top:3%;
        }

        select.paises {
            font-weight: normal;
            font-size: 1.2em;
            margin: 0 auto;
            text-align: center !important;
        }

        select.paises option{
            text-align: center !important;
        }
        #ageVerify input {
            font-size: 1.2em;
        }
        #ageVerify li {
            height: 48px;
        }
        #ageVerify .legales p {
            width: 80%;
            font-size: 0.6em;
        }

        #ageVerify img {
            display: block;
            width: 15%;
            max-width: 75px;
        }
    }

    /* 2. 4 Column Grid 320px - 779px 
    ----------------------------------------------------------------------------- 
    
    Span 1:    25%
    Span 2:    50%
    Span 3:    75%
    Span 4:    100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (min-width: 481px) and (max-width: 799px) {
        
        .row {
            margin-left:-5px;
        }
        .col {
            border-left-width:5px;
        	padding:0 5px;
        }
        
        /*Generales*/
        *{ font-size: 16px; }

        /*Header*/
        header img{
            width: 30%;
        }
        .redes-header {
            bottom: -47px;
        }

         .contenido_slide.recipe h1 {
            margin-top: 0px;
        }

        /*Modulo 1 con redes sociales*/
        .mod1, .mod1 .hash-mod1, .mod1 .txt_mod1, .mod1.hash2-mod1, .mod1-diagonal{ display: none;}
        .mod1-responsive, .mod3-responsive{
            display: block;
            border-left-width: 0px !important;
            padding: 0px !important;
        }
        .mod1-back{
            width: 100%;
            position: relative;
            margin-top: 147px;
        }
        .mod1-back>img{
            width: 100%;
            max-width: 1920px;
            min-width: 320px;
        }
        .mod1-responsive .hash-mod1{
            width: 100%;
            height: 15%; 
            position: absolute; 
            top:0; bottom:0;
            left: 0; right: 0;
            margin: auto;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8) !important;
            text-align: center;
            font-family: "manustrialregular";
            font-size: 55px;
            font-weight: 300;
            letter-spacing: 3px;
            color: #fcf13a;
        }
        .mod1-responsive .txt_mod1{
            width: 90%;
            text-align: right;
            padding: 25px 10px;
        }
        .mod1-responsive .txt_mod1 h2{
            font-family: "gillsans";
            color: #9e8c58;
            line-height: 20px;
            padding: 5px 0px;
        }
        .mod1-responsive .hash2-mod1{
            font-family: "gillsans";
            color: #3b3b3b;
            font-size: 26px;

        }
        .mod1-back ul, .mod1-responsive .txt_mod1 ul{
            list-style: none;
        }
        .mod1-back ul li, .mod1-responsive .txt_mod1 ul li{
            display: inline-block;
        }
        /* SLIDERS */
        .contenido_slide{
            display: table-cell;
        }
        
        /*Modulo 2 Sliders*/
        .slider1, .slider2{
            width: 100%;
            margin: 10px 0px 0px;
        }
        .transition_r{
            transform: translate(0%, 0%) rotate(0deg);
            -webkit-transform: translate(0%, 0%) rotate(0deg);
            -moz-transform: translate(0%, 0%) rotate(0deg);
            -o-transform: translate(0%, 0%) rotate(0deg);
            -ms-transform: translate(0%, 0%) rotate(0deg);
        }

        .transition_l{
            transform: translate(0%, 0%) rotate(0deg);
            -webkit-transform: translate(0%, 0%) rotate(0deg);
            -moz-transform: translate(0%, 0%) rotate(0deg);
            -o-transform: translate(0%, 0%) rotate(0deg);
            -ms-transform: translate(0%, 0%) rotate(0deg);
        }

        /*Modulo 3 formulario*/
        .mod3, .mod3 .input-aling, .mod3 .hash-mod3, .mod3 .txt_mod3, .mod3 .nombre, .mod3 .correo, .mod3 .face{ display: none; }
        .mod3-responsive{
            width: 100%;
            display: block;
        }
        .mod3-back{
            width: 100%;
            position: relative;
        }
        .mod3-responsive .mod3-back>img{
            width: 100%;
            max-width: 1920px;
            min-width: 320px;
        }
        .mod3-responsive .hash-mod3{
            width: 100%;
            height: 20%; 
            position: absolute; 
            top:0; left: 0;
            bottom:0; right: 0;
            margin: auto;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8) !important;
            text-align: center;
            font-family: "manustrialregular";
            font-size: 45px;
            font-weight: 300;
            letter-spacing: 3px;
            color: #fcf13a;
        }
        .mod3-responsive .txt_mod3{
            width: 95%;
            position: relative;
            padding: 30px 0;

            text-align: center;
        }
        .mod3 .txt_mod3 img{
            width: 40%;
        }
        .mod3-responsive .txt_mod3 .tit, .mod3-responsive .txt_mod3 .tit span{
            font-size: 25px;
        }
        .mod3-responsive .txt_mod3 .txt, .mod3-responsive .txt_mod3 .txt span{
            font-size: 20px;
        }
        .mod3-responsive .input-aling{ 
            margin: 8px;
        }

        /*Footer*/
        .footer{ 
            display: block;
        }
        .logoF, .redesF, .terminos{
            width: 100%;
            padding: 5px 0;
        }
        .terminos ul li{
            padding: 0px 10px;
        }

        .span_1 {
            width:25%;
        }
        .span_2 {
            width:50%;
        }
        .span_3 {
            width:75%;
        }
        .span_4 {
            margin-left:0;
            width:100%;
        }

        /***** HERENCIA *****/
        /*Modulo 1*/
        .mod1-herencia{
            margin-top: 0px;
        }
        .mod1-herencia .herencia{ 
            background-image: url("../imgs/herencia_mod1.jpg");
            background-position: 35%;
        }
        .mod1-herencia .herencia img{
           display: none;
        }
        .mod1-herencia .txt_mod1{
            height: 30%;
            width: 50%;
            position: relative;
            padding: 5em;
        }
        .mod1-herencia .txt_mod1 h2{
            font-size: 20px;
            line-height: 2em;
        }
        .mod1-herencia .txt_mod1 p, .mod1-herencia .txt_mod1 p span{
            font-size: 18px;
        }
        /*Modulo 2*/
        .mod2-herencia,.mod2-herencia .txt_mod2, .mod2-herencia .img-circ{ display: none; }
        .mod2-herencia-responsive{
            display: block;
            width: 100%;
            padding: 0px !important;
        }
        .mod2-herencia-responsive .herencia{
            width: 100%;
            position: relative;
        }
        .mod2-herencia-responsive .herencia>img{
            width: 100%;
            max-width: 1920px;
            min-width: 320px;
        }
        .mod2-herencia-responsive .img-circ{
            width: 25%;
            height: auto;
            position: absolute;
            top: 15px; bottom: 0;
            right: 15px;
        }
        .mod2-herencia-responsive .img-circ img{
            width: 100%;
        }
        .mod2-herencia-responsive .txt_mod2{
            width: 30%;
            height: 20%;
            position: absolute;
            top:0; bottom:0;
            right:0; left:0;
            margin: auto;
            text-align: center;
        }
        .mod2-herencia-responsive .txt_mod2 p{
            font-family: "effra";
            font-size: 20px;
            color: #fff;
        }
        .mod2-herencia-responsive .txt_mod2 p span{
            font-family: "gillsans-semibold";
            font-size: 24px;
            color: #fff;
        }
        .mod2-herencia-responsive .txt_mod2{
            width: auto;
            background: url("../imgs/herencia_mod2_02.jpg") no-repeat left bottom;
            position: relative;
            text-align: center;
            padding: 3em;
        }
        .mod2-herencia-responsive .txt_mod2 p{
            padding: 10px;
            font-size: 18px;
        }
        .mod2-herencia-responsive .txt_mod2 p span, .font24{
            font-size: 18px !important;
        }

        /*Modulo 3*/
        .mod3-herencia, .mod3-herencia .txt_mod3{ display: none; }
        .mod3-herencia-responsive{
            display: block;
            width: 100%;
            padding: 0px !important;
        }
        .mod3-herencia-responsive .herencia{
            width: 100%;
            position: relative;
        }
        .mod3-herencia-responsive .herencia>img{
            width: 100%;
            max-width: 1920px;
            min-width: 320px;
        }
        .mod3-herencia-responsive .txt_mod3{
            margin: auto;
            padding: 30px;
            position: relative;
            text-align: center;
        }
        .mod3-herencia-responsive .txt_mod3 p{
            font-family: "effra";
            font-size: 18px;
            color: #414042;
        }
        .mod3-herencia-responsive .txt_mod3 p span{
            font-family: "gillsans-semibold";
            font-size: 18px;
            color: #414042;
        }

        /*Modulo 4*/
        .mod4-herencia .img-bot {
            width: 30%;
        }
        .mod4-herencia .txt_mod4{
            margin: auto;
            width: 80%;
            position: relative;
            text-align: center;
            bottom: 20px;
        }
        .mod4-herencia .txt_mod4 p{
            font-family: "effra";
            font-size: 18px;
            color: #414042;
            line-height: 1.8em;
        }
        .mod4-herencia .txt_mod4 p span{
            font-family: "gillsans-semibold";
            font-size: 18px;
            color: #414042;
        }
    }

    /* 3. 8 Column Grid 780px - 1279px 
    ----------------------------------------------------------------------------- 
    
    Span 1:    12.5%
    Span 2:    25.0%
    Span 3:    37.5%
    Span 4:    50.0%
    Span 5:    62.5%
    Span 6:    75.0%
    Span 7:    87.5%
    Span 8:    100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (min-width: 800px) and (max-width: 1279px) {
        
        .row {
            margin-left:-5px;
        }
        .col {
            border-left-width:5px;
        	padding:0 5px;
        }
        /*Generales*/
        *{ font-size: 12px; }

        .padding20{
            padding: 10px 25px;
        }

        /*Header*/
        .redes-header {
            bottom: -47px;
        }

        /*Modulo 1 con redes sociales*/
        .mod1 .hash2-mod1{font-size: 18px;}
        .mod1 .hash-mod1, .hash-mod3{ font-size: 52px !important }
        .mod1 .txt_mod1{ top:14%; }
        .mod1 .txt_mod1 h2 {
            line-height: 1.2em;
        }
        /*Modulo 2 sliders*/
        .contenido_slide{ display: table-cell; }

        .contenido_slide.recipe h1 {
            margin-top: 0px;
        }

        .uno .contenido_slide .txt, .uno .contenido_slide .img{ width: 100%; }
        .uno .vertical_align { display: block; }
        .uno .contenido_slide .img img { width: 25%; padding-top: 30px;}

        .contenido_slide h1{
            font-size: 40px;
            padding: 5px 20px;
        }
        .contenido_slide p{
            font-size: 15px;
        }
        .transition_r{
            transform: translate(51%, 50%) rotate(90deg);
            -webkit-transform: translate(51%, 50%) rotate(90deg);
            -moz-transform: translate(51%, 50%) rotate(90deg);
            -o-transform: translate(51%, 50%) rotate(90deg);
            -ms-transform: translate(51%, 50%) rotate(90deg);
        }
        .transition_l{
            transform: translate(-51%, 100%) rotate(-90deg);
            -webkit-transform: translate(-51%, 100%) rotate(-90deg);
            -moz-transform: translate(-51%, 100%) rotate(-90deg);
            -o-transform: translate(-51%, 100%) rotate(-90deg);
            -ms-transform: translate(-51%, 100%) rotate(-90deg);
        }

        /*Modulo 3 Formulario*/
        .mod3 .txt_mod3 {
            width: 40%;
            height: 75%;
            position: absolute;
            bottom: 0;
            right: 50px;
            top: 0;
            margin: auto;
            text-align: center;
        }
        .mod3 .txt_mod3 .tit span{
            font-size: 25px;
        }
        .mod3 .txt_mod3 .txt, .mod3 .txt_mod3 .txt span{
            font-size: 20px;
        }
        .input-aling {
            margin: 0;
            width: 95%;
        }
        input[type="text"], input[type="email"], input[type="url"] {
            font-size: 12px;
            margin: 3px 8px 7px 9px;
        }

        .span_1 {
            width:12.5%;
        }
        .span_2 {
            width:25.0%;
        }
        .span_3 {
            width:37.5%;
        }
        .span_4 {
            width:50.0%;
        }
        .span_5 {
            width:62.5%;
        }
        .span_6 {
            width:75.0%;
        }
        .span_7 {
            width:87.5%;
        }
        .span_8 {
            margin-left:0;
            width:100%;
        }

        /***** HERENCIA *****/
        /*Fuentes*/
        *{
            font-size: 14px;
        }

        .font24, .mod2-herencia .txt_mod2 p, .mod2-herencia .txt_mod2 p span, .mod1-herencia .txt_mod1 p, .mod3-herencia .txt_mod3 p, .mod3-herencia .txt_mod3 p span, .mod4-herencia .txt_mod4 p, .mod4-herencia .txt_mod4 p span{
            font-size: 1.2em !important;
        }
        /*Modulo 1*/
        .mod1-herencia .txt_mod1 {
            height: 25%;
        }
        .mod1-herencia .txt_mod1 h2{
            font-size: 20px !important;
            line-height: 2em;
        }

        /*Modulo 2*/
        .mod2-herencia .txt_mod2{
            width: 30%;
            right: 100px;
        }

        /*Modulo 3*/
        .mod3-herencia .txt_mod3{
            width: 30%;
            left: 80px;
            top: 30%;
        }
        /*Modulo 4*/
        .mod4-herencia .txt_mod4{
            width: 60%;
            bottom: 45px;
        }
    }

    /* 4. 12 Column Grid 1280px - Infinity 
    ----------------------------------------------------------------------------- 
    
    Span 1:    8.33333333333%
    Span 2:    16.6666666667%
    Span 3:    25.0%
    Span 4:    33.3333333333%
    Span 5:    41.6666666667%
    Span 6:    50.0%
    Span 7:    58.3333333333%
    Span 8:    66.6666666667%
    Span 9:    75.0%
    Span 10:    83.3333333333%
    Span 11:    91.6666666667%
    Span 12:    100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (min-width: 1280px) {

        .contenido_slide .txt, .contenido_slide .img {
            display: table;
            height: 570px;
        }

        
        .row {
            margin-left:-5px;
        }
        .col {
            border-left-width:5px;
        	padding:0 5px;
        }
      
        .span_1 {
            width:8.33333333333%;
        }
        .span_2 {
            width:16.6666666667%;
        }
        .span_3 {
            width:25.0%;
        }
        .span_4 {
            width:33.3333333333%;
        }
        .span_5 {
            width:41.6666666667%;
        }
        .span_6 {
            width:50.0%;
        }
        .span_7 {
            width:58.3333333333%;
        }
        .span_8 {
            width:66.6666666667%;
        }
        .span_9 {
            width:75.0%;
        }
        .span_10 {
            width:83.3333333333%;
        }
        .span_11 {
            width:91.6666666667%;
        }
        .span_12 {
            margin-left:0;
            width:100%;
        }
    }


        @media screen and (max-height: 480px){
        #ageVerify .modalVerify {
            height: auto;
            width: 84%;
            top: 1%;
        }
        #ageVerify img {
            width: 14%;
        }

        #ageVerify button {
            margin: 9px 0px 2px;
        }

    }


