/*IMAGENES DESKTOP Y MOBILE*/
.imagenDesktop{
	display: block;
}
.imagenMobile{
	display: none;
}
/*MODULO 1 HERENCIA*/
.mod1-herencia{
	width: 100%;
	padding: 0px !important;
	/*margin-top: 120px; Temporalmente*/
	/*opacity: 0; Temporalmente*/
	opacity: 1; 
}
.mod1-herencia .herencia{
	width: 100%;
	position: relative;
	margin-top: 140px;
}
.mod1-herencia .herencia>img{
	width: 100%;
	max-width: 1920px;
	min-width: 320px;
}
.mod1-herencia .redes-header{
		width: 40%;
		position: absolute; 
		top:0;
		left: 50px;
	}
.mod1-herencia .txt_mod1{
	width: 40%;
	height: 25%;
	position: absolute;
	top:100px; 
	bottom:0;
	right:0; 
	left:0;
	margin: auto;
	text-align: center;
}
.mod1-herencia .txt_mod1 h2{
	font-family: "gillsans-semibold";
	font-size: 30px;
	color: #414042;
	line-height: 50px;
}
.mod1-herencia .txt_mod1 p{
	font-family: "effra";
	font-size: 20px;
	color: #112540;
}
.mod1-herencia .txt_mod1 p span.tetx-notmanus{
	font-family: "effrabold";
	font-size: 20px;
	color: #000;
}
.mod1-herencia ul{
	list-style: none;
}

.mod1-herencia ul li{
	display: inline-block;
}


/*MODULO 2 HERENCIA*/
.mod2-herencia-responsive{display: none;}
.mod2-herencia{
	width: 100%;
	padding: 0px !important;
	background: url("../imgs/herencia_mod2.jpg");
	background-position: top center;
    background-repeat: no-repeat;
    background-size: 99.9%;
    /*background: rgba(0, 0, 0, 0) url("../imgs/herencia_mod2.jpg") no-repeat scroll center top / 99.8% auto;*/
}
.mod2-herencia .herencia{
	width: 100%;
	position: relative;
}
.mod2-herencia .herencia>img{
	width: 100%;
	max-width: 1920px;
	min-width: 320px;
}
.mod2-herencia .txt_mod2{
	width: 30%;
	height: 20%;
	position: absolute;
	top:30%;
	bottom:0;
	right:100px;
	text-align: right;
}
.mod2-herencia .txt_mod2 p{
	font-family: "effra";
	font-size: 20px;
	color: #fff;
}
.mod2-herencia .txt_mod2 p span{
	font-family: "gillsans-semibold";
	font-size: 24px;
	color: #fff;
}
.mod2-herencia .img-circ{
	width: 20%;
	height: 30%;
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	margin: auto;
}
.mod2-herencia .img-circ img{
	width: 85%;
}


/*MODULO 3 HERENCIA*/
.mod3-herencia-responsive{display: none;}
.mod3-herencia{
	width: 100%;
	padding: 0px !important;
	background: url("../imgs/herencia_mod3.jpg");
	background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.mod3-herencia .herencia{
	width: 100%;
	position: relative;
}
.mod3-herencia .herencia>img{
	width: 100%;
	max-width: 1920px;
	min-width: 320px;
}
.mod3-herencia .txt_mod3{
	width: 30%;
	height: 20%;
	position: absolute;
	top:30%;
	bottom:0;
	left:100px;
	text-align: left;
}
.mod3-herencia .txt_mod3 p{
	font-family: "effra";
	font-size: 20px;
	color: #414042;
}
.mod3-herencia .txt_mod3 p span{
	font-family: "gillsans-semibold";
	font-size: 24px;
	color: #414042;
}

/*MODULO 4 HERENCIA*/
.mod4-herencia-responsive{display: none;}
.mod4-herencia{
	width: 100%;
	padding: 0px !important;
	background: url("../imgs/herencia_mod4.jpg");
	background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.mod4-herencia .herencia{
	width: 100%;
	position: relative;
}
.mod4-herencia .herencia>img{
	width: 100%;
	max-width: 1920px;
	min-width: 320px;
	margin-bottom: 36px;
}
.mod4-herencia .img-bot{
	width: 20%;
	height: 30%;
	position: absolute;
	top: -150px; bottom: 0;
	left: 0; right: 0;
	margin: auto;
	text-align: center;
}
.mod4-herencia .img-bot img{
	width: 45%;
}
.mod4-herencia .txt_mod4{
	width: 35%;
	height: 20%;
	position: absolute;
	bottom: 15px;
	left:0px; right: 0;
	text-align: center;
}
.mod4-herencia .txt_mod4 p{
	font-family: "effra";
	font-size: 20px;
	color: #414042;
}
.mod4-herencia .txt_mod4 p span{
	font-family: "gillsans-semibold";
	font-size: 24px;
	color: #414042;
}

.mod2-herencia-responsive .txt_mod2 span.txt-manus-amarillo, .mod2-herencia .txt_mod2 span.txt-manus-amarillo{
	font-family: "manustrialregular" !important;
	color: #fde200 !important;
	font-size:1.5em !important;
}

.mod1-herencia .txt_mod1 span.txt-manus-negro{
		font-family: "manustrialregular";
		color: #000;
		font-size:1.6em;
	}

span.txt-manus-verde{
		font-family: "manustrialregular" !important;
		color: #00af9c !important;
		font-size:1.8em !important;
	}

.mod2-herencia-responsive .txt_mod2 span.txt-gde-amarillo, .mod2-herencia .txt_mod2 span.txt-gde-amarillo{
	font-family: "gillsans" !important;
	color: #fde200 !important;
	font-size:1.4em !important;
}

span.txt-manus-verde .numero{
	font-family: 'DJBMessyAmandaGoesBold' !important;
	font-size:1.1em !important;
	color: #00af9c !important;
}

.mod1-herencia .txt_mod1 span.numero{
	font-family: 'DJBMessyAmandaGoesBold' !important;
	font-size:1.4em;
	color: #000 !important;
}


span.txt_manus_cafe{
	font-family: "manustrialregular" !important;
	color: #c0995a !important;
	font-size:1.7em !important;
}

span.txt_manus_cafe .numero{
	font-family: 'DJBMessyAmandaGoesBold' !important;
	font-size:1.1em !important;
	color: #c0995a !important;
}

@media screen and (min-width: 1280px){
	.mod4-herencia .txt_mod4 {
		width: 50%;}

		.mod4-herencia .txt_mod4 p span {
			font-size: 20px;
		}

		span.txt_manus_cafe {
			font-size: 1.4em !important;
		}
	}
