body {
	margin-bottom: 0px;
	padding: 0;
}

.container{
	width: 100%;
	padding:0;
	margin: 0;
}

/*this is where jQuery appends the instagram json response*/
#instagram {
	/*float: left;
	padding: 20px;*/
	/*height: 300px;*/
	margin-bottom: 1px;
	margin-left: -3px;
}

/*around each image*/
.instagram-wrap {
	/*float: left;
	position: relative;*/
	background: white;
	padding: 0px;
	margin: auto !important;
	/*box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);*/
	text-align: center;
}

.instagram-wrap .likes {
	background: rgba('0,0,0,0.5') url("fav.png") no-repeat scroll 2px 0;
	/*background: white;*/
    border: 1px solid #ddd;
    bottom: 0;
    height: 100%;
    left: 0;
    margin: auto;
    opacity: 0.6;
    padding: 0;
    position: absolute;
    right: 0;
    width: 100%;
    top: 0;
    display: none;
}

/*does what it says*/
.clearfix {
	 clear:both;
}

/*wrapper for more pics*/
#showMore{
	background: #202628;
	margin: 20px 15px 28px;
	text-align: center;
	display: none;
}

/*button for more pics if available*/
#more {
	padding: 10px;
	margin: 20px;
	color: #CCC;
	font-size: 20px;
	line-height: 22px;
	display: none;
	font-family: "brandon_bold",Arial,Helvetica,sans-serif;
}


#main-navigation #navigation li.has-drop-down.trend{display: none;}

/******  hide the footer for easier dev *********/
#sticky-footer-wrap{/* display: none; */ }

/******  hide the footer flyouts for easier dev *********/
.sticky-flyout, #Footer_Flyout_1, #Footer_Flyout_2{ /* display: none !important; */ }


/*----------  Slick Styles Overwritten  ----------*/

.slick-prev{
	left: 25px;
	z-index: 90;
}

.slick-next{
	right: 25px;
}

.slick-slide{
	height: auto;
}

.slick-slide img {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 100%;
    padding: 3px;
}
.container h1 {
    display: block;
    background: #00af9c;
    /*background: url('../imgs/Feed_1920x80_sintexto.png') no-repeat center;*/
    height: 65px;
    text-align: center;
    color: #fff;
    line-height: 66px;
    font-family: "Effra";
    font-weight: lighter;
    font-size: 20px;
}


.slick-prev::before, .slick-next::before {
    content: " ";
    display: block;
    height: 26px;
    width: 29px;
}

.slick-prev::before{
	background: url('../imgs/BotonIzq_Feed.png') no-repeat center;
}

.slick-next::before{
	background: url('../imgs/FlechaDerecha_Feed.png') no-repeat center;
}
