/*GENERALES*/
	*{	
		margin: 0 auto; 
		padding: 0;
		font-family: "effra";
		font-size: 18px;
		color: #707070;
		font-weight: 300;
	}
	html, body{
		overflow-x: hidden; 
		height:100%;
	}

	body.locked{
		overflow-y:hidden;
	}

	.mainLogo{
		opacity:0;
		-moz-transition: all 300ms linear;
		-webkit-transition: all 300ms linear;
		-o-transition: all 300ms linear;
		transition: all 300ms linear;
		margin: 0 auto;
		-moz-transform: translate3d(0px, 5px, 0px);
		-webkit-transform: translate3d(0px, 5px, 0px);
		-o-transform: translate(0px, 5px);
		-ms-transform: translate(0px, 5px);
		transform: translate3d(0px, 5px, 0px);
	}

	.mainLogo.visible{
		opacity:1;
		-moz-transform: translate3d(0px, 0px, 0px);
		-webkit-transform: translate3d(0px, 0px, 0px);
		-o-transform: translate(0px, 0px);
		-ms-transform: translate(0px, 0px);
		transform: translate3d(0px, 0px, 0px);

	}

	.legales {
		opacity:1;
	    position: absolute;
	    z-index: 100;
	    background: #000;
	    padding: 17px 0;
	    height:auto;
	    -moz-transition: all 100ms linear;
		-webkit-transition: all 100ms linear;
		-o-transition: all 100ms linear;
		transition: all 100ms linear;
		bottom:0;
	}

	#ageVerify .legales p {
		color:#fff;
	}

	.legales.invisible{
		opacity:0;
	}

	a{	text-decoration: none; }
	img {
		border: none;
		outline: none;
		border-style: none;
	}
	input[type="text"],
	input[type="email"],
	input[type="url"]{
	    width: 50%;
	    min-width: 150px;
	    margin: 8px 8px 8px 2px;
	    padding: 6px;
	    background-color: #ededed;
	    border: none;
	    font-size: 14px;
	    -ms-transform: skew(700deg);
	    -webkit-transform: skew(700deg);
	    -moz-transform: skew(700deg);
	    -o-transform: skew(700deg);
	    transform: skew(700deg);
	    display: inline-block;
	}
	input[type="submit"]{
	    width: 10%;
	    min-width: 100px;
	    margin: 4px 20% 4px 4px;
	    padding: 6px;
	    background-color: #000;
	    border-left: solid 4px #929292;
	    border-right: solid 4px #929292;
	    border-bottom: solid 4px #929292;
	    font-size: 14px;
	    color: #fff;
	    -ms-transform: skew(700deg);
	    -webkit-transform: skew(700deg);
	    -moz-transform: skew(700deg);
	    -o-transform: skew(700deg);
	    transform: skew(700deg);
	}
/*PADDING*/
.padding40{padding: 40px;}
.padding20{padding: 10px 20px;}

/*ALINEACION*/
	.txt-right{ text-align: right; }
	.txt-left{ text-align: left; }
	.txt-center{ text-align: center; }


/*FLOAT*/
	.left{ float: left; }
	.right{ float: right; }
	.clear{	clear: both; }
	.display-none{ display: none; }

/* VERTICAL ALIGN */
.vertical_align{
	vertical-align: middle;
	margin: auto;
	display: table-cell;
}

/*COLORES*/
.txt-yellow{
	color: #e7dd2f;
}
.txt-black{
	color: #000;
}
.txt-white, .txt-white strong{
	color: #fff;
}

/*FONT SIZE*/
.font24{ font-size: 24px !important; }

/*HEADER*/
	.headerfixed{
		width: 100%;
		position: relative;
		z-index: 10;
		height:auto;
		max-height:93px;
		background:#000;
		-moz-transition: all 300ms linear;
		-webkit-transition: all 300ms linear;
		-o-transition: all 300ms linear;
		transition: all 300ms linear;
	}

	.headerfixed.verified{
		max-height: none;
		position: fixed;
	}

	.navigation{
		background:#000;

	}
	header{
		width: 100%;
		background-color: #000;
		text-align: center;
	}
	header img{
		margin: 5px 0px;
		max-width:180px;
	}
	.pl1, .pl2{
		width: 50%;
		text-align: center;
		border-left-width:0 !important;
		border: 0;
		padding: 15px 0px !important;
	}
	.pl1{
		background-color: #5c5c5c;
		color: #3aae7f;
	}
	.pl2{
		background-color: #868686;
		color: #fff; 
		position: relative;
	}

	.btn-nav{
	    cursor: pointer;
	    width: 50%;
	    border: 0 none !important;
	    color: #ffffff;
	    font-family: "manustrialregular";
	    font-size: 1.8em;
	    line-height: 1.3em;
	   
	    /*transition: background-color 0.5s ease;
	    background-color: #073863;*/
	    background:#dcc593;
		  -o-transition:color .2s ease-out, background .3s ease-in;
		  -ms-transition:color .2s ease-out, background .3s ease-in;
		  -moz-transition:color .2s ease-out, background .3s ease-in;
		  -webkit-transition:color .2s ease-out, background .3s ease-in;
		  /* ...and now override with proper CSS property */
		  transition:color .2s ease-out, background .3s ease-in;
		  /* PARRAFOS O LINKS */
		    height: auto;
		    margin: auto;
		    padding: 5px 0px 1px !important;
		    text-align: center;
		    font-weight: 100;
	}
	.btn-nav:hover{
	    background-color: #dcc593;
		color: #fff;
	}

	.btn-nav.active{
	    background-color: #c0995a;
		color: #fff;
	}

	.btn-nav>a{
		color: #fff;
	}
	.btn-nav:hover>a{
		color: #3aae7f;
	}
	.redes-header{
		width: 98%;
		position: absolute; 
		bottom:-48px;
		right: 0px; left: 0;
		margin: auto;
		z-index: 2;
		text-align: left;
	}
	.redes-header ul{
		list-style: none;
	}
	.redes-header ul li{
		display: inline-block;
		margin-left: -7px;
	}


/*CONTENT*/
	/*Modulo 1 con redes sociales*/
	.mod1-responsive{ display: none;}
	.mod1{
		width: 100%;
		height: auto;
		padding: 0px !important;
		margin-top: 123px;
		background: url("../imgs/chandon_mod1.jpg");
		background-position: top center;
	    background-repeat: no-repeat;
	    background-size: 100%;
		/*PARA PANTALLA COMPLETA:
		background-attachment: fixed;
	    background-color: #868686;
	    background-position: center center;
	    background-repeat: no-repeat;
	    background-size: cover;*/
	}
	.mod1 .mod1-diagonal{
		width: 100%;
		position: relative;
	}
	.mod1 .mod1-diagonal>img{
		width: 100%;
		max-width: 1920px;
		min-width: 320px;
	}
	.mod1 .hash-mod1{
		width: 40%;
		height: 20%; 
		position: absolute; 
		top:0;
		margin: auto;
		bottom:0;
		text-align: center;
		font-family: "manustrialregular";
		font-size: 67px;
		font-weight: 300;
		letter-spacing: 3px;
		color: #fcf13a;
		text-shadow: 0 4px 4px rgba(0, 0, 0, 0.8) !important;
	}
	.mod1 .txt_mod1{
		bottom: 0;
	    height: 30%;
	    margin: auto;
	    opacity: 0;
	    position: absolute;
	    right: 50px;
	    text-align: right;
	    top: 100px;
	    width: 44%;
	}
	.mod1 .txt_mod1 h2 {
		font-family: "gillsans-semibold";
		color: #9E8C58;
		line-height: 50px;
		font-size: 1.2em;
		margin-top: 0.3em;
	}
	.mod1 .hash2-mod1{
		font-family: "gillsans";
		color: #3b3b3b;
		font-size: 26px;
	}
	.mod1 .mod1-diagonal ul{
		list-style: none;
	}
	.mod1 .mod1-diagonal ul li{
		display: inline-block;
	}
	.mod1 .mod1-diagonal ul li:nth-child(1):hover{
		background: url("../imgs/fbMod1-h.png");
		background-position: top left;
	    background-repeat: no-repeat;
	}
	.mod1 .mod1-diagonal ul li:nth-child(2):hover{
		background: url("../imgs/insMod1-h.png");
		background-position: top left;
	    background-repeat: no-repeat;
	}
	.mod1 .mod1-diagonal ul li img:hover{
		opacity: 0;
	}

	/*Modulo 2 Sliders*/
	.slider1, .slider2{
		width: 50%;
		margin-bottom: 6px;
		min-height: 570px;
	}
	.slider1{
		background-color: #00af9c;
		background: url("../imgs/lineas_azul.png") right no-repeat;
		color: #fff;
		background-size:cover;
	}
	.slider2{
		background-color: #fde200;
		background: url("../imgs/lienasamarillo.png") left no-repeat;
		color: #707070; 
		background-size:cover;
	}
	.contenido_slide{
		/*margin: 20px;
		display: table-cell;*/
	    height: 570px;
	    margin: auto;
	    vertical-align: middle;
	    padding:20px;
	}
	.contenido_slide .txt{
		width: 70%;
		min-height: 285px;
	}
	.contenido_slide .img{
		width: 29%;
		height: 100%;
	}

	.contenido_slide.recipe .txt{
    	width: 60%;
	}

	.contenido_slide.recipe h1{
		margin-top: -171px;
	}

	.contenido_slide.recipe .img{
		width: 39%;
		height: 100%;
	}

	.contenido_slide .img img{
		width: 90%;
	}
	.contenido_slide h1{
		font-family: "manustrialregular";
		font-size: 53px;
		/*padding: 30px 25px 0;*/
	    padding: 10px 25px 0;
	    width: 70%;
	}
	.contenido_slide p{
		font-family: "Effra";
		font-size: 17px;
	    font-weight: 300;
	    width: 70%;
	}

	.contenido_slide p strong{
		font-size: 18px;
		font-weight: bold;
	}

	.receta em{
		font-size: 16px;
	}


	.receta .txt-white em{
		color: #fff;
		font-size: 16px;
	}

	.contenido_slide .tituloreceta {
		font-size: 18px;
		margin-bottom: 15px;
		width: 80%;
	}

	/*Modulo 3 Formulario*/
	.mod3-responsive{ display: none; }
	.mod3{
		width: 100%;
		height: auto;
		padding: 0px !important;
		background: url("../imgs/chandon_mod3.jpg");
		background-position: top center;
	    background-repeat: no-repeat;
	    background-size: 100%;
	}
	.mod3 .mod3-diagonal{
		width: 100%;
		position: relative;
	}
	.mod3 .mod3-diagonal>img{
		width: 100%;
		max-width: 1920px;
		min-width: 320px;
	}
	.mod3 .hash-mod3{
		width: 40%;
		height: 20%; 
		position: absolute; 
		top:0;
		bottom:20%;
		text-align: center;
		font-family: "manustrialregular";
		font-size: 67px;
		font-weight: 300;
		letter-spacing: 3px;
		color: #fcf13a;
		margin: auto;
		text-shadow: 0 4px 4px rgba(0, 0, 0, 0.8) !important;
	}
	.mod3 .txt_mod3{
		width: 40%;
		height: 50%;
		position: absolute;
		top:0;
		bottom:0;
		right:50px;
		margin: auto;

		text-align: center;
	}
	.mod .txt_mod3 .tit, .mod3-responsive .txt_mod3 .tit{
		font-family: "gillsans-semibold";
		color: #414042;
		font-size: 34px;
	}
	.mod3 .txt_mod3 .tit span,  .mod3-responsive .txt_mod3 .tit span{
		font-family: "gillsans-semibold";
		color: #414042;
		font-size: 34px;
		font-style: italic;
	}
	.mod3 .txt_mod3 .txt, .mod3-responsive .txt_mod3 .txt{
		font-family: "effra";
		color: #707070;
		font-size: 25px;
	}
	.mod3 .txt_mod3 .txt span, .mod3-responsive .txt_mod3 .txt span{
		font-family: "effrabold";
		color: #707070;
		font-size: 25px;
	}
	.mod3 .txt_mod3 img{
		max-width: 100%;
	}
	.mod3 .input-aling{ 
		width: 100%;
		margin: 0px;
	}
	.mod3 .nombre, .mod3 .correo, .mod3 .face,
	.mod3-responsive .nombre, .mod3-responsive .correo, .mod3-responsive .face{
		width: 10%;
	    min-width: 80px;
	    padding: 6px;
	    -ms-transform: skew(700deg);
	    -webkit-transform: skew(700deg);
	    -moz-transform: skew(700deg);
	    -o-transform: skew(700deg);
	    transform: skew(700deg);
	    font-size: 12px;
	    color: #fff;
		padding: 6px 4px;
		display: inline-block;
	}
	.mod3 .nombre,.mod3-responsive .nombre{
		background-color: #927f47;
	    border-left: solid 4px #c8bfa3;
	    border-right: solid 4px #c8bfa3;
	    border-bottom: solid 4px #c8bfa3;
	}
	.mod3 .correo, .mod3-responsive .correo{
		background-color: #00b09b;
	    border-left: solid 4px #7fd7cd;
	    border-right: solid 4px #7fd7cd;
	    border-bottom: solid 4px #7fd7cd;
	}
	.mod3 .face, .mod3-responsive .face{
		background-color: #efc30a;
	    border-left: solid 4px #fef1b3;
	    border-right: solid 4px #fef1b3;
	    border-bottom: solid 4px #fef1b3;
	}

	.width_third_txt{
		width: 90% !important;
	}

/*FOOTER*/
	.footer{
		width: 100%;
		background-color: #000;
		display: inline-flex;
	}
	.logoF, .redesF {
		width: 20%;
	}
	.terminos{ width: 60%; }

	.logoF, .terminos, .redesF {
	    text-align: center;
	    margin: auto;
	}
	.terminos ul, .redesF ul{
		list-style: none;
	}
	.terminos ul li{
		display: inline-block;
		padding: 10px;
	}
	.terminos ul li a{
		color: #fff;
		font-family: "Effra";
		font-size: 14px;
	}
	.terminos ul li a:hover{
		text-decoration: underline;
	}
	.terminos p{
		color: #fff;
		font-family: "Effra";
		font-size: 11px;
	}
	.redesF ul li{
		display: inline-block;

		font-family: "Effra";
		font-size: 14px;
	}
	.redesF ul li:nth-child(1):hover{
		background: url("../imgs/fb-hover.png");
		background-position: top left;
	    background-repeat: no-repeat;
	}
	.redesF ul li:nth-child(2):hover{
		background: url("../imgs/ins-hover.png");
		background-position: top left;
	    background-repeat: no-repeat;
	}
	.redesF ul li img:hover{
		opacity: 0;
	}
	.redesF p{
		font-family: "Effra";
		font-size: 14px;
		color: #fff;
	}

	/*----------  Verificador de Edad----------*/

	#ageVerify{
		background: url('../imgs/FondoVerificador.jpg') no-repeat;
		position: relative;
		background-size: cover;
		background-position: fixed;
		height:100%;
	}

	#ageVerify .modalVerify {
		height: auto;
		width: 40%;
		position:absolute;
  		top: 0%;
	    left: 0;
	    right: 0;
	    padding: 1% 1% 2% 1%;
	    text-align: center;
	}

	#ageVerify span.title{
		text-transform: uppercase;
		font-size: 1.2em;
		color: #c0995a;
		text-align: center;
		font-family: "effrabold";
		margin: 2% 0 1%;
		display: block;

	}

	#ageVerify span.nextTitle{
		text-transform: uppercase;
		font-size: 1.4em;
		color: #00af9c;
		text-align: center;
		font-family: "Effra";
		margin: -1em 0 1% 0;
		display:block;

	}

	#ageVerify img {
    display: block;
    width: 20%;
    max-width: 95px;
}

	#ageVerify .modalVerify h1{
		text-align: center;
		color: #00af9c;
		font-family: "manustrialregular";
		font-size: 3em;
	}

	#ageVerify .inputs{
		margin-top: 20px;
		text-align: center;
		width: 100%;

	}

	#ageVerify p{
		font-size: .8em;
		color: #000;
	 	text-align: center;
	 	font-family: "Effra";
	 	width:87%;
	}

	#ageVerify a{
		color:#D4D290;
	}

	#ageVerify ul{
		text-align: center;
	}	

	#ageVerify li {
		width: 30%;
		height: 60px;
		display: inline-block;
		vertical-align: top;
		margin-bottom: 3px;
	}

	#ageVerify input {
	    background: rgba(255, 255, 255, 0.91);
	    border: 1px solid #FFF;
	    margin: 0px;
	    color: #C0995A;
	    font-size: 1.4em;
		padding: 13px 11%;
		width: 70%;
	}

	#ageVerify button {
	    border: none;
	    background: rgba(0, 175, 156, 0.93);
	    color: #FFF;
	    height: 37px;
	    text-align: center;
	    margin: 18px 0px 10px;
	    width: 90%;
	    cursor:pointer;
	}

	#ageVerify label{
		text-align: center;
		text-transform: uppercase;
		color: #fff;
		font-size: 15px;
		margin: 5px auto;
		display: block;
	}

	#ageVerify .selects{
		width:100%;
		margin-top: 8px;
	}
			
	select.paises {
		font-weight: normal;
		font-size: 1.4em;
		margin: 0 auto;
		background: rgba(255, 255, 255, 0.91);
		border: 1px solid #FFF;
		color: #C0995A;
		-webkit-border-radius: 0;
		border-radius: 0;
		padding: 0;
		width: 90%;
		display: block;
		padding: 6px;
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		margin-top: 10px;
		text-transform: uppercase;
	}

	select.paises option{
		color: #fff;
		background:#000;
		border: none;
		text-transform: uppercase;
	}

	.legales p {
	    width: 60%;
	    font-size: 0.6em;
	}

	/*----------  Overlay de bloqueo del teléfono  ----------*/

 #turnPhone {
  width: 100%;
  position: fixed;
  background: rgba(0,0,0,0.90);
  top: 0;
  bottom: 0;
  z-index: 200;
  display: none;
}
#turnPhone .icono {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 30%;
  max-width: 361px;
}


	/*----------  Loader  ----------*/

#loadingbox{
	position: fixed;
	width:100%;
	top: 0;
	bottom: 0;
	background: #000;
	z-index: 9999;
	height:100%;
}

/**
* PAGE PRELOADER
* Replace with your own icon or logo and use on your site
*/
/**
* VARIABLES
* Tweak them for prefered result 
*/
/*#site {
  opacity: 0;
  -webkit-transition: all 2s ease;
          transition: all 2s ease;
}*/
#preloader {
  height: 80px;
  width: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
  display:block;
}
#preloader:before {
  content: "";
  display: block;
  position: absolute;
  left: -1px;
  top: -1px;
  height: 100%;
  width: 100%;
  -webkit-animation: rotation 1s linear infinite;
          animation: rotation 1s linear infinite;
  border: 1px solid #ffd30a;
  border-top: 1px solid transparent;
  border-radius: 100%;
}
#preloader > .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width:40px;
  margin-top: -25px;
  margin-left: -20px;
  -webkit-animation: wink 1s ease-in-out infinite alternate;
          animation: wink 1s ease-in-out infinite alternate;
}
/*@media only screen and (min-width: 768px) {
  #preloader {
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
  }
  #preloader:before {
    left: -2px;
    top: -2px;
    border-top-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 2px;
    border-right-width: 2px;
  }
  #preloader > .icon {
    height: 37.5px;
    width: 15.9px;
    margin-top: -18.75px;
    margin-left: -7.95px;
  }
}
@media only screen and (min-width: 1200px) {
  #preloader {
    height: 80px;
    width: 80px;
    margin-top: -40px;
    margin-left: -40px;
  }
  #preloader > .icon {
    height: 50px;
    width: 21.2px;
    margin-top: -25px;
    margin-left: -10.6px;
  }
}*/
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@-webkit-keyframes wink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes wink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slider1 .prev, .slider2 .prev2{
	display:none;
}


/*----------  Estilos de las páginas de texto  ----------*/

#simpleText


.centered{
	width: 80%;
	margin:0 auto;
	padding-top: 172px;

}
