//imports
@import 'nib/vendor'
@import "flipclock.css";
//Vendors
vendor-prefixes = o ms moz webkit khtml official

//El css
html,body.contador
	width 100%
	min-height 100%
	margin 0
	padding 0
body.contador
	background #000 url('../img/b1.jpg') center center no-repeat
	#wraper
		margin 0
		padding 0
		width 100%
		min-height 100%
		position absolute
		top 0
		left 0
		display none
	#logo
		margin 90px auto 0
	.contador
		position absolute
		left 0
		top 0
		padding 0
		margin 0
		width 100%
		height 100%
		background none
	#social
		width 100%
		position absolute
		top 68%
		left 0
		margin 0
		padding 0
		text-align center
		a
			display inline-block
			width 19px
			height 38px
			margin 8px 18px
		a:nth-child(2)
			width 44px
		a:last-child
			width 40px
	footer
		display none
	footer.proximamente
		height 60px
		display none
		position fixed
		overflow hidden
		bottom 0
		left 0
		margin 0
		padding 8px 0
		width 100%
		background #1d1d1d
		z-index 10
		text-align center
		a
			display inline-block
			overflow hidden
			margin 0 15px
		a:hover
			color #fff
			text-decoration underline
		a.none:hover
			text-decoration none
		span.nc
			display inline-block
			a
				padding-bottom 20px
				font-size .85em
			a:first-child
				margin-left 0
		span.nx
			a
				width 40px
				padding 0
			a:last-child
				margin-right 0

@media screen and (max-width:980px)
	body.contador
		footer.proximamente
			a
				margin 0 8px
@media screen and (max-width:880px)
	body.contador
		footer.proximamente
			text-align left
			span
				width 48%
			span.nc
				text-align left
				float right
				padding-left 10px
				border-left 1px solid #fff
				line-height 1.2
				a
					padding-bottom 0
					margin 0
					display block
			span.nx
				text-align right
				float left
				a:first-child
					margin-left 0
				a:last-child
					margin-right 8px
@media screen and (max-width:780px)
	body.contador
		.flip-clock-wrapper
			background-size 100%
			    padding-top 104px

@media screen and (max-width:660px)
	body.contador
		.flip-clock-wrapper ul
			width 40px
		.flip-clock-divider .flip-clock-label
			right -56px
		.flip-clock-divider.horas .flip-clock-label
			right -61px
		.flip-clock-divider.minutos .flip-clock-label
			right -66px
		.flip-clock-divider.segundos .flip-clock-label
			right -72px

@media screen and (max-width:600px)
	body.contador
		#logo
			margin 20px auto 0
		.flip-clock-wrapper
			background-size 120%
			padding-top 86px
			margin -110px 0 0 0
		.flip-clock-divider
			height 80px
		.flip-clock-divider .flip-clock-label
			bottom 4px
		.flip-clock-dot.top
			top -5px
		.flip-clock-dot.bottom
			bottom 0

@media screen and (max-width:480px)
	body.contador
		.flip-clock-wrapper
			background-size 150%
			padding-top 80px
			ul
				font-size 4em
				width 25px
				height 52px
				padding 0
				margin 4px
				li
					line-height 52px
			.flip-clock-dot
				height 40px
				top 0
			.flip-clock-dot.bottom
				bottom -10px
				top auto
		.flip-clock-divider
			height 60px
			width 10px
			.flip-clock-label
				bottom -4px
				right -48px
				font-size 1.3em
		.flip-clock-divider.horas .flip-clock-label
			right -52px
		.flip-clock-divider.minutos .flip-clock-label
			right -58px
		.flip-clock-divider.segundos .flip-clock-label
			right -62px
		#social
			a
				margin 8px
				width 12px
			a:nth-child(2)
				width 31px
			a:last-child
				width 26px

@media screen and (max-width:400px)
	body.contador
		.flip-clock-wrapper
			padding-top 60px
			margin -90px 0 0 0
			ul
				font-size 3.8em
				width 20px
				margin 2px
			.flip:nth-child(3) li,.flip:nth-child(6) li,.flip:nth-child(9) li,.flip:nth-child(12) li
				margin-left -6px
		.flip-clock-divider
			.flip-clock-label
				right -40px
		.flip-clock-divider.horas .flip-clock-label
			right -44px
		.flip-clock-divider.minutos .flip-clock-label
			right -48px
		.flip-clock-divider.segundos .flip-clock-label
			right -53px
		#social
			top 60%
@media screen and (max-height:610px) and (orientation:landscape)
	body.contador
		#logo
			margin 40px auto 0
@media screen and (max-height:580px) and (orientation:landscape)
	body.contador
		#logo
			margin 10px auto 20px
		.contador
			width auto
			height auto
			position relative
			.flip-clock-wrapper
				margin 0
				top auto
				position relative
				padding-top 66px
		#social
			position relative
			top auto
			left auto
			margin 22px 0 100px 0
@media screen and (min-width:780px) and (orientation:landscape)
	body.contador
		.contador
			.flip-clock-wrapper
				padding-top 108px
@media screen and (min-height:870px) and (orientation:landscape)
	body.contador
		.contador
			.flip-clock-wrapper
				padding-top 120px
		#social
			top 65%
@media screen and (max-width:480px) and (orientation:portrait)
	body.contador
		#social
			top 58%

/*
@media screen and (orientation:portrait)
*/


