/* Nuevos estilos para versión lanzamiento */

/*=======================================
=            Menú Horizontal            =
=======================================*/

#menuHorizontal{
	width:100%;
	position: fixed;
	background: #000;
	padding:3px 5px;
	z-index:9999;
	text-align: center;
	height:30px;
}

#menuHorizontal ul{
	list-style-type: none;
}

#menuHorizontal ul li{
	display: inline-block;
	vertical-align: middle;
}
#menuHorizontal ul li a{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.7em;
	font-family: 'RalewayRegular';
	display:inline-block;
	vertical-align: middle;
}

#menuHorizontal ul li img{
	height: 25px;
	width:auto;
}

#menuHorizontal ul li.social{
	padding:5px;
}
#menuHorizontal ul li:hover span{
	opacity: 1;
}

#menuHorizontal ul li:hover a, #menuHorizontal ul li a:active, #menuHorizontal ul li a:visited{
	color: #0971ce !important;
	}

#menuHorizontal span{
					opacity:0;
					display: inline-block;
					height:10px;
					width: 40px;
					background: url('../img/mnu_iz.png') no-repeat center;
					background-size: contain;
				}
#menuHorizontal	span:nth-child(3){
				background: url('../img/mnu_de.png') no-repeat center;
				}
#menuHorizontal #facebook, #menuHorizontal #twitter, #menuHorizontal #instagram{
	position: static;
}

/*========================================
=            Spirit of Am         =
========================================*/

#conoce-mas .secondbeer{
	width:25%;
	top:5%;
}

/*=====================================
=            Hostel Amstel            =
=====================================*/

#hostel{
	background: transparent url('../img/hostel/bg_4.jpg') center center no-repeat;
	position: relative;
}

#hostel img{
	width:100%;
	margin: 10% auto 0 auto;
}

#hostel .texto{
	margin-top:25%;
	width:100%;
	height:auto;
}
#hostel h3{
	color:#cd1b20;
	text-transform: uppercase;
	font-family: 'RalewayRegular';
	width:80%;
	margin:0 auto;
}

#hostel h3 strong{
	font-family: 'RalewayBold';
	}

#hostel p{
	font-size: 0.9em;
	color:#fff;
	font-family: 'RalewayRegular';
	margin: 1.2em auto 0 auto;
	width:80%;
}

/*================================
=            The Brew            =
================================*/

#thebrew{
	background: transparent url('../img/brew/bg_3.jpg') center center no-repeat;
	position: relative;
}

#thebrew > .cd-content{
	position: relative;
}

.colLeft{
	width: 50%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
}

#thebrew > div > a{
	margin: auto;
	width: 253px;
	height:78px;
	display:block;
  	position: absolute;
  	top: 0; 
  	left: 0; 
  	bottom: 0; 
  	right: 0;
}

#thebrew a#closeModal {
    font-size: 1.5em;
    display: block;
    right:20px;
    padding: 0 10px;
    border: 1px solid #cd1b20;
    color: #cd1b20;
    top: 72px;
    position: absolute;
    z-index: 9999;
    opacity:0;
}

.brewtitle{
	position: absolute;
	left:50%;
	width:30%;
	margin-left: -15%;
	top:120px;
}

.colRight{
	width: 50%;
	position: absolute;
	top: 0;
	bottom: 0;
	right:0;
}

/*================================
=            Historia            =
================================*/
#historia{
	right:100%;
	position: absolute;
	top: 0;
	bottom:0;
	height:100%;
	width:100%;
}

body .cd-fixed-background.img-3 .cd-content div.sliderHistoria div.slidesContainer div div p {
    color: #fff;
    font-family: 'RalewayRegular';
    font-size: 1.2em;
    }

body .cd-fixed-background.img-3 .cd-content div.sliderHistoria div.slidesContainer div div.whi.smalltextone h4 {
    color: #000;
    text-transform: uppercase;
    font-size: 1.8em;
    text-align: center;
    font-family: 'RalewayBold';
    margin-top: 100px;
}

body .cd-fixed-background.img-3 .cd-content div.sliderHistoria div.slidesContainer div div.whi.smalltextone img{
	margin-top: 10%;
}
body .cd-fixed-background.img-3 .cd-content div.sliderHistoria div.slidesContainer div div.blu h4 {
    font-size: 1.3em;
    text-align: center;
    padding: 20px 0 10px;
    text-transform: uppercase;
    width: 80%;
    margin: 0 auto;
}

body .cd-fixed-background.img-3 .cd-content div.sliderHistoria div.slidesContainer div div.blu.onlytext h4 {
    text-transform: uppercase;
    font-family: 'RalewayBold';
    text-align: left !important;
    font-size: 1.7em;
    width: 90%;
    margin:60px auto 0;
}

body .cd-fixed-background.img-3 .cd-content div.sliderHistoria div.slidesContainer div div.blu.onlytext h3 {
	color:#000;
    text-transform: uppercase;
    font-family: 'RalewayBold';
    text-align: right !important;
    font-size: 1.2em;
    width: 90%;
    max-width: 330px;
    margin:0 auto;
}

body .cd-fixed-background.img-3 .cd-content div.sliderHistoria div.slidesContainer div div.blu.onlytext p{
	color:#fff;
    font-family: 'RalewayRegular';
    text-align: right !important;
    width: 90%;
    margin:20px auto 0;
}

body .cd-fixed-background.img-3 .cd-content div.sliderHistoria div.slidesContainer div div.whi.smalltext h4 {
    margin-top: 40px;
    text-align: center;
}



/*===============================
=            Líquido            =
===============================*/

#escencia{
	left:100%;
	position: absolute;
	top: 0;
	bottom:0;
	width:100%;
}

body #escencia.cd-fixed-background.img-4 .cd-content div div:nth-child(5) {
  background-image: url("../img/brew/i_lupulo.png");
  margin-left: 30px;
}
/*=================================
=            Lifestyle            =
=================================*/

#instagram{
	background: transparent url('../img/lifestyle/bg_3.jpg') center center no-repeat;
	position: relative;
}

.slick-slider {
    margin-top: 124px;
}

#instagram img.insta {
    width: 47%;
    margin-left: 20%;
    margin-top:100px;
}

#instagram #instafeed{
	margin-top: 100px;
}
/*==================================
=            Responsive            =
==================================*/

body a.menu{
	display:none;
}

@media screen and (max-width:1024px){

	body a.menu{
		display:block;
	}

	#menuHorizontal{
		display: none;
	}

}





		