@import "normalize.css";
@import "font-awesome.min.css";
#logo {
  background: transparent url("../img/logos.png") 0 0 no-repeat;
}
html,
body {
  height: 100%;
}
.is-visible {
  -webkit-transition: all ease-in 0.3s;
  -moz-transition: all ease-in 0.3s;
  -ms-transition: all ease-in 0.3s;
  -o-transition: all ease-in 0.3s;
  -o-transition: all ease-in 0.3s;
  -ms-transition: all ease-in 0.3s;
  -moz-transition: all ease-in 0.3s;
  -webkit-transition: all ease-in 0.3s;
  -khtml-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}
.firstbeer.animated.slideInLeft {
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -ms-animation-duration: 4s;
  -o-animation-duration: 4s;
  -animation-duration: 4s;
}
body {
  background: #000;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  -o-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -webkit-transition: background 0.5s linear;
  -khtml-transition: background 0.5s linear;
  transition: background 0.5s linear;
}
body #simplemodal-overlay {
  background: rgba(0,0,0,0.8);
}
body #simplemodal-container {
  width: 100% !important;
  height: 100% !important;
  left: 0 !important;
  top: 0 !important;
}
body #simplemodal-container a.modalCloseImg.simplemodal-close {
  display: none;
}
body #simplemodal-container div.simplemodal-wrap {
  position: absolute;
  overflow: auto !important;
}
body #simplemodal-container div.simplemodal-wrap #simplemodal-data {
  background: transparent url("../img/bg_edad.png") 0 0 repeat;
  padding: 34px 120px;
  color: #d59e0f;
  text-align: center;
  overflow: hidden;
  width: 630px;
  height: 492px;
  top: 50%;
  margin: -280px auto 0 auto;
}
body #simplemodal-container div.simplemodal-wrap #simplemodal-data p {
  text-transform: uppercase;
  font-size: 1.2em;
  margin: 0 0 15px;
}
body #simplemodal-container div.simplemodal-wrap #simplemodal-data img {
  width: 210px;
}
body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth {
  margin: 20px auto 0;
  width: 630px;
}
body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth h2,
body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth h4 {
  margin: 0;
  text-transform: uppercase;
}
body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth h2 {
  font-size: 2em;
}
body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth h4 {
  font-family: 'Chivo-Light';
  color: #fff;
  font-size: 1.5em;
}
body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth form {
  overflow: hidden;
}
body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth form .inputs {
  margin: 36px 0 25px;
}
body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth form .inputs ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0 14px;
  display: inline-block;
}
body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth form .inputs ul li {
  width: 110px;
  display: inline-block;
  padding: 0;
  margin: 0;
}
body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth form .inputs ul li input {
  font-family: 'Chivo-Light';
  width: 100%;
  background: none;
  border: 0;
  margin: 0;
  color: #fff;
  font-size: 3.2em;
  padding: 0 10px;
}
body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth form .inputs ul li ::-webkit-input-placeholder {
  color: #fff;
}
body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth form .inputs ul li :-moz-placeholder {
  color: #fff;
}
body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth form .inputs ul li ::-moz-placeholder {
  color: #fff;
}
body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth form .inputs ul li :-ms-input-placeholder {
  color: #fff;
}
body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth form .inputs ul li:nth-child(2) {
  width: 132px;
  border-left: 2px dotted #fff;
  border-right: 2px dotted #fff;
  padding-left: 15px;
}
body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth form .inputs ul li:last-child {
  padding-left: 20px;
  width: 175px;
}
body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth form .selects {
  line-height: 1;
}
body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth form .selects span {
  border: 1px solid #fff;
  overflow: hidden;
  width: 280px;
  display: inline-block;
  height: 48px;
}
body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth form .selects span select {
  font-family: 'Chivo-Light';
  font-weight: normal;
  font-size: 1.4em;
  margin: 0;
  background: none;
  color: #fff;
  border: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0;
  width: 100%;
  display: block;
  padding: 0 6px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth form .selects button {
  vertical-align: top;
  display: inline-block;
  height: 50px;
  width: 130px;
  background: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #d59e0f;
  margin-left: 34px;
}
body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth form a {
  display: block;
  float: left;
  margin: 20px 20px 0 0;
}
body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth form a img {
  display: block;
  height: auto;
}
body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth form a.im:nth-child(3) img {
  width: 42px;
}
body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth form a.im:nth-child(4) {
  margin-top: 25px;
}
body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth form a.im:nth-child(4) img {
  width: 34px;
}
body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth form p {
  margin: 25px 0 0 0;
  overflow: hidden;
  display: block;
  font-size: 0.85em;
  color: #fff;
  line-height: 1.2;
  text-align: left;
  font-family: 'Chivo-Light';
  font-weight: normal;
  text-transform: none;
}
body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth form p a {
  font-family: 'Chivo-Light';
  font-weight: normal;
  display: inline;
  float: none;
  margin: 0;
  text-decoration: underline;
}
body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth form p a:hover {
  color: #fff;
}
body #logo {
  width: 252px;
  height: 100px;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
body .bloqueo {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #222 url("../img/position.png") center center/200px no-repeat;
  z-index: 99999;
}
body .cargando {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background: #000 url("../img/amstelLoader.gif") center center no-repeat;
}
body a.menu {
  color: #d59e0f;
  position: fixed;
  left: 50px;
  top: 16px;
  z-index: 9999;
  font-size: 25px;
}
body a#facebook {
  width: 22px;
  height: 22px;
  display: block;
  background-image: url("../img/facebook.png");
  position: fixed;
  right: 50px;
  top: 25px;
  z-index: 9999;
}
body a#facebook:hover,
body a#facebook.dark {
  background-image: url("../img/facebook_hover.png");
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -khtml-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
body a#twitter {
  width: 22px;
  height: 22px;
  display: block;
  background-image: url("../img/twitter.png");
  position: fixed;
  right: 50px;
  top: 55px;
  z-index: 9999;
}
body a#twitter:hover,
body a#twitter.dark {
  background-image: url("../img/twitter_hover.png");
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -khtml-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
body a#instagram {
  width: 22px;
  height: 22px;
  display: block;
  background-image: url("../img/instagram.png");
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -khtml-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: fixed;
  right: 50px;
  top: 85px;
  z-index: 9999;
}
body a#instagram:hover,
body a#instagram.dark {
  background-image: url("../img/instagram_hover.png");
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -khtml-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
body a.menu.negro {
  color: #0380e2;
}
body a.menu:hover {
  color: #0380e2;
}
body .menu_grande.cerrado {
  top: -100%;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -khtml-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
body .menu_grande {
  z-index: 9998;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background: #000 url("../img/bg_1.jpg") center top no-repeat;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -khtml-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
body .menu_grande ul {
  list-style: none;
  display: block;
  margin: -171px auto 0;
  padding: 0;
  height: 342px;
  width: 480px;
  top: 50%;
}
body .menu_grande ul li {
  display: block;
  margin: 0 auto 20px;
  padding: 0;
}
body .menu_grande ul li a {
  text-transform: uppercase;
  font-family: 'Chivo-Light';
  font-size: 1.35em;
}
body .menu_grande ul li a:hover {
  color: #0971ce;
}
body .menu_grande ul li span {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  display: inline-block;
  height: 8px;
  width: 134px;
  background: transparent url("../img/mnu_iz.png") 0 0 no-repeat;
}
body .menu_grande ul li span:nth-child(3) {
  background: transparent url("../img/mnu_de.png") 0 0 no-repeat;
}
body .menu_grande ul li:last-child {
  margin-bottom: 0;
}
body .menu_grande ul li:last-child a {
  font-size: 0.9em;
  display: inline-block;
  padding: 0 6px;
  border: 1px solid #d59e0f;
  color: #fff;
}
body .menu_grande ul li:last-child a:hover {
  background: #0380e2;
}
body .menu_grande ul li:hover span {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
body .menu_grande ul li:hover a {
  color: #0971ce;
}
body .menu_grande ul li:last-child:hover a {
  color: #d59e0f;
}
body.loaded .cargando {
  display: none;
}
body .cd-header {
  position: relative;
  height: 100%;
  z-index: 1;
}
body .cd-header h1 {
  width: auto;
  height: 92px;
  padding: 0;
  margin: 0;
  font-size: 1em;
  line-height: 1;
  position: absolute;
  right: 150px;
  bottom: 190px;
  overflow: hidden;
  text-align: center;
}
body .cd-header h1 img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
body .cd-header a {
  position: absolute;
  display: block;
  text-align: center;
  text-transform: uppercase;
  bottom: 50px;
  right: 188px;
  z-index: 9;
}
body .cd-header a span {
  color: #fff;
  border: 1px solid #d59e0f;
  padding: 5px 20px;
  display: block;
}
body .cd-header a span:hover {
  background: #0380e2;
}
body .cd-header a img {
  margin: 10px 0 0 0;
}
body .cd-header p {
  font-size: 0.9em;
  font-family: 'Chivo-Light';
  display: block;
  position: absolute;
  right: 76px;
  bottom: 140px;
  text-align: center;
  width: 340px;
  line-height: 1.3;
}
body .cd-fixed-background {
  position: relative;
  padding: 3em 5% 0;
}
body .cd-fixed-background h2,
body .cd-fixed-background p {
  color: #f2e6cd;
}
body .cd-fixed-background h2 {
  font-size: 2.4rem;
  margin-bottom: 1em;
}
body .cd-fixed-background p {
  line-height: 1.6;
}
body .cd-fixed-background .light-background h2,
body .cd-fixed-background .light-background p {
  color: #0f594d;
}
body .cd-header,
body .cd-fixed-background.img-1 {
  background: transparent url("../img/bg_1.jpg") left top no-repeat;
}
body .cd-fixed-background.img-1 {
  background-position: left bottom;
}
body .cd-fixed-background.img-1 .cd-content {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  left: 0;
}
body .cd-fixed-background.img-1 .cd-content a {
  font-size: 0.8em;
  color: #fff;
  border: 1px solid #d59e0f;
  padding: 5px 15px;
  display: block;
  position: absolute;
  left: 50%;
  bottom: 45px;
  text-transform: uppercase;
}
body .cd-fixed-background.img-1 .cd-content a:hover {
  background: #0380e2;
}
body .cd-fixed-background.img-1 .cd-content .svgContainer {
  position: absolute;
  bottom: 150px;
  left: 5%;
  width: 55%;
  height: 37%;
}
body .cd-fixed-background.img-1 .cd-content svg {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}
body .cd-fixed-background.img-1 .cd-content svg#amstel_front {
  z-index: 9;
}
body .cd-fixed-background.img-1 .cd-content svg#amstel_front g g path,
body .cd-fixed-background.img-1 .cd-content svg#amstel_front g g text,
body .cd-fixed-background.img-1 .cd-content svg#amstel_front g g text tspan,
body .cd-fixed-background.img-1 .cd-content svg#amstel_front g g rect {
  fill: #fff;
}
body .cd-fixed-background.img-1 .cd-content svg#amstel_front g text,
body .cd-fixed-background.img-1 .cd-content svg#amstel_front g text tspan {
  fill: #fff;
}
body .cd-fixed-background.img-1 .cd-content svg#amstel_back {
  z-index: 8;
}
body .cd-fixed-background.img-1 .cd-content svg#amstel_back g g path,
body .cd-fixed-background.img-1 .cd-content svg#amstel_back g g text,
body .cd-fixed-background.img-1 .cd-content svg#amstel_back g g text tspan,
body .cd-fixed-background.img-1 .cd-content svg#amstel_back g g rect {
  fill: rgba(20,132,232,0.5);
}
body .cd-fixed-background.img-1 .cd-content svg#amstel_back g text,
body .cd-fixed-background.img-1 .cd-content svg#amstel_back g text tspan {
  fill: rgba(20,132,232,0.5);
}
body .cd-fixed-background.img-1 .cd-content .secondbeer {
  position: absolute;
  width: 30%;
  right: 5%;
  height: auto;
  z-index: 10;
}
body .cd-fixed-background.img-1 .cd-content .secondbeer img {
  position: absolute;
  right: 0;
}
body .cd-fixed-background.img-1 .cd-content div.conoce_mas {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  background: rgba(26,26,26,0.8);
  font-weight: normal;
  text-align: right;
  padding: 33px 36% 20px 5%;
  position: absolute;
  right: -100%;
  bottom: 10%;
  width: 50%;
  min-width: 612px;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -khtml-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
body .cd-fixed-background.img-1 .cd-content div.conoce_mas h2 {
  font-family: 'Chivo-Light';
  line-height: 1.2;
  color: #3892e2;
  font-size: 1.33em;
  text-transform: uppercase;
}
body .cd-fixed-background.img-1 .cd-content div.conoce_mas h2 span {
  font-family: 'Chivo-Bold';
}
body .cd-fixed-background.img-1 .cd-content div.conoce_mas p {
  font-family: 'Chivo-Light';
  color: #fff;
  line-height: 1.3;
  font-size: 1.1em;
  margin: 0 0 20px 0;
}
body .cd-fixed-background.img-1 .cd-content div.conoce_mas h3 {
  margin: 0;
}
body .cd-fixed-background.img-1 .cd-content div.conoce_mas a {
  padding: 0 5px;
  font-family: 'Chivo-Light';
  left: auto;
  bottom: auto;
  display: inline-block;
  position: relative;
  margin-top: 15px;
}
body .cd-fixed-background.img-1.is-visible:not(.mas) .cd-content svg#amstel_back {
  -o-transition: all 10s;
  -ms-transition: all 10s;
  -moz-transition: all 10s;
  -webkit-transition: all 10s;
  -khtml-transition: all 10s;
  transition: all 10s;
  -o-animation: neon3 5s ease infinite alternate;
  -ms-animation: neon3 5s ease infinite alternate;
  -moz-animation: neon3 5s ease infinite alternate;
  -webkit-animation: neon3 5s ease infinite alternate;
  -khtml-animation: neon3 5s ease infinite alternate;
  animation: neon3 5s ease infinite alternate;
}
body .cd-fixed-background.img-1.is-visible:not(.mas) .cd-content svg#amstel_back g text:nth-child(4) tspan:nth-child(2) {
  fill: rgba(178,158,255,0.48);
  -o-transition: all 4s;
  -ms-transition: all 4s;
  -moz-transition: all 4s;
  -webkit-transition: all 4s;
  -khtml-transition: all 4s;
  transition: all 4s;
  -o-animation: neon2 2s ease infinite alternate;
  -ms-animation: neon2 2s ease infinite alternate;
  -moz-animation: neon2 2s ease infinite alternate;
  -webkit-animation: neon2 2s ease infinite alternate;
  -khtml-animation: neon2 2s ease infinite alternate;
  animation: neon2 2s ease infinite alternate;
}
body .cd-fixed-background.img-1.mas .cd-content div.conoce_mas {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  right: 0;
}
body .cd-fixed-background.img-2 {
  background: #fff;
  padding: 0;
}
body .cd-fixed-background.img-2 .cd-content.light-background {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  left: 0;
}
body .cd-fixed-background.img-2 .cd-content.light-background iframe {
  width: 100%;
  height: 100%;
}
body .cd-fixed-background.img-3 {
  background: transparent url("../img/bg_2.jpg") center center no-repeat;
}
body .cd-fixed-background.img-3 .cd-content {
  height: 510px;
  overflow: hidden;
  padding: 0;
  margin: -255px 0 0 0;
  top: 50%;
}
body .cd-fixed-background.img-3 .cd-content h2.hist {
  font-family: 'Chivo-Bold';
  display: block;
  color: #888;
  font-size: 3.6rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0px auto 5px auto;
  text-transform: uppercase;
  line-height: 1;
  padding: 0;
  text-shadow: 3px 3px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff, 4px 4px 0 #888;
}
body .cd-fixed-background.img-3 .cd-content div.sliderHistoria {
  max-width: 80%;
  margin: 0 auto;
  padding: 8px 0;
}
body .cd-fixed-background.img-3 .cd-content div.sliderHistoria div.slidesContainer {
  max-height: 100%;
  overflow: visible;
  cursor: ew-resize;
}
body .cd-fixed-background.img-3 .cd-content div.sliderHistoria div.slidesContainer div div {
  overflow: hidden;
  height: 425px;
  background: rgba(255,255,255,0.6);
  display: block;
  -webkit-box-shadow: 0 0 6px #666;
  box-shadow: 0 0 6px #666;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  cursor: ew-resize;
  margin: 0 12px;
  padding: 0 7px;
}
body .cd-fixed-background.img-3 .cd-content div.sliderHistoria div.slidesContainer div div img {
  display: block;
  border: 0;
  margin: 24px auto 4px auto;
  padding: 0;
  max-width: 100%;
  height: auto;
  max-height: 250px;
}
body .cd-fixed-background.img-3 .cd-content div.sliderHistoria div.slidesContainer div div p {
  color: #fff;
  font-family: 'Chivo-Light';
  font-size: 1.4em;
  line-height: 1;
  margin: 5px auto;
  text-align: center;
  padding: 0;
  display: block;
  max-width: 330px;
  cursor: ew-resize;
}
body .cd-fixed-background.img-3 .cd-content div.sliderHistoria div.slidesContainer div div h3 {
  font-size: 1.8em;
  cursor: ew-resize;
  text-align: center;
}
body .cd-fixed-background.img-3 .cd-content div.sliderHistoria div.slidesContainer div div.blu {
  background: rgba(40,108,169,0.8);
}
body .cd-fixed-background.img-3 .cd-content div.sliderHistoria div.slidesContainer div div.blu h4 {
  font-size: 1.3em;
  cursor: ew-resize;
  text-align: center;
  padding: 20px 0 10px;
  text-transform: uppercase;
}
body .cd-fixed-background.img-3 .cd-content div.sliderHistoria div.slidesContainer div div.whi {
  -webkit-box-shadow: none;
  box-shadow: none;
}
body .cd-fixed-background.img-3 .cd-content div.sliderHistoria div.slidesContainer div div.whi img {
  max-height: 130px;
  margin: 5px auto 0 auto;
}
body .cd-fixed-background.img-3 .cd-content div.sliderHistoria div.slidesContainer div div.whi h3 {
  color: #7dbaf0;
  text-transform: uppercase;
  font-family: 'Chivo-Light';
  font-size: 2.6em;
  margin: 24px auto 30px auto;
}
body .cd-fixed-background.img-3 .cd-content div.sliderHistoria div.slidesContainer div div.whi p,
body .cd-fixed-background.img-3 .cd-content div.sliderHistoria div.slidesContainer div div.whi h4 {
  color: #000;
}
body .cd-fixed-background.img-3 .cd-content div.sliderHistoria div.slidesContainer div div.whi h4 {
  font-size: 1.9em;
  margin: 0;
  text-align: center;
}
body .cd-fixed-background.img-3 .cd-content div.sliderHistoria div.slidesContainer div div.whi p {
  max-width: 360px;
  text-align: center;
}
body .cd-fixed-background.img-3 .cd-content div.sliderHistoria div.slidesContainer div div.whi.smalltext p {
  color: #4e4e4e;
  font-size: 1.1em;
  margin: 15px auto;
  text-align: center;
}
body .cd-fixed-background.img-3 .cd-content div.sliderHistoria div.slidesContainer div div.whi.smalltext h4 {
  color: #0971ce;
  text-transform: uppercase;
  font-size: 1.3em;
  text-align: center;
}
body .cd-fixed-background.img-4 {
  background: transparent url("../img/bg_3.jpg") center center no-repeat;
}
body .cd-fixed-background.img-4 .cd-content {
  height: 100%;
  overflow: hidden;
}
body .cd-fixed-background.img-4 .cd-content h2 {
  text-transform: uppercase;
  text-align: center;
  margin: 130px auto 70px auto;
  color: #fff;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 4px 4px 0 rgba(255,255,255,0.4);
}
body .cd-fixed-background.img-4 .cd-content .centrar {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -111px;
}
body .cd-fixed-background.img-4 .cd-content div {
  text-align: center;
}
body .cd-fixed-background.img-4 .cd-content div div {
  display: inline-block;
  position: relative;
  font-size: 1.8em;
  text-align: center;
  vertical-align: top;
  line-height: 1;
  width: 222px;
  height: 222px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-transform: uppercase;
  background: transparent url("../img/i_eurpeo.png") 0 0 no-repeat;
  padding: 0;
  margin: 0;
  cursor: pointer;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -khtml-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
body .cd-fixed-background.img-4 .cd-content div div div.fondo {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 3px solid #0971ce;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -khtml-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -khtml-transform: scale(1);
  transform: scale(1);
  background: #000;
  top: 0;
  left: 0;
  z-index: 8;
}
body .cd-fixed-background.img-4 .cd-content div div h3 {
  margin: 0;
  padding: 90px 0 50px 0;
  line-height: 1;
  z-index: 9;
  color: #0971ce;
}
body .cd-fixed-background.img-4 .cd-content div div span.desc {
  text-align: left;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  width: 400px;
  height: 197px;
  position: absolute;
  left: 111px;
  top: 0;
  z-index: 7;
  padding: 25px 10px 0 125px;
  background: rgba(0,0,0,0.7);
  overflow: hidden;
  font-size: 0.75em;
  font-family: 'Chivo-Light';
  text-transform: none;
}
body .cd-fixed-background.img-4 .cd-content div div span.desc h4 {
  text-transform: uppercase;
  display: inline-block;
}
body .cd-fixed-background.img-4 .cd-content div div span.desc a {
  font-size: 0.7em;
  color: #fff;
  border: 1px solid #d59e0f;
  padding: 3px 5px;
  display: block;
  position: absolute;
  text-transform: uppercase;
}
body .cd-fixed-background.img-4 .cd-content div div span.desc a:hover {
  background: #0380e2;
}
body .cd-fixed-background.img-4 .cd-content div div span.desc a.der {
  left: 10px;
  bottom: 10px;
}
body .cd-fixed-background.img-4 .cd-content div div span.desc a.izq {
  right: 10px;
  bottom: 10px;
}
body .cd-fixed-background.img-4 .cd-content div div:nth-child(3) span.desc,
body .cd-fixed-background.img-4 .cd-content div div:nth-child(4) span.desc {
  text-align: right;
  left: auto;
  right: 111px;
  padding: 25px 125px 0 10px;
}
body .cd-fixed-background.img-4 .cd-content div div.abierto div.fondo {
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -khtml-transform: scale(1);
  transform: scale(1);
}
body .cd-fixed-background.img-4 .cd-content div div.abierto span.desc {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
body .cd-fixed-background.img-4 .cd-content div div.abierto h3 {
  color: #fff;
}
body .cd-fixed-background.img-4 .cd-content div div.cerrados {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
body .cd-fixed-background.img-4 .cd-content div div:first-child h3 {
  padding-top: 70px;
}
body .cd-fixed-background.img-4 .cd-content div div:nth-child(2) {
  background-image: url("../img/i_cebada.png");
}
body .cd-fixed-background.img-4 .cd-content div div:nth-child(3) {
  background-image: url("../img/i_levadura.png");
}
body .cd-fixed-background.img-4 .cd-content div div:nth-child(4) {
  background-image: url("../img/i_agua.png");
}
body .cd-fixed-background.img-4 .cd-content div div:nth-child(1),
body .cd-fixed-background.img-4 .cd-content div div:nth-child(2),
body .cd-fixed-background.img-4 .cd-content div div:nth-child(3) {
  margin-right: 30px;
}
body .cd-fixed-background.img-4 .cd-content div div:hover:not(.abierto) h3 {
  color: #fff;
  text-shadow: 3px 1px 3px #000;
}
body .cd-fixed-background.img-4 .cd-content div div:hover:not(.abierto) div.fondo {
  -o-transform: scale(0);
  -ms-transform: scale(0);
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  -khtml-transform: scale(0);
  transform: scale(0);
}
body .cd-fixed-background.img-5 {
  background: transparent url("../img/tenis_1.jpg") center center no-repeat;
  position: relative;
}
body .cd-fixed-background.img-5 .camisax {
  background: transparent url("../img/tenis_1.png") center center no-repeat;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  -moz-background-size: cover !important;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  display: none;
  position: absolute;
}
body .cd-fixed-background.img-5 .cd-content {
  padding: 0 126px;
  height: 100%;
}
body .cd-fixed-background.img-5 .cd-content img {
  margin-top: 54px;
}
body .cd-fixed-background.img-5 .cd-content img:first-child {
  float: left;
}
body .cd-fixed-background.img-5 .cd-content img:nth-child(2) {
  float: right;
}
body .cd-fixed-background.img-5 .cd-content img.abierto {
  position: absolute;
  display: block;
  width: 50%;
  height: auto;
  max-width: 660px;
  clear: both;
  bottom: 140px;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -khtml-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
body .cd-fixed-background.img-5 .cd-content a.mas {
  font-size: 0.8em;
  color: #fff;
  border: 1px solid #d59e0f;
  padding: 5px 15px;
  display: inline-block;
  text-transform: uppercase;
  position: absolute;
  bottom: 100px;
  left: 138px;
}
body .cd-fixed-background.img-5 .cd-content a.mas:hover {
  background: #0380e2;
}
body .cd-fixed-background.img-5 .cd-content p {
  color: #fff;
  line-height: 1.2;
  font-size: 1.3em;
  font-family: 'Chivo-Light';
  display: block;
  position: absolute;
  max-width: 430px;
  bottom: 40px;
  margin-left: 20px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -khtml-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
body .cd-fixed-background.img-5 .cd-content p span {
  font-family: 'Chivo-Bold';
}
body .cd-fixed-background.img-5 .cd-content.leemas img.abierto {
  bottom: 200px;
}
body .cd-fixed-background.img-5 .cd-content.leemas a.mas {
  display: none;
}
body .cd-fixed-background.img-5 .cd-content.leemas p {
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -khtml-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
body .cd-header,
body .cd-fixed-background {
  -moz-background-size: cover !important;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  overflow: hidden;
}
body .cd-header img.anim,
body .cd-fixed-background img.anim {
  max-width: 100%;
  max-height: 100%;
  min-height: 90%;
  width: auto;
  height: auto;
  position: absolute;
  bottom: 0;
}
body .cd-header img.iz,
body .cd-fixed-background img.iz {
  left: 0;
}
body .cd-header img.de,
body .cd-fixed-background img.de {
  right: 0;
}
body .cd-vertical-nav {
  position: fixed;
  z-index: 2;
  right: 3%;
  top: 50%;
  bottom: auto;
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -khtml-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
  list-style: none;
}
body .cd-vertical-nav a {
  display: block;
  height: 40px;
  width: 40px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: transparent url("../img/cd-icon-arrow.svg") no-repeat center center;
  -o-transition: opacity 0.2s 0s, visibility 0.2s 0s;
  -ms-transition: opacity 0.2s 0s, visibility 0.2s 0s;
  -moz-transition: opacity 0.2s 0s, visibility 0.2s 0s;
  -webkit-transition: opacity 0.2s 0s, visibility 0.2s 0s;
  -khtml-transition: opacity 0.2s 0s, visibility 0.2s 0s;
  transition: opacity 0.2s 0s, visibility 0.2s 0s;
}
body .cd-vertical-nav a.cd-prev {
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -khtml-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-bottom: 10px;
}
body .cd-vertical-nav a.inactive {
  visibility: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -o-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -ms-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -khtml-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
body .no-js .cd-vertical-nav {
  display: none;
}
body span.controls {
  display: block;
  text-align: center;
  position: absolute;
  margin-bottom: -30px;
  bottom: 50%;
  left: 0;
  width: 100%;
  z-index: 9;
}
body span.controls a.prevBtn,
body span.controls a.nextBtn {
  display: block;
  height: 57px;
  width: 36px;
}
body span.controls a.prevBtn {
  background: transparent url("../img/h_izquierda.png") 0 0 no-repeat;
  float: left;
  margin-left: 5%;
}
body span.controls a.nextBtn {
  background: transparent url("../img/h_derecha.png") 0 0 no-repeat;
  float: right;
  margin-right: 5%;
}
body span.controls ol {
  display: none /* inline-block */;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
body span.controls ol li {
  display: inline-block;
}
body span.controls ol li a {
  display: block;
  width: 9px;
  height: 9px;
  background: #73aee2;
  margin: 0 0 0 11px;
}
body span.controls ol li a span {
  display: none;
}
body span.controls ol li.current a {
  background: #d59e0f;
}
body nav#nu {
  display: none;
}
body.terminos {
  background: transparent url("../img/bg_1.jpg") center top repeat-y;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
body.terminos #wraper {
  overflow: hidden;
}
body.terminos #wraper .terminos {
  background-color: rgba(0,0,0,0.6);
  margin: 20px auto;
  max-width: 600px;
  padding-left: 20px;
  border: 1px solid #fff;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  font-size: 0.8em;
  padding-bottom: 30px;
  text-align: justify;
}
body.terminos #wraper .terminos img {
  width: 167px;
  position: fixed;
  margin-left: -212px;
  top: 20px;
}
body.terminos #wraper .terminos h1 {
  margin-bottom: 20px;
}
body.terminos #wraper .terminos p {
  margin: 0 0 10px 0;
}
body.terminos #wraper .terminos ol {
  margin-left: 18px;
}
body.terminos #wraper .terminos ol li {
  margin-bottom: 10px;
}
body.home footer.proximamente,
body.terminos footer.proximamente {
  height: 60px;
  overflow: hidden;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 8px 0;
  width: 100%;
  background: #1d1d1d;
  z-index: 10;
  text-align: center;
}
body.home footer.proximamente a,
body.terminos footer.proximamente a {
  display: inline-block;
  overflow: hidden;
  margin: 0 15px;
}
body.home footer.proximamente a:hover,
body.terminos footer.proximamente a:hover {
  color: #fff;
  text-decoration: underline;
}
body.home footer.proximamente a.none:hover,
body.terminos footer.proximamente a.none:hover {
  text-decoration: none;
}
body.home footer.proximamente span.nc,
body.terminos footer.proximamente span.nc {
  display: inline-block;
}
body.home footer.proximamente span.nc a,
body.terminos footer.proximamente span.nc a {
  padding-bottom: 20px;
  font-size: 0.85em;
}
body.home footer.proximamente span.nc a:first-child,
body.terminos footer.proximamente span.nc a:first-child {
  margin-left: 0;
}
body.home footer.proximamente span.nx a,
body.terminos footer.proximamente span.nx a {
  width: 40px;
  padding: 0;
}
body.home footer.proximamente span.nx a:last-child,
body.terminos footer.proximamente span.nx a:last-child {
  margin-right: 0;
}
@media only screen and (min-width: 1048px) {
  body {
    overflow-x: hidden;
  }
}
@media screen and (max-height: 520px) and (orientation: landscape) {
  body #simplemodal-data {
    padding: 10px 50px;
    font-size: 0.9em;
  }
  body #simplemodal-data #spth {
    margin-top: 10px;
    width: 570px;
  }
}
@media screen and (max-height: 580px) {
  body {
    font-size: 15px;
  }
  body .cd-fixed-background.img-1 .cd-content div.conoce_mas {
    bottom: 20px;
  }
  body .cd-fixed-background.img-5 .cd-content img {
    margin-top: 10px;
  }
  body .cd-fixed-background.img-5 .cd-content img.abierto {
    width: 42%;
  }
  body .cd-fixed-background.img-5 .cd-content p {
    font-size: 1em;
    bottom: 60px;
  }
  body .cd-fixed-background.img-5 .cd-content.leemas img.abierto {
    bottom: 170px;
  }
}
@media screen and (max-height: 490px) {
  body .cd-fixed-background.img-1 .cd-content div.conoce_mas {
    bottom: 0;
  }
  body .cd-fixed-background.img-3 .cd-content {
    height: auto;
    margin: 0;
    top: 0;
  }
  body .cd-fixed-background.img-3 .cd-content p.hist {
    margin-top: 20px;
  }
  body .cd-fixed-background.img-3 .cd-content div.sliderHistoria {
    margin-top: 20px;
  }
  body .cd-fixed-background.img-3 .cd-content div.sliderHistoria div.slidesContainer div div {
    height: 380px !important;
  }
  body .cd-fixed-background.img-3 .cd-content div.sliderHistoria div.slidesContainer div div img {
    max-height: 200px;
  }
  body .cd-fixed-background.img-3 .cd-content div.sliderHistoria div.slidesContainer div div.whi img {
    max-height: 80px;
  }
  body .cd-fixed-background.img-4 .cd-content h2 {
    margin-top: 20px;
  }
  body .cd-fixed-background.img-5 .cd-content p {
    bottom: 20px;
  }
  body .cd-fixed-background.img-5 .cd-content.leemas img.abierto {
    bottom: 118px;
  }
}
@media screen and (max-height: 440px) {
  body .cd-fixed-background.img-1 .cd-content div.conoce_mas h2 {
    font-size: 1.2em;
    margin-bottom: 0.6em;
  }
  body .cd-fixed-background.img-1 .cd-content div.conoce_mas p {
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  body .cd-fixed-background.img-1 .cd-content div.conoce_mas h3 {
    font-size: 1.2em;
  }
  body .cd-fixed-background.img-5 .cd-content img.abierto {
    bottom: 60px;
  }
  body .cd-fixed-background.img-5 .cd-content a.mas {
    bottom: 20px;
  }
}
@media screen and (max-height: 410px) {
  body {
    font-size: 14px;
  }
  body .cd-fixed-background.img-3 .cd-content p.hist,
  body .cd-fixed-background.img-3 .cd-content div.sliderHistoria {
    margin-top: 5px;
  }
  body .cd-fixed-background.img-4 .cd-content h2 {
    margin-bottom: 40px;
  }
  body .cd-fixed-background.img-5 .cd-content p {
    bottom: 10px;
  }
  body .cd-fixed-background.img-5 .cd-content.leemas img.abierto {
    bottom: 95px;
  }
}
@media screen and (max-height: 400px) {
  body {
    font-size: 13px;
  }
  body .cd-header h1 {
    bottom: 134px;
    right: 127px;
    height: 80px;
  }
  body .cd-header p {
    width: 300px;
    right: 66px;
    bottom: 100px;
  }
  body .cd-header a {
    bottom: 20px;
    right: 160px;
  }
  body .cd-fixed-background.img-3 .cd-content div.sliderHistoria div.slidesContainer div div {
    height: 350px;
  }
}
@media screen and (max-height: 374px) {
  body .menu_grande ul {
    height: 210px;
    margin-top: -105px;
  }
  body .menu_grande ul li {
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 1120px) {
  body .cd-fixed-background.img-5 .cd-content.leemas p {
    padding: 5px;
    background-color: rgba(0,0,0,0.5);
  }
}
@media screen and (max-width: 1024px) {
  body .cd-header,
  body .cd-fixed-background.img-1 {
    background: transparent url("../img/bg_1_1024.jpg") left top no-repeat;
  }
  body .cd-fixed-background.img-1 {
    background-position: left bottom;
  }
  body .cd-fixed-background.img-3 {
    background: transparent url("../img/bg_2_1024.jpg") left top no-repeat;
  }
  body .cd-fixed-background.img-4 {
    background: transparent url("../img/bg_3_1024.jpg") left top no-repeat;
  }
  body .cd-fixed-background.img-5 {
    background: transparent url("../img/tenis_1_1024.jpg") center center no-repeat;
  }
  body .cd-fixed-background.img-5 .camisax {
    background: transparent url("../img/tenis_1_1024.png") center center no-repeat;
  }
}
@media screen and (max-width: 1023px) {
  body .cd-fixed-background.img-4 .cd-content div div {
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    width: 160px;
    height: 160px;
    font-size: 1.2em;
  }
  body .cd-fixed-background.img-4 .cd-content div div h3 {
    padding-top: 68px;
  }
  body .cd-fixed-background.img-4 .cd-content div div:first-child h3 {
    padding-top: 58px;
  }
  body .cd-fixed-background.img-4 .cd-content div div.abierto span.desc {
    width: 300px;
    left: 80px;
    height: 145px;
    padding: 15px 10px 0 100px;
  }
  body .cd-fixed-background.img-4 .cd-content div div:nth-child(3) span.desc,
  body .cd-fixed-background.img-4 .cd-content div div:nth-child(4) span.desc {
    right: 80px;
    left: auto;
    padding: 15px 100px 0 10px;
  }
  body .cd-fixed-background.img-3 .cd-content div.sliderHistoria {
    max-width: 85%;
  }
  body .cd-fixed-background.img-3 .cd-content p.hist {
    font-size: 2em;
    margin-left: 8px;
  }
  body .cd-fixed-background.img-5 .cd-content a.mas {
    left: 67px;
  }
  body .cd-fixed-background.img-5 .cd-content {
    padding: 0 60px;
  }
  body .cd-fixed-background.img-5 .cd-content p {
    margin-left: 10px;
  }
  body span.controls a.prevBtn {
    margin-left: 2%;
  }
  body span.controls a.nextBtn {
    margin-right: 2%;
  }
  body a.menu {
    left: 25px;
  }
  body a#facebook,
  body a#twitter,
  body a#instagram {
    right: 25px;
  }
}
@media screen and (max-width: 1010px) {
  body.terminos #wraper .terminos {
    border: 0;
    padding: 0 15px;
  }
  body.terminos #wraper .terminos img {
    position: relative;
    display: block;
    margin: 0 auto 50px;
  }
}
@media screen and (max-width: 980px) {
  body.home footer.proximamente a,
  body.terminos footer.proximamente a {
    margin: 0 8px;
  }
}
@media screen and (max-width: 940px) {
  body .cd-fixed-background.img-1 .cd-content div.conoce_mas {
    min-width: 10px;
    width: 61%;
    max-height: 95%;
    overflow: auto;
    bottom: 0;
  }
}
@media screen and (max-width: 890px) {
  body #simplemodal-container div.simplemodal-wrap #simplemodal-data {
    padding: 20px;
    margin-top: -266px;
  }
}
@media screen and (max-width: 880px) {
  body.home footer.proximamente,
  body.terminos footer.proximamente {
    text-align: left;
  }
  body.home footer.proximamente span,
  body.terminos footer.proximamente span {
    width: 48%;
  }
  body.home footer.proximamente span.nc,
  body.terminos footer.proximamente span.nc {
    text-align: left;
    float: right;
    padding-left: 10px;
    border-left: 1px solid #fff;
    line-height: 1.2;
  }
  body.home footer.proximamente span.nc a,
  body.terminos footer.proximamente span.nc a {
    padding-bottom: 0;
    margin: 0;
    display: block;
  }
  body.home footer.proximamente span.nx,
  body.terminos footer.proximamente span.nx {
    text-align: right;
    float: left;
  }
  body #simplemodal-data {
    padding-left: 20px;
    padding-right: 20px;
  }
  body #simplemodal-data #spth {
    width: auto;
  }
  body #simplemodal-data #spth h2 {
    font-size: 1.8em;
  }
  body .cd-fixed-background.img-1 .cd-content .svgContainer {
    width: 65%;
  }
  body .cd-fixed-background.img-4 .cd-content div div {
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    width: 160px;
    height: 160px;
    font-size: 1.2em;
  }
  body .cd-fixed-background.img-4 .cd-content div div h3 {
    padding-top: 68px;
  }
  body .cd-fixed-background.img-4 .cd-content div div:first-child h3 {
    padding-top: 58px;
  }
  body .cd-fixed-background.img-4 .cd-content div div.abierto span.desc {
    width: 250px;
    left: 80px;
    height: 150px;
    padding: 15px 10px 0 100px;
  }
  body .cd-fixed-background.img-4 .cd-content div div.abierto span.desc a.der {
    right: 10px;
    left: auto;
    bottom: 10px;
  }
  body .cd-fixed-background.img-4 .cd-content div div.abierto span.desc a.izq {
    right: 10px;
    left: auto;
    bottom: 10px;
  }
}
@media screen and (max-width: 810px) {
  body .cd-fixed-background.img-1 .cd-content .anim.de {
    min-height: 10px;
    min-width: 10px;
    max-height: 90%;
    max-width: 31%;
  }
}
@media screen and (max-width: 780px) {
  body {
    font-size: 15px;
  }
  body .cd-header img.anim,
  body .cd-fixed-background img.anim {
    min-height: auto;
  }
  body .cd-fixed-background.img-1 {
    padding: 10px;
  }
  body .cd-fixed-background.img-1 .cd-content a.conoce_mas {
    bottom: 39% !important;
  }
  body .cd-fixed-background.img-1 .cd-content .svgContainer {
    margin: 0;
    position: absolute;
    left: 7%;
    bottom: 25% !important;
  }
  body .cd-fixed-background.img-1 .cd-content img {
    width: auto;
height
  }
  body .cd-fixed-background.img-3 .cd-content div.sliderHistoria div.slidesContainer div div.blu {
    background: #286ca9;
  }
  body .cd-fixed-background.img-3 .cd-content div.sliderHistoria div.slidesContainer div div.whi {
    background: #fff;
  }
}
@media screen and (max-width: 760px) {
  body .cd-fixed-background.img-4 .cd-content div div {
    width: 150px;
    height: 150px;
    font-size: 1.15em;
  }
  body .cd-fixed-background.img-4 .cd-content div div h3 {
    padding-top: 63px;
  }
  body .cd-fixed-background.img-4 .cd-content div div:first-child h3 {
    padding-top: 52px;
  }
  body .cd-fixed-background.img-4 .cd-content div div:nth-child(1),
  body .cd-fixed-background.img-4 .cd-content div div:nth-child(2),
  body .cd-fixed-background.img-4 .cd-content div div:nth-child(3) {
    margin-right: 10px;
  }
}
@media screen and (max-width: 720px) {
  body #Home.cd-header h1 {
    right: 96px;
  }
  body #Home.cd-header p {
    right: 26px;
  }
  body #Home.cd-header a {
    right: 133px;
  }
  body #Home.cd-header img.anim {
    max-width: 80%;
  }
}
@media screen and (max-width: 700px) {
  body #simplemodal-data img {
    width: 160px;
  }
  body #simplemodal-data #spth form .selects span {
    height: 34px;
    width: 200px;
  }
  body #simplemodal-data #spth form .selects button {
    height: 36px;
    width: 80px;
    margin-left: 15px;
  }
  body #simplemodal-data #spth form .inputs {
    margin: 18px 0 14px;
  }
  body #simplemodal-data #spth form .inputs ul li input {
    font-size: 2.5em;
  }
}
@media screen and (max-width: 690px) {
  body #simplemodal-container div.simplemodal-wrap #simplemodal-data {
    padding: 10px;
    margin-top: -160px;
    width: auto;
    height: 320px;
  }
  body #simplemodal-container div.simplemodal-wrap #simplemodal-data p {
    font-size: 1em;
    margin-bottom: 10px;
  }
  body #simplemodal-container div.simplemodal-wrap #simplemodal-data img {
    width: 150px;
  }
  body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth {
    margin-top: 20px;
    width: 98%;
  }
  body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth h2 {
    font-size: 1.3em;
    line-height: 1;
  }
  body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth h4 {
    font-size: 1em;
    line-height: 1;
  }
  body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth form .inputs {
    margin: 15px 0 5px;
  }
  body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth form .inputs ul {
    padding-left: 12px;
  }
  body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth form .inputs ul li {
    width: 70px;
  }
  body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth form .inputs ul li input {
    font-size: 1.7em;
  }
  body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth form .inputs ul li:nth-child(2) {
    width: 84px;
    padding-left: 10px;
  }
  body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth form .inputs ul li:last-child {
    width: 104px;
    padding-left: 10px;
  }
  body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth form .selects span {
    width: 150px;
    height: 33px;
  }
  body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth form .selects span select {
    font-size: 1em;
  }
  body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth form .selects button {
    width: 98px;
    height: 34px;
    margin-left: 12px;
  }
}
@media screen and (max-width: 666px) {
  body {
    font-size: 12px;
  }
  body .cd-header,
  body .cd-fixed-background {
    height: 100%;
    min-height: 481px;
    overflow: hidden;
  }
  body #Home.cd-header {
    overflow: hidden;
  }
  body .cd-fixed-background.img-1 .cd-content a.conoce_mas {
    left: auto;
    right: 35%;
  }
  body .cd-fixed-background.img-2 {
    height: 350px;
    min-height: 350px;
  }
  body .cd-fixed-background.img-3 {
    padding: 8px 0;
  }
  body .cd-fixed-background.img-3 .cd-content {
    height: auto;
    top: auto;
    margin: 0;
  }
  body .cd-fixed-background.img-3 .cd-content p.hist {
    position: relative;
    margin-left: 15px;
  }
  body .cd-fixed-background.img-3 .cd-content div.sliderHistoria div.slidesContainer div div {
    height: 420px;
  }
  body .cd-fixed-background.img-3 .cd-content div.sliderHistoria div.slidesContainer div div img {
    max-width: 80%;
  }
  body .cd-fixed-background.img-3 span.controls a.nextBtn,
  body .cd-fixed-background.img-3 span.controls a.prevBtn {
    width: 25px;
    height: 42px;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
  body .cd-fixed-background.img-4 {
    height: auto;
    padding-bottom: 20px;
  }
  body .cd-fixed-background.img-4 .cd-content h2 {
    margin-top: 10px;
  }
  body .cd-fixed-background.img-4 .cd-content div div {
    display: block;
    margin: 10px 0 10px -100px;
    width: 200px;
    height: 200px;
    left: 50%;
  }
  body .cd-fixed-background.img-4 .cd-content div div h3 {
    margin: 0;
    padding-top: 92px;
    font-size: 1.5em;
  }
  body .cd-fixed-background.img-4 .cd-content div div .fondo {
    margin: 0 !important;
  }
  body .cd-fixed-background.img-4 .cd-content div div:first-child {
    margin-right: auto;
  }
  body .cd-fixed-background.img-4 .cd-content div div:first-child h3 {
    padding-top: 92px;
  }
  body .cd-fixed-background.img-4 .cd-content div div:nth-child(2),
  body .cd-fixed-background.img-4 .cd-content div div:nth-child(3) {
    margin-right: auto;
  }
  body .cd-fixed-background.img-4 .cd-content div div.abierto {
    left: 100px;
  }
  body .cd-fixed-background.img-4 .cd-content div div.abierto span.desc {
    left: 100px;
    width: 240px;
    height: 165px;
    padding: 35px 10px 0 110px;
    font-size: 0.9em;
    text-align: left !important;
  }
  body .cd-fixed-background.img-5 {
    background: transparent url("../img/tenis_1_666.jpg") center center no-repeat;
    padding: 12px;
  }
  body .cd-fixed-background.img-5 .camisax {
    left: 0;
    top: 0;
    background: transparent url("../img/tenis_1_666.png") center center no-repeat;
  }
  body .cd-fixed-background.img-5 .cd-content {
    padding: 0;
  }
  body .cd-fixed-background.img-5 .cd-content img:first-child {
    width: 130px;
    float: right;
    margin-right: 34px;
  }
  body .cd-fixed-background.img-5 .cd-content img:nth-child(2) {
    width: 150px;
  }
  body .cd-fixed-background.img-5 .cd-content a.mas {
    left: 5px;
  }
}
@media screen and (max-width: 660px) {
  body #logo {
    width: 190px;
    height: 75px;
  }
}
@media screen and (max-width: 639px) and (min-height: 340px) {
  body #Home.cd-header h1,
  body #Home.cd-header p,
  body #Home.cd-header a {
    position: relative;
    bottom: auto;
    left: auto;
    right: auto;
    top: auto;
  }
  body #Home.cd-header img.anim {
    width: 90%;
  }
  body #Home.cd-header h1 {
    height: 70px;
    margin: 60px auto 0;
  }
  body #Home.cd-header p {
    margin: 10px auto;
    width: 260px;
  }
  body #Home.cd-header a span {
    display: inline-block;
  }
  body #Home.cd-header a img {
    display: block;
    margin: 10px auto 35px;
  }
}
@media screen and (max-width: 558px) and (max-height: 374px) {
  body #Home.cd-header img.anim {
    max-width: 90%;
  }
  body #Home.cd-header h1 {
    right: 46px;
    bottom: 110px;
  }
  body #Home.cd-header p {
    right: 15px;
    width: 240px;
    bottom: 80px;
  }
  body #Home.cd-header a {
    right: 80px;
    bottom: 10px;
  }
}
@media screen and (max-width: 496px) {
  body .cd-fixed-background.img-4 .cd-content div div {
    margin-left: -60px;
    width: 120px;
    height: 120px;
  }
  body .cd-fixed-background.img-4 .cd-content div div h3 {
    padding-top: 50px;
  }
  body .cd-fixed-background.img-4 .cd-content div div:first-child h3 {
    padding-top: 38px;
  }
  body .cd-fixed-background.img-4 .cd-content div div.abierto {
    left: 84px;
  }
  body .cd-fixed-background.img-4 .cd-content div div.abierto span.desc {
    left: 60px;
    height: 112px;
    padding: 8px 10px 0 70px;
  }
}
@media screen and (max-width: 480px) {
  body .menu_grande ul {
    width: 300px;
  }
  body .menu_grande ul li span {
    display: none;
  }
}
@media screen and (max-width: 380px) {
  body .cd-fixed-background.img-5 .cd-content img:first-child {
    width: 110px;
  }
  body .cd-fixed-background.img-5 .cd-content img:nth-child(2) {
    width: 125px;
  }
  body .cd-fixed-background.img-4 .cd-content div div.abierto span.desc {
    width: 187px;
    height: 112px;
    font-size: 0.83em;
    padding: 10px 8px 0 63px;
  }
}
@media screen and (max-width: 350px) {
  body #simplemodal-container div.simplemodal-wrap #simplemodal-data img {
    width: 100px;
  }
  body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth {
    margin-top: 10px;
    width: 100%;
  }
  body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth form .inputs ul {
    padding-left: 0;
  }
  body #simplemodal-container div.simplemodal-wrap #simplemodal-data #spth form .inputs ul li {
    padding-left: 0 !important;
  }
}
@media screen and (max-height: 800px) {
  body .cd-fixed-background.img-4 .cd-content .centrar {
    position: relative;
    top: 0;
    margin-top: auto;
  }
}
@media screen and (max-width: 666px) {
  body .cd-fixed-background.img-4 .cd-content .centrar {
    position: relative;
    top: 0;
    margin-top: auto;
  }
}
@media screen and (max-width: 360px) and (min-height: 479px) {
  body .cd-fixed-background.img-3 .cd-content div.sliderHistoria div.slidesContainer div div {
    height: 355px;
  }
}
@media screen and (max-width: 666px) and (min-height: 320px) {
  body a.menu {
    left: 5px;
  }
  body a#facebook,
  body a#twitter,
  body a#instagram {
    right: 5px;
  }
  body .cd-fixed-background.img-1 {
    overflow: hidden;
  }
  body .cd-fixed-background.img-1 .cd-content {
    text-align: right;
  }
  body .cd-fixed-background.img-1 .cd-content .svgContainer,
  body .cd-fixed-background.img-1 .cd-content a.conoce_mas {
    position: relative;
  }
  body .cd-fixed-background.img-1 .cd-content .svgContainer {
    bottom: auto;
    top: 10px;
    width: 93%;
    height: 27%;
  }
  body .cd-fixed-background.img-1 .cd-content .svgContainer svg {
    height: auto;
    width: 100%;
  }
  body .cd-fixed-background.img-1 .cd-content .secondbeer {
    width: 57%;
    right: auto;
    left: auto;
  }
  body .cd-fixed-background.img-1 .cd-content .secondbeer img {
    width: 227px;
    height: auto;
  }
  body .cd-fixed-background.img-1 .cd-content a.conoce_mas {
    display: inline-block;
    bottom: auto;
    left: auto;
    right: 50px;
    margin: 10px 0 0 0;
  }
  body .cd-fixed-background.img-1 .cd-content .anim.de {
    display: block;
    margin: 20px auto 0;
    position: relative;
    max-height: 70%;
    max-width: 60%;
    z-index: 1;
  }
  body .cd-fixed-background.img-1 .cd-content div.conoce_mas {
    background: #222;
    z-index: 11;
    text-align: left;
    padding: 10px 35px 10px 10px;
    width: 87%;
    max-height: 100%;
  }
  body .cd-fixed-background.img-1 .cd-content div.conoce_mas a {
    right: 0;
    margin: 5px 0 10px 0;
  }
  body .cd-fixed-background.img-3 .cd-content p.hist {
    font-size: 1.4em;
  }
  body .cd-fixed-background.img-3 .cd-content div.sliderHistoria {
    margin-top: 0;
  }
}
@media screen and (max-width: 666px) and (min-height: 530px) {
  body .cd-fixed-background.img-3 .cd-content {
    top: 50%;
    margin: -264px 0 0 0;
    height: 529px;
  }
}
@media screen and (max-width: 360px) and (min-height: 540px) {
  body .cd-fixed-background.img-3 .cd-content div.sliderHistoria div.slidesContainer div div {
    height: 375px;
  }
}
@media screen and (min-height: 568px) {
  body #Home.cd-header img.anim {
    margin-top: 80px;
  }
}
@media screen and (max-width: 601px) and (min-height: 600px) {
  body .cd-fixed-background.img-1.mas .cd-content div.conoce_mas {
    bottom: 48px;
  }
}
@media screen and (max-width: 1200px) and (min-height: 641px) {
  body #conoce-mas img.anim {
    min-height: 10px;
    width: 34%;
  }
}
@media screen and (max-width: 420px) and (min-height: 700px) {
  body #conoce-mas img.anim {
    min-height: 10px;
    width: 70%;
  }
}
@media screen and (min-height: 650px) {
  body #Home.cd-header img.anim {
    margin-top: 135px;
  }
}
@media screen and (max-width: 1300px) and (min-height: 900px) {
  body #conoce-mas img.anim {
    min-height: 10px;
    width: 34%;
  }
}
@media screen and (max-width: 601px) and (min-height: 900px) and (orientation: portrait) {
  body #conoce-mas img.anim {
    width: auto;
    min-height: 10px;
    max-width: 60%;
  }
}
@media screen and (max-width: 480px) and (orientation: portrait) {
  body #simplemodal-data #spth form a {
    float: none;
    display: inline-block;
  }
  body #simplemodal-data #spth form p {
    display: block;
    width: auto;
  }
}
@media screen and (min-width: 666px) and (min-height: 534px) {
  body #conoce-mas img.anim {
    min-height: 10px;
  }
}
@media only screen and (min-width: 667px) {
  body.home .cd-header h1 {
    font-size: 3.6rem;
    font-weight: 300;
  }
  body.home .cd-fixed-background {
    height: 100%;
    padding: 0;
  }
  body.home .cd-fixed-background h2 {
    font-size: 3.6rem;
    font-weight: 300;
  }
  body.home .cd-fixed-background p {
    font-size: 1.8rem;
    line-height: 1.8;
  }
}
@media only screen and (min-width: 1048px) {
  body.home .cd-fixed-background:not(.img-5) {
    background-attachment: fixed;
  }
}
/*
@media only screen and (min-width:1200px)
	body.home
		.cd-vertical-nav
			display block
*/
@-moz-keyframes neon1 {
  0% {
    stroke-width: 0px;
  }
  30% {
    stroke-width: 0px;
  }
  31% {
    stroke: #611aef;
    stroke-width: 4px;
  }
  98% {
    stroke: #611aef;
    stroke-width: 4px;
  }
  100% {
    stroke-width: 0px;
  }
}
@-webkit-keyframes neon1 {
  0% {
    stroke-width: 0px;
  }
  30% {
    stroke-width: 0px;
  }
  31% {
    stroke: #611aef;
    stroke-width: 4px;
  }
  98% {
    stroke: #611aef;
    stroke-width: 4px;
  }
  100% {
    stroke-width: 0px;
  }
}
@-o-keyframes neon1 {
  0% {
    stroke-width: 0px;
  }
  30% {
    stroke-width: 0px;
  }
  31% {
    stroke: #611aef;
    stroke-width: 4px;
  }
  98% {
    stroke: #611aef;
    stroke-width: 4px;
  }
  100% {
    stroke-width: 0px;
  }
}
@keyframes neon1 {
  0% {
    stroke-width: 0px;
  }
  30% {
    stroke-width: 0px;
  }
  31% {
    stroke: #611aef;
    stroke-width: 4px;
  }
  98% {
    stroke: #611aef;
    stroke-width: 4px;
  }
  100% {
    stroke-width: 0px;
  }
}
@-moz-keyframes neon2 {
  0% {
    text-shadow: 0 0 20px #228dff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #228dff;
  }
  10% {
    text-shadow: 0;
  }
  20% {
    text-shadow: 0 0 10px #228dff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff;
  }
  30% {
    text-shadow: 0;
  }
  40% {
    text-shadow: 0 0 20px #228dff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #228dff;
  }
  85% {
    text-shadow: 0 0 10px #228dff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff;
  }
  90% {
    text-shadow: 0;
  }
}
@-webkit-keyframes neon2 {
  0% {
    text-shadow: 0 0 20px #228dff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #228dff;
  }
  10% {
    text-shadow: 0;
  }
  20% {
    text-shadow: 0 0 10px #228dff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff;
  }
  30% {
    text-shadow: 0;
  }
  40% {
    text-shadow: 0 0 20px #228dff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #228dff;
  }
  85% {
    text-shadow: 0 0 10px #228dff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff;
  }
  90% {
    text-shadow: 0;
  }
}
@-o-keyframes neon2 {
  0% {
    text-shadow: 0 0 20px #228dff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #228dff;
  }
  10% {
    text-shadow: 0;
  }
  20% {
    text-shadow: 0 0 10px #228dff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff;
  }
  30% {
    text-shadow: 0;
  }
  40% {
    text-shadow: 0 0 20px #228dff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #228dff;
  }
  85% {
    text-shadow: 0 0 10px #228dff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff;
  }
  90% {
    text-shadow: 0;
  }
}
@keyframes neon2 {
  0% {
    text-shadow: 0 0 20px #228dff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #228dff;
  }
  10% {
    text-shadow: 0;
  }
  20% {
    text-shadow: 0 0 10px #228dff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff;
  }
  30% {
    text-shadow: 0;
  }
  40% {
    text-shadow: 0 0 20px #228dff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #228dff;
  }
  85% {
    text-shadow: 0 0 10px #228dff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff;
  }
  90% {
    text-shadow: 0;
  }
}
@-moz-keyframes neon3 {
  0% {
    bottom: 105px;
    left: 0.8%;
  }
  25% {
    bottom: 105px;
    left: 0.1%;
  }
  50% {
    bottom: 100px;
    left: 0.9%;
  }
  75% {
    bottom: 100px;
    left: 0.1%;
  }
  100% {
    bottom: 102px;
    left: 0.9%;
  }
}
@-webkit-keyframes neon3 {
  0% {
    bottom: 105px;
    left: 0.8%;
  }
  25% {
    bottom: 105px;
    left: 0.1%;
  }
  50% {
    bottom: 100px;
    left: 0.9%;
  }
  75% {
    bottom: 100px;
    left: 0.1%;
  }
  100% {
    bottom: 102px;
    left: 0.9%;
  }
}
@-o-keyframes neon3 {
  0% {
    bottom: 105px;
    left: 0.8%;
  }
  25% {
    bottom: 105px;
    left: 0.1%;
  }
  50% {
    bottom: 100px;
    left: 0.9%;
  }
  75% {
    bottom: 100px;
    left: 0.1%;
  }
  100% {
    bottom: 102px;
    left: 0.9%;
  }
}
@keyframes neon3 {
  0% {
    bottom: 105px;
    left: 0.8%;
  }
  25% {
    bottom: 105px;
    left: 0.1%;
  }
  50% {
    bottom: 100px;
    left: 0.9%;
  }
  75% {
    bottom: 100px;
    left: 0.1%;
  }
  100% {
    bottom: 102px;
    left: 0.9%;
  }
}
