/// Mixin to prefix a property
/// @author Hugo Giraudel
/// @param {String} $property - Property name
/// @param {*} $value - Property value
/// @param {List} $prefixes (()) - List of prefixes to print
@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
 
  // Output standard non-prefixed declaration
  #{$property}: $value;
}

//Mixin to maintain ratio
@mixin maintain-ratio($ratio: 1 1) {
  @if length($ratio) < 2 or length($ratio) > 2 {
    @warn "$ratio must be a list with two values.";
  }

  $width: 100%;
  $height: percentage(nth($ratio, 2) / nth($ratio, 1));
  
  width: $width;
  height: 0;
  padding-bottom: $height;
}

//Reusable elements
$size: 100%;
//Estilos Generales

html,
body {
	width: 100%;
	height: 100%;
	padding:0;
	margin:0;
	min-width:320px;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(222, 221, 217, 0.66);
}
.overlay{
	width: 100%;
	top:0;
	bottom:0;
	left:0;
	right: 0;
	position: fixed;
	background: rgba(0,0,0,0.72);
	z-index:10;
	display: none;
	&.start{
		display:block;
	}
	.message {
	    width: 46%;
	    position: absolute;
	    height: 47%;
	    top: 12%;
	    left: 25%;
	    background: #fff;
	    padding: 3% 1% 2% 1%;
	    text-align: center;
	    @media screen and (max-width:680px){
	    	height:auto;
	    }
	    @media screen and (max-width:480px){
	    	width: 80%;
		    top: 8%;
		    left: 10%;
	    }
	    @media screen and (max-width: 480px){
			width: 90%;
		    top: 8%;
		    left: 5%;
	    }
		@include prefix(border-radius, 10px, webkit ms moz);
	    p {
		    color: #333;
		    font-size: 17px;
		    text-align: center;
		    margin-left: auto;
		    margin-right: auto;
		    @media screen and (max-width:680px){
		    	font-size: 14px;
		    }
		    &.stats{
		    	display: inline-block;
    			width: 32%;
    			@media screen and (max-width:680px){
    				width:100%;
    			}
		    }
		    span{
		    	font-size: 21px;
				font-weight: bold;
				text-transform: uppercase;
		    }
		}
		.btn{
			display: block;
			position:static;
			margin:4% auto;
			@media screen and (max-width:680px){
				width:90%;
			}
		}
		img{
			max-width: 100%;
		}
	}
	h1 {
	    color: #fff;
	    text-transform: uppercase;
	    text-align: center;
	}
	.steps-one {
	    position: absolute;
	    top: 25%;
	    left: 23%;
	    color: #fff;
	    @media screen and (max-width:768px){
	    	top: 13%;
    		left: 16%;
	    }
	    p {
		    font-size: 20px;
		}
		.arrow-first{
			position: absolute;
			top: 40%;
		    left: 13%;
		    transform: rotate(-98deg);
		}
		.hand{
			position: absolute;
			top: 141px;
		    left: 142px;
		    width: 134px;
		}
	}
	.steps-two {
	    position: absolute;
	    right: 15%;
		top: 7%;
	    color: #fff;
	    width: 23%;
	    height: 27%;
	    @media screen and (max-width:768px){
		    right: 50%;
		    top: unset;
		    color: #fff;
		    width: 35%;
		    height: 27%;
		    bottom: 6%;
	    }
	    p {
		    font-size: 20px;
		    position: absolute;
		    right: 5%;
   			top: 21%;
		}
		img.arrow.second {
		    position: absolute;
		    top: 42%;
		    left: 100px;
		    transform: rotate(-42deg);
		}
	}
	 .btn {
	    display: inline-block;
	    width: 228px;
    	margin: 4%;
    	position: absolute;
	    left: 40%;
	    top: 50%;
	    @media screen and (max-width:768px){
	    	width: 228px;
		    margin: 0 0 0 -114px;
		    position: absolute;
		    left: 50%;
		    top: 50%
	    }
	}
}

.mainWrapper {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    nav.navbar.navbar-default {
	    position: fixed;
	    top: 0;
	    height: 50px;
	    z-index: 8;
	    width: 100%;
	}
	.contenedor{
		position: absolute;
	    width: 100%;
	    top: 0;
	    bottom: 0;
	    top: 100px;
	    padding-right: 300px;
		@media screen and (max-width:768px){
			float:none;
			width:100%;
			margin: 0 auto;
			padding-right: 0;
			top: 73px;
		}
		.deck {
			width: 716px;
		    height: 712px;
		    margin: 0 auto;
		    background: rgba(68, 68, 68, 0.1);
		    border-radius: 10px;
		    list-style-type: none;
		    padding: 10px;
		    @media screen and (max-width:1024px){
				width: 578px;
				height: 580px;
			}
			@media screen and (max-height:768px){
				width: 578px;
				height: 580px;
				margin-top: 5px;
			}
		    @media screen and (max-width:900px){
		    	width: 516px;
		    	height: 512px;
		    }
		    @media screen and (max-width:680px){
		    	width: 405px;
	    		height: 403px;
		    }
		   @media screen and (max-width:360px) {
			    width: 310px;
			    height: 308px;
			}
		}

		*::selection {
			background: transparent;
		}

		.card {
		    height: 111px;
		    width: 110px;
		    background: #A5A5A5;
		    display: inline-block;
		    margin: 0px 3px 5px 3px;
			font-size: 0;
			color: #ffffff;
			text-align: center;
			border-radius: 8px;
			vertical-align: top;
			cursor: pointer;
			@include prefix(transform, rotateY(180deg), webkit ms moz);
			transform-style: preserve-3d;
			transition: transform .3s ease;
			font-family: FontAwesome;
			@media screen and (max-width:1024px){
				height: 89px;
				width: 87px;
			}
			@media screen and (max-height:768px){
				height: 89px;
				width: 87px;
			}
			@media screen and (max-width: 900px){
				height: 78px;
	    		width: 76px
			}
			@media screen and (max-width: 680px){
				height: 59px;
	    		width: 58px;
			}
			@media screen and (max-width: 360px){
				height: 44px;
	    		width: 42px;
			}
			
			&.open {
				transform: rotateY(0);
				background: #004182;
				cursor: default;
			}
			&.show {
				font-size: 40px;
				display: inline-block !important;
			}
			
			&.match {
				transform: rotateY(0);
				cursor: default;
				background: #9BCB3C;
				font-size: 3em;
			}
			
			&.notmatch {
				background: #EE0E51;
			}
		}

		.fa{
			vertical-align: middle;
			font-size: 1em;
		    display: block;
		    line-height: 2.5em;
		    @media screen and (max-width: 900px){
		    	line-height: 2em;
		    }
		    @media screen and (max-width:680px){
		    	line-height: 1.5em;
		    }
		    @media screen and (max-width:360px){
		    	line-height: 1.4em;
    			font-size: 0.8em;
		    }
		}
		#curtain {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: rgba(0,0,0,0.8);
			text-align: center;
			font-size: 50px;
			color: #ffffff;
			padding: 150px 0 0 0;
			opacity: 0;
			display: none;
			
			&.active {
				opacity: 1;
			}
			
			.restart {
				cursor: pointer;
				background: #ffffff;
				border-radius: 10px;
				heigth: 10px;
				width: 200px;
				position: absolute;
				left: 50%;
				transform: translate(-50%, 30px);
				color: #000000;
			}
		}
	}
}

.mainWrapper .container-fluid{
    background: #F9F9F9 !important;
}

#gamedata {
    width: 341px;
    position:absolute;
    right: 0;
    // height: 98%;
    background: rgba(68, 68, 68, 0.13);
    padding: 1%;
    top: 50px;
    @media screen and (max-width: 1100px){
    	width:250px;
    }
    @media screen and (max-width: 768px){
	   	width: 100%;
	    bottom:0;
	    height: auto;
	    top: unset;
	    margin-top: 0px;
    }
    .points {
	    display: block;
	    background: #f5f5f5;
		font-size: 24px;
	    text-align: center;
	    @media screen and (max-width:768px){
	    	width: 30%;
		    float: left;
		    margin-right: 1%;
	    }
	    @media screen and (max-width:768px){
	    	font-size: 18px;
	    }
	    span{
	    	font-size: 34px;
	    	font-weight: bold;
	    }
	}

    .btn {
	    display: inline-block;
    	margin: 5px;
    	@media screen and (max-width: 768px){
    		width: 32%;
    		margin:0;
    	}
	}

	button.btn.btn-default.control {
	    width: 41%;
	    font-size: 46px;
	    height: 62px;
	    margin-left: auto;
	    margin-right: auto;
	    display: block;
	    @media screen and (max-width:768px){
	    	width: 31%;
    		float: right;
	    }
	    &.pause:before{
	    	font-family: 'FontAwesome';
	    	content:'\f28b';
	    	line-height: 38px;
    		display: block;
	    }
	    &.play:before{
	    	font-family: 'FontAwesome';
	    	content:'\f144';
	    	line-height: 38px;
    		display: block;
	    }
	    &.restart:before{
	    	font-family: 'FontAwesome';
	    	content:'\f021';
	    	line-height: 38px;
    		display: block;
	    }
	}

	.countdown{
		zoom: 0.7;
		-moz-transform: scale(0.7);
		@media screen and (min-width:1025px){
			zoom: 0.9;
			-moz-transform: scale(0.9);
		}
		// @media screen and (max-width:1024px){
		// 	zoom: 0.5;
		// 	-moz-transform: scale(0.5);
		// }
		@media screen and (max-width:768px){
			zoom: 0.6;
		    width: auto;
		    -moz-transform: scale(0.6);
		    text-align: center;
		    margin: 0 auto;
		    float: left;
		}
		@media screen and (max-width:680px){
			zoom: 0.5;
		}
		@media screen and (max-width:480px){
			zoom: 0.45;
		}
		@media screen and (max-width:360px){
			zoom: 0.39;
		}
		@media screen and (max-width:320px){
			zoom: 0.38;
		}

	}
	.flip-clock-label{
		display:none;
	}
	h3 {
	    font-size: 24px;
	    text-align: center;
	    color: #fff;
	}


}