html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  min-width: 320px; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(222, 221, 217, 0.66); }

.overlay {
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.72);
  z-index: 10;
  display: none; }
  .overlay.start {
    display: block; }
  .overlay .message {
    width: 46%;
    position: absolute;
    height: 47%;
    top: 12%;
    left: 25%;
    background: #fff;
    padding: 3% 1% 2% 1%;
    text-align: center;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; }
    @media screen and (max-width: 680px) {
      .overlay .message {
        height: auto; } }
    @media screen and (max-width: 480px) {
      .overlay .message {
        width: 80%;
        top: 8%;
        left: 10%; } }
    @media screen and (max-width: 480px) {
      .overlay .message {
        width: 90%;
        top: 8%;
        left: 5%; } }
    .overlay .message p {
      color: #333;
      font-size: 17px;
      text-align: center;
      margin-left: auto;
      margin-right: auto; }
      @media screen and (max-width: 680px) {
        .overlay .message p {
          font-size: 14px; } }
      .overlay .message p.stats {
        display: inline-block;
        width: 32%; }
        @media screen and (max-width: 680px) {
          .overlay .message p.stats {
            width: 100%; } }
      .overlay .message p span {
        font-size: 21px;
        font-weight: bold;
        text-transform: uppercase; }
    .overlay .message .btn {
      display: block;
      position: static;
      margin: 4% auto; }
      @media screen and (max-width: 680px) {
        .overlay .message .btn {
          width: 90%; } }
    .overlay .message img {
      max-width: 100%; }
  .overlay h1 {
    color: #fff;
    text-transform: uppercase;
    text-align: center; }
  .overlay .steps-one {
    position: absolute;
    top: 25%;
    left: 23%;
    color: #fff; }
    @media screen and (max-width: 768px) {
      .overlay .steps-one {
        top: 13%;
        left: 16%; } }
    .overlay .steps-one p {
      font-size: 20px; }
    .overlay .steps-one .arrow-first {
      position: absolute;
      top: 40%;
      left: 13%;
      transform: rotate(-98deg); }
    .overlay .steps-one .hand {
      position: absolute;
      top: 141px;
      left: 142px;
      width: 134px; }
  .overlay .steps-two {
    position: absolute;
    right: 15%;
    top: 7%;
    color: #fff;
    width: 23%;
    height: 27%; }
    @media screen and (max-width: 768px) {
      .overlay .steps-two {
        right: 50%;
        top: unset;
        color: #fff;
        width: 35%;
        height: 27%;
        bottom: 6%; } }
    .overlay .steps-two p {
      font-size: 20px;
      position: absolute;
      right: 5%;
      top: 21%; }
    .overlay .steps-two img.arrow.second {
      position: absolute;
      top: 42%;
      left: 100px;
      transform: rotate(-42deg); }
  .overlay .btn {
    display: inline-block;
    width: 228px;
    margin: 4%;
    position: absolute;
    left: 40%;
    top: 50%; }
    @media screen and (max-width: 768px) {
      .overlay .btn {
        width: 228px;
        margin: 0 0 0 -114px;
        position: absolute;
        left: 50%;
        top: 50%; } }

.mainWrapper {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; }
  .mainWrapper nav.navbar.navbar-default {
    position: fixed;
    top: 0;
    height: 50px;
    z-index: 8;
    width: 100%; }
  .mainWrapper .contenedor {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    top: 100px;
    padding-right: 300px; }
    @media screen and (max-width: 768px) {
      .mainWrapper .contenedor {
        float: none;
        width: 100%;
        margin: 0 auto;
        padding-right: 0;
        top: 73px; } }
    .mainWrapper .contenedor .deck {
      width: 716px;
      height: 712px;
      margin: 0 auto;
      background: rgba(68, 68, 68, 0.1);
      border-radius: 10px;
      list-style-type: none;
      padding: 10px; }
      @media screen and (max-width: 1024px) {
        .mainWrapper .contenedor .deck {
          width: 578px;
          height: 580px; } }
      @media screen and (max-height: 768px) {
        .mainWrapper .contenedor .deck {
          width: 578px;
          height: 580px;
          margin-top: 5px; } }
      @media screen and (max-width: 900px) {
        .mainWrapper .contenedor .deck {
          width: 516px;
          height: 512px; } }
      @media screen and (max-width: 680px) {
        .mainWrapper .contenedor .deck {
          width: 405px;
          height: 403px; } }
      @media screen and (max-width: 360px) {
        .mainWrapper .contenedor .deck {
          width: 310px;
          height: 308px; } }
    .mainWrapper .contenedor *::selection {
      background: transparent; }
    .mainWrapper .contenedor .card {
      height: 111px;
      width: 110px;
      background: #A5A5A5;
      display: inline-block;
      margin: 0px 3px 5px 3px;
      font-size: 0;
      color: #ffffff;
      text-align: center;
      border-radius: 8px;
      vertical-align: top;
      cursor: pointer;
      -webkit-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      transform: rotateY(180deg);
      transform-style: preserve-3d;
      transition: transform .3s ease;
      font-family: FontAwesome; }
      @media screen and (max-width: 1024px) {
        .mainWrapper .contenedor .card {
          height: 89px;
          width: 87px; } }
      @media screen and (max-height: 768px) {
        .mainWrapper .contenedor .card {
          height: 89px;
          width: 87px; } }
      @media screen and (max-width: 900px) {
        .mainWrapper .contenedor .card {
          height: 78px;
          width: 76px; } }
      @media screen and (max-width: 680px) {
        .mainWrapper .contenedor .card {
          height: 59px;
          width: 58px; } }
      @media screen and (max-width: 360px) {
        .mainWrapper .contenedor .card {
          height: 44px;
          width: 42px; } }
      .mainWrapper .contenedor .card.open {
        transform: rotateY(0);
        background: #004182;
        cursor: default; }
      .mainWrapper .contenedor .card.show {
        font-size: 40px;
        display: inline-block !important; }
      .mainWrapper .contenedor .card.match {
        transform: rotateY(0);
        cursor: default;
        background: #9BCB3C;
        font-size: 3em; }
      .mainWrapper .contenedor .card.notmatch {
        background: #EE0E51; }
    .mainWrapper .contenedor .fa {
      vertical-align: middle;
      font-size: 1em;
      display: block;
      line-height: 2.5em; }
      @media screen and (max-width: 900px) {
        .mainWrapper .contenedor .fa {
          line-height: 2em; } }
      @media screen and (max-width: 680px) {
        .mainWrapper .contenedor .fa {
          line-height: 1.5em; } }
      @media screen and (max-width: 360px) {
        .mainWrapper .contenedor .fa {
          line-height: 1.4em;
          font-size: 0.8em; } }
    .mainWrapper .contenedor #curtain {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.8);
      text-align: center;
      font-size: 50px;
      color: #ffffff;
      padding: 150px 0 0 0;
      opacity: 0;
      display: none; }
      .mainWrapper .contenedor #curtain.active {
        opacity: 1; }
      .mainWrapper .contenedor #curtain .restart {
        cursor: pointer;
        background: #ffffff;
        border-radius: 10px;
        heigth: 10px;
        width: 200px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 30px);
        color: #000000; }

.mainWrapper .container-fluid {
  background: #F9F9F9 !important; }

#gamedata {
  width: 341px;
  position: absolute;
  right: 0;
  background: rgba(68, 68, 68, 0.13);
  padding: 1%;
  top: 50px; }
  @media screen and (max-width: 1100px) {
    #gamedata {
      width: 250px; } }
  @media screen and (max-width: 768px) {
    #gamedata {
      width: 100%;
      bottom: 0;
      height: auto;
      top: unset;
      margin-top: 0px; } }
  #gamedata .points {
    display: block;
    background: #f5f5f5;
    font-size: 24px;
    text-align: center; }
    @media screen and (max-width: 768px) {
      #gamedata .points {
        width: 30%;
        float: left;
        margin-right: 1%; } }
    @media screen and (max-width: 768px) {
      #gamedata .points {
        font-size: 18px; } }
    #gamedata .points span {
      font-size: 34px;
      font-weight: bold; }
  #gamedata .btn {
    display: inline-block;
    margin: 5px; }
    @media screen and (max-width: 768px) {
      #gamedata .btn {
        width: 32%;
        margin: 0; } }
  #gamedata button.btn.btn-default.control {
    width: 41%;
    font-size: 46px;
    height: 62px;
    margin-left: auto;
    margin-right: auto;
    display: block; }
    @media screen and (max-width: 768px) {
      #gamedata button.btn.btn-default.control {
        width: 31%;
        float: right; } }
    #gamedata button.btn.btn-default.control.pause:before {
      font-family: 'FontAwesome';
      content: '\f28b';
      line-height: 38px;
      display: block; }
    #gamedata button.btn.btn-default.control.play:before {
      font-family: 'FontAwesome';
      content: '\f144';
      line-height: 38px;
      display: block; }
    #gamedata button.btn.btn-default.control.restart:before {
      font-family: 'FontAwesome';
      content: '\f021';
      line-height: 38px;
      display: block; }
  #gamedata .countdown {
    zoom: 0.7;
    -moz-transform: scale(0.7); }
    @media screen and (min-width: 1025px) {
      #gamedata .countdown {
        zoom: 0.9;
        -moz-transform: scale(0.9); } }
    @media screen and (max-width: 768px) {
      #gamedata .countdown {
        zoom: 0.6;
        width: auto;
        -moz-transform: scale(0.6);
        text-align: center;
        margin: 0 auto;
        float: left; } }
    @media screen and (max-width: 680px) {
      #gamedata .countdown {
        zoom: 0.5; } }
    @media screen and (max-width: 480px) {
      #gamedata .countdown {
        zoom: 0.45; } }
    @media screen and (max-width: 360px) {
      #gamedata .countdown {
        zoom: 0.39; } }
    @media screen and (max-width: 320px) {
      #gamedata .countdown {
        zoom: 0.38; } }
  #gamedata .flip-clock-label {
    display: none; }
  #gamedata h3 {
    font-size: 24px;
    text-align: center;
    color: #fff; }

/*# sourceMappingURL=style.css.map */
