
  /*=======================================================
  =            Estilos Responsive del documento            =
  =======================================================*/

/*----------  Tablet portrait  ----------*/


@media screen and (max-width:768px){

	a.menuToggle {
		top:0;
		display: block;
	}

	#home .logo {
	    width: 45px;
	    height: 79px;
	    background-size: contain;
	}

	.nav-container {
	    position: fixed;
	    top: 0;
	    bottom: 0;
	    z-index: 300;
	    background: rgba(0, 0, 0, 0.86);
	    right: 0;
	    left: 0;
	    bottom: 0;
	    display: none;
	    min-height: 1024px;
	}

	.nav-container ul {
    	list-style: outside none none;
    	padding: 62px 0 0 0;
    	margin: 0px 0px 0px 0px;
	}

	.nav-container ul li a {
	    font-size: 11px;
		margin: 1% 0px 8%;
		padding: 2%;
	    text-align: right;
	    background-image: none;
	    text-align: center;
	    color: #fff;
	}

	.nav-container ul li a:hover , .nav-container ul li a.active:hover{
	    background: #fff;
	    border-radius: 0px;
	    text-align: center;
	    color: #6B6B6B;
	    padding: 2%;
}

	.nav-container ul li a.active {
    	background-image: none;
    	color:#fff;
	}

	.logoMain .mobile{
    	display: block;
	}
	.logoMain .desktop{
		display:none;
	}

	.logoMain {
    	width: 37%;
    	left: 50%;
    	margin-left: -19%;
	}

	#events .container {
	    width: 72%;
	    margin: 0px auto 0px -33%;
	    top: 13%;
	    left: 45%;
	    height:69%;
	}

	a.menuToggle{
		z-index: 303;
		padding: 10px 5px 0px;
		display: block;
	}

	a.next{
		height:80px;
		right: 30%;
		top: 70%;
		background-image:url(../images/arrow_white_right.png);
	}

	a.prev {
		left:28%;
		height:80px;
		top: 70%;
		background-image:url(../images/arrow_white_left.png);
	}

	#events .container {
		height:71%;
	}

	#events .container p {
    	font-size: 11px;
	}

	#events .lines {
    	height: 76px;
	}

	#home .lines {
	    height: 196px;
	    position: absolute;
	    bottom: -67px;
	    z-index: 3;
	}
	
	.container {
	    width: 72%;
	    margin: 0px auto 0px -15%;
	    height: 69%;
	    top: 15%;
	    left: 28%;
	}

	.container .info p {
    	vertical-align: middle;
    	padding-top: 21%;
    	margin-bottom: 22px;
	}	
	#end .logoMain {
	    top: 36%;
	    width: 56%;
	    left: 50%;
	    margin-left: -32%;
	}

	.paneOne, .paneTwo{
		background: none;
	}

}

/*----------  Tablet Landscape  ----------*/

@media screen and (max-width : 1024px) {

	.nav-container ul li a {
	    font-size: 11px;
		margin: 1% 0px 5%;
		padding: 1%;
	    text-align: right;
	    background-image: none;
	    text-align: center;
	    color: #fff;
	    text-shadow:none;
	}

	.nav-container {
	    position: fixed;
	    top: 0;
	    bottom: 0px;
	    z-index: 300;
	    background: rgba(0, 0, 0, 0.86);
	    right: 0;
	    left: 0;
	    bottom: 0;
	    display: none;
	    min-height: 1024px;
	}

	.nav-container ul {
    	list-style: outside none none;
    	padding: 62px 0 0 0;
    	margin: 0px 0px 0px 0px;
	}


	.nav-container ul li a.active {
    	background-image: none;
	}

	a.menuToggle{
		z-index: 303;
		padding: 10px 5px 0px;
		display: block;
	}

	.grid-item{
		width: 46% !important;
	}

}

/*----------  Mobile Portrait  ----------*/
@media screen and (max-width:500px){

.grid-item{
		width: 100% !important;
	}

section {
	min-height:640px;
}

}

 
@media screen and (max-width:360px) and (max-height:640px){

	.nav-container {
		min-height: 700px;
	}

	.nav-container ul li a {
	    font-size: 11px;
		margin: 1% 0px 16%;
		padding: 1%;
	    text-align: right;
	    background-image: none;
	    text-align: center;
	    color: #fff;
	    text-shadow:none;
	}

	#home .logo {
	    width: 45px;
	    height: 79px;
	    background-size: contain;
	}

	.logoMain .mobile{
    	display: block;
	}
	.logoMain .desktop{
		display:none;
	}

	.logoMain {
    	width: 37%;
    	left: 50%;
    	margin-left: -19%;
	}

	#events .container p {
    	font-size: 11px;
	}

	#events .lines {
    	height: 76px;
	}

	#home .lines {
	    height: 196px;
	    position: absolute;
	    bottom: -67px;
	    z-index: 3;
	}

	.container .info p {
    	vertical-align: middle;
    	padding-top: 21%;
    	margin-bottom: 22px;
	}	
	#end .logoMain {
	    top: 36%;
	    width: 56%;
	    left: 50%;
	    margin-left: -32%;
	}
	.grid-item{
		width: 100% !important;
	}

}

/*----------  Mobile Landscape  ----------*/

@media screen and (max-width:640px) and (max-height:360px){
	.nav-container ul li a {
	    font-size: 11px;
		margin: 1% 0px 4%;
		padding: 1%;
	    text-align: right;
	    background-image: none;
	    text-align: center;
	    color: #fff;
	     text-shadow:none;
	}

	.nav-container {
		min-height: 700px;
	}
	.grid-item{
		width: 100% !important;
	}

}	
