html,
body {
	width: 100%;
	height: 100%
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #FAF6ED;
}
.deck {
	min-width: 605px;
	width: 605px;
	margin: 0 auto;
	background: #FFD717;
	padding: 25px;
	border-radius: 10px;
}

*::selection {
	background: transparent;
}

.card {
	height: 140px;
	width: 140px;
	background: #0DA574;
	display: inline-block;
	margin: 0 15px 15px 0;
	line-height: 140px;
	font-size: 0;
	color: #ffffff;
	text-align: center;
	border-radius: 8px;
	vertical-align: top;
	cursor: pointer;
	transform: rotateY(180deg);
	transform-style: preserve-3d;
	transition: transform .3s ease;
	font-family: FontAwesome;
	
	&:nth-child(4n) {
		margin: 0 0 15px 0;
	}
	
	&:nth-child(n+13) {
		margin: 0 15px 0 0;
		
		&:nth-child(4n) {
			margin: 0;
		}
	}
	
	&.open {
		transform: rotateY(0);
		background: #004182;
		cursor: default;
	}
	&.show {
		font-size: 53px;
	}
	
	&.match {
		transform: rotateY(0);
		cursor: default;
		background: #9BCB3C;
		font-size: 53px;
	}
	
	&.notmatch {
		background: #EE0E51;
	}
}

#curtain {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	text-align: center;
	font-size: 50px;
	color: #ffffff;
	padding: 150px 0 0 0;
	opacity: 0;
	display: none;
	
	&.active {
		opacity: 1;
	}
	
	.restart {
		cursor: pointer;
		background: #ffffff;
		border-radius: 10px;
		heigth: 10px;
		width: 200px;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 30px);
		color: #000000;
	}
}